.condition-top_bg (style="background-image: url(/assets/m/bg/sities.jpg)")
  .condition-top_cities Ознакомься с лучшими предложениями в твоей стране!
.layout-small
  - @countries.group_by { |country| country.slice(0).chr.upcase }.each do |initial, countries|
    - countries.each_slice(10) do |slice|
      - slice.each do |country|
        .contries_title
          = link_to country, "#{countries_path}/#{country.parameterize}"
        .contries_text
          = pluralize_products(Product.where(:country => country).count)
