.dragdrop-item.foto_img data-id="#{photo.id}"
  a= image_tag photo.image, class: "dragdrop-item__img"
  .dragdrop-item__remove.block_bucket
    a.link-grey href="" data-id="#{photo.id}"
      = image_tag 'm/icon/bucket.png'
