<% if user_signed_in?%>
  window.location.replace('<%= root_path %>')
<% else %>
$('#login_popup input').parent().addClass('inputbox_error');
$('#log_error_messages').show();
$('input').keydown(function () {
  $(this).parent().removeClass('inputbox_error')
  $('#log_error_messages').hide();
})
<% end %>
