/*account_01*/

.notification
  position: absolute
  top: 0
  left: 0
  height: 80px
  width: 610px
  line-height: 80px
  padding-left: 30px
  background: #d47a00
  color: #fff
  display: none
  z-index: 101
  a
    position: absolute
    right: 0
    top: 0
    width: 100px
    height: 80px
    background: asset-url('m/icon/close.png') no-repeat center center
  &.active
    display: block

.account_block
  height: 80px
  background-color: #1f2b2d
  margin: 0 auto
  position: relative
  .title_menu
    font-size: 24px
    display: none
  .title
    color: #a9abac
    font-size: 30px
    font-weight: bold
    line-height: 80px
    display: block
    height: 80px
    padding-left: 30px
    transition: ease 0.25s
    &:after
      content: ''
      background: asset-url('m/icon/left.png') no-repeat center center
      position: absolute
      width: 20px
      height: 20px
      right: 30px
      top: 30px
      transition: ease 0.25s
    &.active
      &:after
        -moz-transform: rotate(90deg)
        -ms-transform: rotate(90deg)
        -webkit-transform: rotate(90deg)
        -o-transform: rotate(90deg)
        transform: rotate(90deg)
      .title_menu
        display: block
      .item_title
        display: none

.account_menu
  position: absolute
  top: 80px
  width: 640px
  background-color: #fff
  display: none
  z-index: 2
  ul
    padding-left: 0
    li
      a
        display: block
        color: #4d4d4d
        padding-left: 80px
        border-bottom: 1px solid #ededed
        font-size: 18px
        font-weight: bold
        height: 60px
        line-height: 60px
  .account_item
    background: asset-url('m/icon/account_item.png') no-repeat 30px center
  .settings_item
    background: asset-url('m/icon/settings_item.png') no-repeat 30px center
  .product_item
    background: asset-url('m/icon/product_item.png') no-repeat 30px center
  .mesage_item
    background: asset-url('m/icon/mesage_item.png') no-repeat 30px center
  .favorites_item
    background: asset-url('m/icon/favorites_item.png') no-repeat 30px center
  .mesage
    color: #d47a00
  .menu_social
    padding: 40px 30px
    border-bottom: 1px solid #ededed
    a
      margin-right: 10px
      display: inline-block
      vertical-align: top



.account_block_top
  position: absolute
  display: none
  top: 80px
  z-index: 10
  .title
    height: 80px
    background: #ededed
    padding: 20px 30px
    .avatar_menu
      width: 80px
      height: 80px
      border-radius: 50%
      overflow: hidden
      float: left
      img
        width: 100%
        height: auto
    .name
      position: relative
      width: 220px
      height: 80px
      float: left
      font-size: 24px
      margin-left: 20px
      font-weight: bold
      .item
        position: absolute
        top: 50%
        width: 320px
        transform: translateY(-50%)
        color: #4d4d4d
        overflow: hidden
    .go_shop
      float: right
      color: #90908d
      height: 40px
      line-height: 40px
      margin-top: 20px
  .account_menu
    position: relative
    display: block
    top: 0
    &.unlogin
      border-top: 1px solid #dcdccd
      li
        a
          padding-left: 30px

.avatar
  width: 580px
  height: 170px
  margin: 30px 30px 0 30px
  border-bottom: 1px solid #dcdccd
  img
    float: left
  .button_avatar

    .button_change
      height: 38px
      border: 1px solid #d47a00
      border-radius: 3px
      float: left
      line-height: 38px
      margin: 20px 10px 0 30px
      a
        padding: 7px 13px
    .button_del_avatar
      height: 38px
      border: 1px solid #d47a00
      border-radius: 3px
      float: left
      line-height: 38px
      margin: 20px 10px 0 0px
      a
        padding: 7px 13px
    .avatar_text
      color: #a9abac
      line-height: 30px
      padding: 70px 0 0 170px
.avatar_name
  margin: 30px 30px 0px 30px
  padding-bottom: 30px
  border-bottom: 1px solid #dcdccd
  .item
    font-weight: bold
    margin-top: 30px
    input
      width: 580px
      height: 45px
      border: none
      margin-top: 10px
      padding-left: 10px
      font-weight: bold
.avatar_email
  padding: 40px 0 0 30px
  overflow: hidden
  .email_title
    float: none
    font-weight: bold
  input[type=email]
    width: 280px
    height: 45px
    border: none
    float: left
    margin: 15px 20px 0 0
    padding-left: 10px
  .button_pass
    height: 38px
    border: 1px solid #d47a00
    border-radius: 3px
    float: left
    line-height: 38px
    margin: 15px 0
    padding: 4px 0
    a
      padding: 12px 71px
.button_save_avatar
  height: 45px
  border: 1px solid #d47a00
  border-radius: 3px
  line-height: 45px
  margin: 50px 30px 65px 30px
  a
    padding: 8px 248px

.new_pas
  background-color: #FFF
  .item_pas
    margin: 0 auto
    padding: 35px 60px
    input[type='text']
      height: 50px
      margin: 10px 0
      background-color: #f4f4f3
      padding-left: 20px
      font-weight: bold
    .button_save_pas
      margin-top: 10px
      margin-bottom: 150px
      background-color: #d47a00
      border-radius: 3px
      text-align: center
      color: #fff
      padding: 15px 0 15px 0
      display: inline-block
      a
        padding: 15px 84px
        color: #fff
        text-decoration: none
.change_pas
  font-weight: bold
  a.account_block_pas
    line-height: 80px
    font-size: 16px
    padding: 0px 0px 0px 60px
    color: #90908d
    position: absolute
    float: left
    a
    &:before
      content: asset-url("m/icon/left1.png")
      position: absolute
      top: 5px
      left: 30px
  .title_account_pas
    height: 80px
    line-height: 80px
    font-size: 28px
    font-weight: bold
    color: #4d4d4d
    text-align: center

.profile_shop
  padding: 60px 30px
  .title_cover
    font-weight: bold
    color: #4d4d4d
  .img_cover
    margin-top: 30px
  .change_cover
    margin-top: 30px
  .anotation_cover
    margin-top: 30px
    ul
      padding: 0
      li
        color: #90908d
        line-height: 30px
  .item
    position: relative
  .item_label
    font-weight: bold
    color: #4d4d4d
    margin-top: 30px
  input,
  .dropdown
    margin-top: 30px
  textarea
    margin-top: 30px
  .checkbox
    input
      display: none
      &:checked
        &+span:before,
        &+.checkbox__label:before
          background: asset-url('m/checkbox/checkbox.png') no-repeat center center
    span,
    .checkbox__label
      display: block
      height: 50px
      line-height: 50px
      border-radius: 3px
      border: 1px solid #dcdccd
      text-align: center
      color: #4d4d4d
      position: relative
      margin-top: 10px
      cursor: pointer
      &:before
        content: ''
        position: absolute
        left: 10px
        width: 30px
        height: 30px
        top: 10px
        border: 1px solid #d47a00
        border-radius: 3px
        transition: ease 0.25s
  .button_full
    margin-top: 30px


.search_profile
  .search
    width: 280px
    display: inline-block
    position: relative
    input
    .but_search
      border: none
      width: 40px
      height: 50px
      position: absolute
      top: 0
      right: 5px
      background: asset-url('m/icon/search.png') no-repeat center center
      z-index: 1
  .sort_active
    display: inline-block
    width: 270px
    padding-left: 10px
    height: 50px
    line-height: 50px
    background: #fff
    position: relative
    color: #a9abac
    float: right
    border-radius: 3px
    &:after
      content: ''
      width: 20px
      height: 20px
      background: asset-url('m/icon/left.png') no-repeat center center
      position: absolute
      right: 20px
      top: 15px

.profile_goods,
.profile_favorit
  padding: 30px
  .list
    padding-bottom: 40px
    .item_product_profile
      background: #fff
      padding: 10px 30px 30px 30px
      border-radius: 3px
      margin-top: 20px
      .img
        width: 110px
        height: 110px
        float: left
        margin-left: -20px
        img
          width: 100%
          height: 100%
          border: 0
      .content
        margin-left: 120px
        .prise
          color: #d47a00
          font-weight: bold
          font-size: 24px
          margin-top: 20px
        .title
          font-size: 24px
          color: #4d4d4d
          margin-top: 20px
        .param
          padding-left: 0
          margin-top: 20px
          li
            color: #90908d
            line-height: 26px
      .state
        margin: 30px 0
      .button_empty_small2
        float: left
        margin-right: 10px
      .add
        float: right
        margin-left: 10px
      .button_eye
        float: right
        margin-left: 10px
      .button_arrow_orang
        float: right
      .del_right
        float: right

.profile_message
  padding: 30px
  padding-bottom: 50px
  .list
    padding-top: 20px
    .item_message
      border-bottom: 1px solid #dcdccd
      padding: 20px 30px
      color: #90908d
      display: block
      position: relative
      .title
        font-weight: bold
      .message_text
        font-weight: bold
      &.active
        &:before
          content: ''
          width: 15px
          height: 15px
          position: absolute
          top: 25px
          left: 0
          border-radius: 50%
          background: #d47a00
        .title
          color: #d47a00
        .message_text
          color: #4d4d4d

.inside_dialog
  padding: 0 30px
  margin-bottom: 50px
  .title
    position: relative
    font-size: 24px
    font-weight: bold
    color: #4d4d4d
    height: 80px
    line-height: 80px
    background: #f1f1ea
    padding-left: 140px
    .title_inside
      width: 230px
      overflow: hidden
      height: 80px
    .back
      position: absolute
      left: 0
      top: 0
      padding-left: 60px
      height: 80px
      line-height: 80px
      font-size: 18px
      color: #90908d
      font-weight: normal
      background: asset-url('m/icon/left1.png') no-repeat 30px center
    .button_empty_small2
      font-weight: normal
      font-size: 18px
      float: right
      margin-top: 20px
      margin-right: 30px
  .dialogs_list
    .dislog_item
      padding: 25px 20px 30px 15px
      background: #fff
      .img
        width: 65px
        height: 65px
        border-radius: 50%
        float: left
        overflow: hidden
        img
          width: 100%
          height: auto
      .text
        padding: 10px
        margin-left: 85px
        .descript
          .aftor
            float: left
            padding-right: 20px
            color: #d47a00
          .date_deliv
            color: #90908d
      &.my_message
        .text
          background: #f4f4f0
  textarea
    margin-top: 20px
    color: #90908d
  .button_full
    margin-top: 20px

.del_dialog
  position: fixed
  top: 0
  width: 100%
  text-align: center
  padding-top: 60px
  padding-bottom: 60px
  background: #1f2b2d
  z-index: 10
  .title
    color: #fff
    font-weight: bold
    font-size: 24px
  .button_block
    margin-top: 60px
    display: inline-block
    .button_empty_small2
      margin: 0 10px

.del_dialog2
  display: none
  position: fixed
  top: 0
  width: 640px
  text-align: center
  padding-top: 60px
  padding-bottom: 60px
  background: #1f2b2d
  z-index: 10
  .title
    color: #fff
    font-weight: bold
    font-size: 24px
  .button_block2
    margin-top: 30px
    display: table-caption
    margin-left: 160px
    .button_empty_small2
      margin: 0 10px
      float: none
      width: 320px
      margin: 10px auto
