.button_false
  background-clip: padding-box
  border-radius: 3px
  border-width: 0px
  box-shadow: none
  box-sizing: border-box
  background: none
  cursor: pointer
  display: inline-block
  height: 50px
  line-height: 50px
  margin: 0
  outline: 0
  padding: 0px 20px
  position: relative
  text-align: left
  text-decoration: none
  text-indent: 0
  vertical-align: top
  white-space: nowrap
  text-align: center
.orange_button
  @extend .button_false
  border: 1px solid #d47a00
  color: #d47a00

.simple_button
  @extend .button_false

.button_full
  @extend .button_false
  display: block
  background: #d47a00
  color: #fff
  width: 100%

.button_full_small
  @extend .button_false
  background: #d47a00
  color: #fff
  height: 40px
  line-height: 40px

.button_add
  @extend .button_false
  color: #d47a00
  border: 1px solid #d47a00
  height: 40px
  line-height: 40px
  background: asset-url('m/icon/plus.png') no-repeat center center

.button_arrow_orang
  @extend .button_false
  color: #fff
  background: #d47a00
  position: relative
  padding-right: 50px
  height: 40px
  line-height: 40px
  &:after
    content: ''
    position: absolute
    width: 20px
    height: 20px
    top: 10px
    right: 15px
    background: asset-url('m/icon/left_white.png') no-repeat center center

.button_eye
  @extend .button_false
  color: #d47a00
  border: 1px solid #d47a00
  height: 40px
  line-height: 40px
  color: #fff
  padding-left: 50px
  background: #d47a00 asset-url('m/icon/eye.png') no-repeat 10px center

.button_grean
  @extend .button_false
  background: #d8d8d7
  display: block
  color: #fff
  position: relative
  &:before
    content: ''
    position: absolute
    width: 30px
    height: 30px
    top: 10px
    left: 10px
    background: asset-url('m/icon/check_button_grean.png') no-repeat center center
    border-radius: 50%
  &.active
    background: #5fb671

.button_empty_small2
  @extend .button_false
  color: #90908d
  border: 1px solid #90908d
  height: 40px
  line-height: 40px

.button_next,
.next_page
  @extend .orange_button
  width: 280px
  float: right
  background: asset-url('m/icon/next_arrow.png') no-repeat 240px center

.button_previous,
.previous_page
  @extend .orange_button
  width: 280px
  float: left
  background: asset-url('m/icon/prew_arrow.png') no-repeat 20px center
  &.disabled
    opacity: 0.5

.button_simple_fxW
  @extend .button_false
  width: 130px
  background: #90908d
  color: #fff
  height: 30px
  line-height: 30px
  font-size: 14px
  margin: 10px
  &:hover
    background: #4d4d4d

.status_active
  @extend .button_false
  background: #dcdccd none repeat scroll 0 0
  color: #fff
  cursor: pointer
  font-size: 14px
  height: 30px
  line-height: 30px
  margin: 10px
  position: relative
  width: 110px

.status_active .wrap_slide
  cursor: pointer
  height: 30px
  left: 0
  position: absolute
  text-align: center
  top: 0
  transition: all 0.3s ease 0s
  width: 90px

.status_active .noactive,
.status_active .active
  border-radius: 3px
  position: absolute
  text-align: center
  top: 0
  transition: all 0.3s ease 0s
  width: 100%

.status_active .noactive
  background: #90908d none repeat scroll 0 0
  opacity: 1

.status_active .active
  opacity: 0

.status_active input
  display: none
  position: relative
  top: -40px

.status_active input:checked ~ .wrap_slide
  background: #5fb671 none repeat scroll 0 0
  left: 20px

.status_active input:checked ~ .wrap_slide .active
  opacity: 1

.status_active input:checked ~ .wrap_slide .noactive
  opacity: 0

.button-orange
  @extend .button_false
  background: #d47a00
  color: #fff
  &:hover
    color: #fff

.button_type_default
  @extend .button_false
  background-color: none
  box-shadow: inset 0 0 0 1px #d47a00
  color: #d47a00

.active_currency
  color: #fff !important
  background-color: #d27a1e
