.dropdown
  background: #fff
  font-family: "PT Sans"
  font-size: 14px
  font-weight: 400
  position: relative
  border-radius: 2px

.dropdown_open .dropdown-switch
  border-color: #dcdccd

.dropdown_open .dropdown-list
  opacity: 1
  visibility: visible
  display: block

.dropdown.has-select select
  background: #fff
  position: absolute
  top: 0
  left: 0
  padding: 15px 0
  opacity: 0
  width: 100%

.dropdown.has-select option
  color: #90908d
  font: 14px 'PT Sans'
  padding: 0 10px

.dropdown-switch
  transition: all 0.1s linear
  display: block
  padding-left: 10px
  color: #d47a00
  border: 1px solid #fff
  text-decoration: none
  border-radius: 2px
  height: 40px
  line-height: 40px
  position: relative
  box-sizing: border-box
  &:before
    content: ""
    position: absolute
    right: 10px
    height: 100%
    width: 10px
    top: 0
    background: image-url("arrow/arrow-bottom.png") no-repeat 50% 50%
  &:hover
    color: #d47a00
    cursor: pointer
  &:active
    background: #fbfcfc

.dropdown-list
  box-shadow: 0 0 0 1px rgba(220,220,205,0.5)
  transition: all 0.1s linear
  opacity: 0
  visibility: hidden
  background: #fff
  position: relative
  border-radius: 4px
  top: 100%
  position: absolute
  width: 100%
  left: 0
  z-index: 10
  padding: 10px 0
  margin-top: 15px
  display: none
  max-height: 230px
  overflow: auto
  &:before
    position: absolute
    top: -12px
    width: 22px
    height: 12px
    right: 15px
    content: ""
    background: image-url("arrow/arrow-dropdown.png") no-repeat 50% 50%

.dropdown-list li
  line-height: 30px
  height: 30px
  padding: 0 10px
  font-family: "PT Sans"
  font-size: 14px
  font-weight: 400
  color: #90908d
  cursor: pointer
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  &:focus,
  &:hover
    color: #d47a00
  &:active
    color: #d47a00
  &.active
    color: #d47a00
