.hide
  display: none

.right
  float: right

body
  font-family: 'PT Sans'
  font-size: 18px
  width: 640px
  margin: 0px auto
  &.popup_showed
    overflow: hidden
    height: 100%
.hr
  height: 1px
  background: #dcdccd
  margin-top: 30px
input[type='text'],
input[type='url'],
input[type='email'],
input[type='number']
  color: #4d4d4d
  font-family: "PT Sans"
  font-size: 18px
  width: 100%
  position: relative
  z-index: 1
  height: 50px
  margin: 0
  padding: 5px 10px
  outline: none
  border: none
  background: #fff
  box-sizing: border-box
  border-radius: 3px
.item_year
  width: 49%
  float: left
  display: inline
  margin: 0px 10px 30px 0
.item_color
  width: 49%
  float: right
  display: inline
  margin: 0px 0 30px 0
.item_price
  width: 49%
  margin: 0px 300px 30px 0
  position: relative
  a
    position: absolute
    top: 60px
    right: -60px
    z-index: 1
textarea
  color: #4d4d4d
  font-family: "PT Sans"
  font-size: 18px
  width: 100%
  position: relative
  z-index: 1
  height: 150px
  margin: 0
  padding: 5px 10px
  outline: none
  border: none
  background: #fff
  box-sizing: border-box
  border-radius: 3px
  resize: none
.clearfix
  &:before
    content: ''
    display: block
  &:after
    content: ''
    display: block
    clear: both
a
  i
    font-family: "Icons"
    font-size: 32px
    color: #d47a00
  i.icon-twitter
    float: left
    &:before
      content: "\f157"
      font-style: normal
    &:hover
      opacity: 0.5
  i.icon-facebook
    float: left
    &:before
      content: "\f13c"
      font-style: normal
    &:hover
      opacity: 0.5
  i.icon-google
    &:before
      content: "\f145"
      font-style: normal
    &:hover
      opacity: 0.5
  i.icon-vk
    &:before
      content: "\f15f"
      font-style: normal
    &:hover
      opacity: 0.5
.wraper
  width: 640px
  margin: 0 auto
  min-height: 100%
  .header
    background-color: #fff
    padding-bottom: 5px
    position: relative
    .midle_wraper
      width: 580px
      padding: 0 30px 15px
      &:after
        content:  ""
        clear: both
        display: block
    .logo
      float: left
      padding-top: 30px
      img
    .button_header
      font-size: 18px
      width: 164px
      height: 50px
      float: left
      margin-left: 197px
      margin-top: 15px
      .button
        font-size: 20px
        width: 160px
        border: 1px solid #d47a00
        border-radius: 3px
        display: inline-block
        position: relative
        a
          color: #d47a00
          width: 160px
          text-decoration: none
          float: right
          line-height: 50px
          font-weight: bold
          i.icon-plus
            float: left
          &:before
            font-family: "Icons"
            content: "\f218"
            font-style: normal
            color: #d47a00
            margin: 0 6px 0 22px
    .menu_header
      width: 27px
      height: 24px
      float: left
      margin-top: 28px
      margin-left: 20px
      a
        width: 30px
        height: 24px
        float: left
        position: relative
        background: asset-url('m/icon/menu_header.png') no-repeat center center
        transition: ease 0.25s
        &.active
          background: asset-url('m/icon/menu_open.png') no-repeat center center
      &.message_active
        a:after
          content: ''
          position: absolute
          right: 4px
          top: -4px
          width: 8px
          height: 8px
          background: #d47a00
          border-radius: 50%
          border: 1px solid #fff
    .search
      width: 580px
      padding: 10px 30px 5px
      line-height: 50px
      border-top: 1px solid #f4f4ee
      #search
        font-size: 18px
        width: 530px
        height: 50px
        //margin: 6px 20px
        background: #ededed
        border: none
        padding-left: 20px
      #but
        position: relative
        top: 10px
        left: 15px
        font-size: 18px
  .menu
    width: 640px
    margin: 0 auto
    background: #f4f4ee
    padding-top: 24px
    .content
      width: 580px
      margin: 0 auto
      padding-top: 6px
      .category_menu_block
        width: 580px
        //height: 80px
        overflow: hidden
        margin-bottom: 3px
        color: #4d4d4d
        background: #fff
        .menu_show_section
          display: none
          padding-bottom: 40px
          &:after
            content: ""
            display: block
            clear: both
        .cat_menu_title
          font-size: 20px
          font-weight: 700
          width: 580px
          height: 80px
          text-align: center
          background-color: #FFF
          position: relative
          color: #4d4d4d
          a
            font-size: 24px
            width: 580px
            height: 80px
            line-height: 80px
            display: inline-block
            text-decoration: none
            color: #4d4d4d
            &:after
              content: asset-url("m/icon/down.png")
              position: absolute
              top: 0px
              right: 30px
            .all_categ
              a
                &:after
                  content: asset-url("m/icon/all.png")
                  position: absolute
                  top: 0px
                  right: 30px
            img
              position: absolute
              top: 10px
              left: 20px
              max-width: 61px
              transition: ease 0.3s
        ul
          list-style-type: none
          height: auto
          margin-bottom: 0px
          padding-left: 0px
          li
            float: left
            width: 260px
            padding-left: 20px
            font-size: 21px
            line-height: 36px
            a
              text-decoration: none
              color: #5e5e5e
        a.sub_title
          font-size: 24px
          text-decoration: none
          color: #d47a00
          padding-left: 20px
          line-height: 75px
          ul
            li
              padding-bottom: 20px
        &.active
          height: auto
          background-color: #fff
          .cat_menu_title
            width: 580px
            height: 80px
            text-align: center
            line-height: 80px
            margin-bottom: 20px
            img
              position: absolute
              top: 10px
              left: 9px
            a
              line-height: 80px
              color: #d47a00
              display: inline-block
              text-decoration: none
              background-color: #fff
              &:after
                content: asset-url("m/icon/down_active.png")
                position:absolute
                top: 0px
                right: 30px

      .new_products
        width: 580px
        overflow: auto
        .new_prod_title
          font-size: 30px
          font-weight: 700
          color: #4d4d4d
          text-align: center
          padding-top: 70px
          padding-bottom: 23px
        .filter_button
          height: 50px
          padding-left: 108px
          padding-bottom: 30px
          input[type=radio]
            display: none
            &:checked + span
              background: #d47a00
              color: #fff
          .button_new
            margin-left: 10px
            float: left
            border: 1px solid #d47a00
            border-radius: 3px
            display: inline-block
            span
              padding: 0 23px
              color: #d47a00
              text-decoration: none
              line-height: 50px
              display: inline-block
          .button_henmade
            float: left
            border: 1px solid #d47a00
            border-radius: 3px
            display: inline-block
            span
              padding: 0 22px
              color: #d47a00
              text-decoration: none
              line-height: 50px
              display: inline-block
          .button_all
            margin-left: 10px
            float: left
            border: 1px solid #d47a00
            border-radius: 3px
            display: inline-block
            span
              padding: 0 25px
              color: #d47a00
              text-decoration: none
              line-height: 50px
              display: inline-block
          .button_currency
            line-height: 50px
            padding: 0px 10px
.layout
  width: 640px
  margin: 0 auto
  .brick_premium
    width: 600px
    height: auto
    margin: 0 auto
    background: #fff
    .brick_premium_title
      font-size: 24px
      font-weight: 600
      line-height: 60px
      color: #d47a00
      text-align: center
    .premium
      font-size: 22px
      display: inline-block
      width: 580px
      height: auto
      margin: 0px 10px 10px 10px
      overflow: hidden
      position: relative
      .premiun_first
        display: inline-block
        margin-bottom: 20px
        position: relative
        vertical-align: top
        .product-img
          height: 270px
          line-height: 270px
          text-align: center
          overflow: hidden
          img
            max-width: 100%
            max-height: 100%
            vertical-align: middle
            zoom: 2
      .premiun_first:nth-child(2n+1)
        margin-right: 10px
        a
          display: inline-block
          width: 280px
          color: #fff
          text-decoration: none
          //background-color: #d47a00
          .premium_name
            width: 270px
            background: #d47a00
            padding: 15px 0
            line-height: 25px
            margin: auto
            .premium_name_title
              padding: 0 20px 0 20px
          .price
            padding: 0 10px
            height: 40px
            position: absolute
            top: 20px
            left: 10px
            background: #000
            opacity: 0.5
            text-align: center
            line-height: 40px
      .premiun_first:nth-child(2n)
        margin-left: 10px
        a
          display: inline-block
          width: 280px
          color: #fff
          text-decoration: none
          //background-color: #d47a00
          img
          .premium_name
            width: 270px
            background: #d47a00
            //padding-bottom: 15px
            padding: 15px 0
            line-height: 25px
            margin: auto
            .premium_name_title
              padding: 0 20px 0 20px
          .price
            height: 40px
            position: absolute
            padding: 0 10px
            top: 20px
            left: 10px
            background: #000
            opacity: 0.5
            text-align: center
            line-height: 40px
  .brick_item
    width: 640px
    margin: 0 auto
    margin-bottom: 10px
    padding: 20px 0
    .item_left
      display: inline-block
      width: 300px
      margin: 20px 10px
      overflow: hidden
      position: relative
      float: left
    .item_first
      box-sizing: border-box
      -moz-box-sizing: border-box
      color: #000
      display: inline-block
      position: relative
      overflow: hidden
      vertical-align: top
      width: 50%
      text-decoration: none
      &:nth-child(2n+1)
        padding: 0 10px 0 30px
      &:nth-child(2n)
        padding: 0 30px 0 10px
      .product-img
        background-color: #FFF
        height: 270px
        line-height: 270px
        text-align: center
        overflow: hidden
        img
          vertical-align: middle
          max-height: 100%
          max-width: 100%
      .item_name
        font-size: 24px
        background: #fff
        padding: 7px 0 20px 0
        margin-bottom: 20px
        min-height: 50px
        .item_name_title
          padding: 0 20px 0 20px
          line-height: 25px
      .price
        font-size: 24px
        font-weight: 700
        height: 40px
        position: absolute
        top: 9px
        left: 40px
        background: #000
        opacity: 0.5
        text-align: center
        padding: 0 10px
        line-height: 40px
        color: #fff
    .item_right
      display: inline-block
      width: 300px
      margin: 20px 10px
      overflow: hidden
      position: relative
      float: right
      .item_first
        float: right
        padding-right: 20px
        position: relative
        overflow: hidden
        a
          width: 280px
          color: #000
          text-decoration: none
          background-color: #FFF
          img
          .item_name
            font-size: 22px
            width: 280px
            background: #fff
            padding: 7px 0 20px 0
            margin-bottom: 20px
            .item_name_title
              padding: 0 20px 0 20px
              line-height: 25px
          .price
            font-size: 24px
            font-weight: 700
            width: 100px
            height: 40px
            position: absolute
            top: 9px
            left: 20px
            background: #000
            opacity: 0.5
            text-align: center
            line-height: 40px
            color: #fff
  .button_item,
  .pagination
    width: 580px
    height: 100px
    display: inline-block
    margin-left: 30px
  .button_item_shop_01
    width: 580px
    height: 100px
    display: inline-block
    margin-left: 30px
    .but_previous
      width: 280px
      height: 50px
      float: left
      border: 1px solid #d47a00
      border-radius: 3px
      a
        width: 280px
        color: #d47a00
        text-decoration: none
        text-align: center
        line-height: 50px
        display: inline-block

    .but_next
      width: 280px
      margin-left: 15px
      float: left
      border: 1px solid #d47a00
      border-radius: 3px
      display: inline-block
      a
        width: 280px
        color: #d47a00
        text-decoration: none
        text-align: center
        line-height: 50px
        display: inline-block

/*footer*/

.footer
  font-family: "PT Sans"
  font-size: 18px
  background: #1f2b2d
  text-align: center
  color: #fff
  margin: 0 auto
  padding-top: 60px
  padding-bottom: 60px
  line-height: 35px
  .footer_logo
    margin-bottom: 46px
    a
      font-family: 'PT Sans'
      color: #727473
      text-decoration: none
      line-height: 35px
      img
  .subs
    .subs_title

    #form-footer
      font-size: 22px
      width: 420px
      height: 50px
      border: none
      border-radius: 3px
      text-align: center
      margin: 9px
    .input
    .button_footer
      button
        background: none
        cursor: pointer
        font-size: 20px
        color: #d47a00
        text-decoration: none
        text-align: center
        line-height: 48px
        display: inline-block
        height: 48px
        padding: 0 15px
        margin: 13px auto 35px
        border: 1px solid #d47a00
        border-radius: 3px

  .footer_col
    margin-top: 15px
    a
      color: #7f807e
      list-style-type: none
      text-decoration: none

    a:hover
      color: #d47a00

    .footer_title
    ul
      list-style-type: none
      padding: 0px
      margin: 0px
  .footer_social
    font-family: "Icons"
    font-size: 22px
    ul
      list-style-type: none
      display: inline-block
      padding-top: 50px
      padding-left: 0
      margin-right: -10px
      li
        float: left
        margin-right: 10px
        font-size: 32px
        a
          text-decoration: none
          color: #d47a00

  .footer_list
    font-size: 16px
    color: #7f807e
    margin-top: 20px
    a
      color: #7f807e
    a:hover
      color: #d47a00
  .copy
    font-size: 16px
    color: #d47a00
    margin-top: 15px


/*pages footer menu*/
.condition-top_bg
  width: 640px
  height: 300px
  background-color: #1f2b2d
  .condition-top
    font-size: 60px
    color: #fff
    line-height: 280px
    text-align: center
  .condition-top_faq
    padding: 25px 25px
    margin-bottom: 40px
    .cond_title
      font-size: 120px
      font-weight: 600
      color: #fff
    .cond_text
      width: 350px
      font-weight: 600
      font-size: 30px
      color: #fff
      padding-top: 10px
      line-height: 30px
  .condition-top_ad
    width: 500px
    text-align: left
    font-size: 50px
    color: #fff
    padding: 80px 0 0 30px
  .condition-top_about
    font-weight: 600
    letter-spacing: 2px
    width: 500px
    font-size: 24px
    color: #fff
    line-height: 40px
    padding-left: 30px
    padding-top: 70px
  .condition-top_licence
    width: 500px
    text-align: left
    font-size: 50px
    font-weight: 700
    color: #fff
    padding: 80px 0 0 30px
    margin-bottom: 40px
  .condition-top_brands
    width: 380px
    text-align: left
    font-size: 60px
    font-weight: 700
    color: #fff
    padding-left: 30px
    padding-top: 80px
    line-height: 63px
.condition-top_cities
  width: 500px
  text-align: left
  font-size: 40px
  font-weight: 700
  color: #4d4d4d
  padding: 60px 0 0 30px
.layout-small
  overflow: hidden
  font-size: 24px
  width: 640px
  margin: 0px auto
  background: #f4f4ee
  line-height: 39px
  overflow: hidden
  padding-top: 50px
.layout-small
  overflow: hidden
  font-size: 24px
  width: 640px
  background: #f4f4ee
  line-height: 36.5px
  overflow: hidden
  .country_cel
    width: 580px
    height: 50px
    color: #4d4d4d
    font-size: 18px
    font-weight: 600
    color: #4d4d4d
    margin: 0 0 0 30px

  .country
    font-size: 18px
    font-weight: 400
    width: 580px
    height: 50px
    color: #90908d
    background-color: #FFF
    margin: 0 0 0 30px
    padding-left: 10px
    overflow: hidden
    position: relative
    line-height: 50px
    a
      color: #90908d
    &:after
      content: asset-url("m/icon/left.png")
      position: absolute
      top: 5px
      right: 20px
    ul
      padding-left: 20px
      li
        line-height: 10px
        a
          width: 580px
          color: #90908d
          line-height: 50px
          display: inline-block
          text-decoration: none
          overflow: hidden
          position: relative
  .country:hover
    height: auto
    min-height: 50px
    .country
      width: 580px
      height: 150px
      background-color: #FFF
      a
      color: #90908d
    ul
      padding-left: 20px
      li
        line-height: 10px
        a
          width: 580px
          color: #90908d
          line-height: 50px
          display: inline-block
          text-decoration: none
          overflow: hidden
          position: relative

    a:hover
      color: #d47a00
    &:after
      content: asset-url("m/icon/down_active.png")
      position:absolute
      top: 5px
      right: 20px
    a
      text-decoration: none
      color: #d47a00
  .brand_ins_cities
    width: 355px
    a
      font-size: 24px
      color: #90908d
      text-decoration: none
    a:hover
      color: #d47a00

  .brand_item, .brand_item_bottom
    width: 580px
    margin: 0px auto
    line-height: 46px
    border-bottom: 1px solid #dcdccd
    .brand_ins_top
      width: 540px
      font-size: 20px
      font-weight: 500
      letter-spacing: 5.5px
      margin: 25px 0 10px 0
      line-height: 38px
      a
        font-size: 24px
        color: #90908d
        text-decoration: none
        text-transform: uppercase
        &:before
          content: ' '
      a:hover
        color: #d47a00
    .brand_ins_bot
      width: 540px
      font-size: 20px
      font-weight: 500
      letter-spacing: 5.5px
      margin: 25px 0 20px 0
      line-height: 38px
      a
        font-size: 24px
        color: #90908d
        text-decoration: none
        text-transform: uppercase
        &:before
          content: ' '
      a:hover
        color: #d47a00
    .brands_tab
      width: 580px
      border-bottom: 1px solid #dcdccd
      padding: 0px 0
      overflow: hidden
      .title_tab
        color: #d47a00
      a
        float: left
        clear: both
        display: inline-block
        color: #4d4d4d
        text-decoration: none
      a:hover
        color: #d47a00

  .condition-sub__title
    font-size: 24px
    color: #4d4d4d
    width: 580px
    padding: 0px 0 40px 0
    font-weight: 900
    margin: 0 auto
  .condition-sub__title_ad
    font-size: 24px
    color: #4d4d4d
    width: 580px
    padding: 0px 0 5px 0
    font-weight: 900
    margin: 0 auto
  .condition-item
    width: 580px
    margin: 0 auto
    .condition__title
      color: #d47a00
      padding-top: 2px
      line-height: 52px
    .condition__title_faq
      color: #d47a00

    .condition__title_ad
      color: #d47a00
      padding: 35px 0 12px 0
    ol.condition-list
      li
        margin-left: 25px
        list-style-type: disc
    .condition__text
      color: #4d4d4d
      padding-bottom: 30px
      border-bottom: 1px solid #dcdccd
    .condition__text_ad
      color: #4d4d4d
      padding-bottom: 40px
      border-bottom: 1px solid #dcdccd
    .condition__text_sub
      color: #4d4d4d
      padding-bottom: 30px
      border-bottom: 0px
      a
        color: #d47a00
        text-decoration: none
      .sub_cond_title
        font-weight: 700
      .sub_cond_text

        margin: 20px

  .add-tariffs__wrapper
    width: 580px
    height: 220px
    padding-top: 35px
    background-image: asset-url("m/bg/ad-tariffs.png")
    background-repeat: no-repeat
    margin: 0 auto

    .add-tariffs__title
      color: #fff
      font-size: 24px
      font-weight: 700
      padding-bottom: 0px
      padding-left: 155px

    .add-tariffs__text
      color: #fff
      font-size: 24px
      font-weight: 700
      padding-bottom: 0px
      padding-left: 155px
    .add-tariffs__item
      color: #fff
      font-size: 24px
      padding-bottom: 0px
      padding-left: 155px

  .dialog__back
    width: 580px
    height: 60px
    margin: 0 auto
    padding: 40px 0 40px 0

    .button_back
      width: 580px
      float: left
      border: 1px solid #d47a00
      border-radius: 3px
      display: inline-block
      text-align: center
      a
        width: 580px
        color: #d47a00
        text-decoration: none
        text-align: center
        line-height: 50px
        display: inline-block

.condition-sub__title
  font-size: 24px
  width: 580px
  font-size: 18px
  color: #90908d
  .about_title
    font-size: 29px
    color: #90908d
    padding-bottom: 20px
  .about_subtext
    color: #90908d
    padding-bottom: 20px
    border-bottom: 1px solid #dcdccd
  .about_text
    color: #4d4d4d
    padding: 10px 0 10px 0
    line-height: 36px
  .about_text_last
    color: #4d4d4d
    padding: 0 0 10px 0
    line-height: 36px
  .about_block
    font-weight: 400
    height: auto
    color: #fff
    background-color: #d47a00
    padding: 20px 30px
    line-height: 41px
    margin: 40px 0

  .condition-top_text
    font-size: 24px
    color: #fff
    line-height: 10px

.contries_title
  margin: 0 10px 10px 30px
  a
    font-weight: 500
.contries_text
  color: #b5b5b1
  margin: 0 10px 35px 30px



  /*pages prod_1*/

.product_title
  font-size: 35px
  font-weight: 700
  padding: 20px 30px 16px 30px
.slider
  width: 580px
  //height: 680px
  background-color: #FFF
  margin: 0 auto
.price_block
  width: 540px
  margin: 20px 30px 0
  background-color: #FFF
  text-align: center
  padding: 20px
  .price_title
    color: #90908d
    font-size: 18px
    display: inline-block
    font-weight: bold
    text-transform: uppercase
  .price
    color: #4d4d4d
    font-size: 30px
    font-weight: 700
    display: inline-block
    font-weight: bold
    margin-left: 20px
  .button_add
    width: 540px
    color: #fff
    margin-top: 20px
    height: 50px
    line-height: 50px
    border: 1px solid #d47a00
    text-align: center
    position: relative
    background-color: #d47a00
    a
      color: #fff
      padding: 15px 165px
      &:before
        content: asset-url("m/icon/heart.png")
        position: absolute
        top: 2px
        left: 140px
  .watch
    color: #90908d
    text-align: center
    margin-top: 20px
.stat_product
  color: #4d4d4d
  text-align: center
  background-color: #FFF
  margin: 20px 30px 0
  padding-bottom: 10px
  .seller_title
    color: #d47a00
    padding: 12px 0
  .seller_name
    color: #90908d
  .seller_data
    padding: 7px 0
  .seller_city

  .button_contact_seller
    color: #d47a00
    display: block
    margin: 13px 50px
    height: 50px
    line-height: 50px
    border: 1px solid #d47a00
    text-align: center
    position: relative
    padding-left: 25px
    div::before
      content: asset-url("m/icon/conv.png")
      position: absolute
      top: 3px
      left: 125px
.prod_info
  width: 580px
  margin: 0 auto
  position: relative
  margin-top: 20px
  .prod_titles
    a
      height: 50px
      line-height: 50px
      color: #90908d
      font-size: 24px
      font-weight: bold
      padding: 0 20px
      display: inline-block
      transition: ease 0.3s
      &.active
        color: #d47a00
        background-color: #FFF
  .prod_descr
    background-color: #FFF
    padding: 20px
    line-height: 28px
  .prod_descr_cound
    background-color: #FFF
    padding: 20px
    line-height: 28px
    display: none
  .product_video
    background-color: #FFF
    .title_video
      font-size: 24px
      font-weight: 600
      color: #d47a00
      padding: 34px 0 20px 50px
      position: relative
      &:before
        content: asset-url("m/icon/video.png")
        position: absolute
        top: 34px
        left: 20px
    .video_block
      width: 540px
      height: 335px
      margin: 0px auto
  .specification
    background-color: #FFF
    padding: 57px 0 30px 20px
    .spec_title
      color: #d47a00
      font-size: 24px
      font-weight: 600
      position: relative
      padding: 0px 0 13px 40px

      &:before
        content: asset-url("m/icon/i.png")
        position: absolute
        top: 3px
        left: 0px
    .name_spec
      width: 119px
      float: left
      font-weight: 600
      line-height: 36px

      ul
        li
    .text_spec
      line-height: 36px
      padding-bottom: 15px
      ul
        li
.social_link
  width: 580px
  height: 110px
  margin: 20px auto
  background-color: #FFF
  line-height: 110px
  .social_link_title
    width: 540px
    color: #d47a00
    font-size: 24px
    font-weight: 600
    padding-left: 20px
    display: inline-block
    float: left
    ul
      float: right
      margin-left: 20px
      li
        a
          text-decoration: none
          color: #d47a00
          &.icon-facebook
            float: left
            &:after
              background: asset-url("m/icon/f.png") no-repeat left center
              content: ''
              display: block
              width: 64px
              height: 110px
              font-style: normal
          &.icon-twitter
            float: left
            &:after
              content: asset-url("m/icon/vk.png")
              font-style: normal
.offer_block
  width: 580px
  margin: 0 auto
  .offer_block_title
    color: #4d4d4d
    font-size: 28px
    font-weight: 600
    margin: 50px 0 5px
    padding-left: 30px
  .offer_block_left
    width: 290px
    float: left
    .offer_prod
      margin-bottom: 31px
      a
        img
        .offer_name
          .offer_title
            color: #4d4d4d
            font-size: 22px
            padding: 7px 20px 0px 20px
            background-color: #FFF
            margin: 0 10px 0 0px
  .offer_block_right
    width: 290px
    float: right
    .offer_prod
      margin-bottom: 31px
      padding-left: 10px
      a
        img
        .offer_name
          .offer_title
            color: #4d4d4d
            font-size: 22px
            padding: 7px 20px 0px 20px
            background-color: #FFF
            margin: 0 0px 0 0px
.button_more
  font-size: 20px
  width: 215px
  border: 1px solid #d47a00
  border-radius: 3px
  position: relative
  margin: 10px auto 50px
  a
    line-height: 50px
    padding: 20px
  a:hover
    color: #d47a00
  li
    float: left
    margin-right: 10px
    font-size: 32px
    a
      text-decoration: none
      color: #d47a00
      i.icon-twitter
        float: left
        &:before
          content: "\f157"
          font-style: normal
        &:hover
          opacity: 0.5
      i.icon-facebook
        float: left
        &:before
          content: "\f13c"
          font-style: normal
        &:hover
          opacity: 0.5
      i.icon-google
        &:before
          content: "\f145"
          font-style: normal
        &:hover
          opacity: 0.5
      i.icon-vk
        &:before
          content: "\f15f"
          font-style: normal
        &:hover
          opacity: 0.5

.wrapper

  .pass_rec
    width: 540px
    margin: 60px 30px 370px 30px
    padding: 20px 10px 10px 30px
    background-color: #FFF
    .pass_title
      font-size: 30px
      font-weight: 600
      color: #4d4d4d
      margin-bottom: 20px
    .error-msg-top .form-error
      margin-top: 0
    .input_mail
      position: relative
      form
      #form_mail
        font-size: 16px
        font-weight: 100
        width: 450px
        height: 50px
        padding-left: 10px
        background-color: #efefef
        border: none
      #but
        position: absolute
        top: 0
        right: 20px
    .pass_button
      display: inline-block
      margin-top: 20px

      .button_mail
        font-size: 20px
        width: 250px
        border: 1px solid #d47a00
        border-radius: 3px
        display: inline-block
        position: relative
        float: left
        line-height: 50px
        background-color: #d47a00
        a
          color: #fff
          //padding: 12px 80px
          text-align: center
      .button_back
        font-size: 20px
        width: 85px
        border-radius: 3px
        display: inline-block
        position: relative
        float: left
        line-height: 50px
        background-color: #fff
        float: left
        margin-left: 5px
        a
          color: #d47a00
          padding: 12px 16px
          text-align: center

    .pass_text
      .pass_account
        padding: 50px 0 50px 0
        a
          padding-left: 3px
        a:hover
          color: #d47a00




/* muz_seach_01 */

.seach_result
  .city_bg
    width: 640px
    height: 160px
    background-image: asset-url("m/bg/odessa.jpg")
  .seach_res_top
    padding: 20px 20px 20px 30px
    margin-top: 1px
    background-color: #FFF
    overflow: hidden

    .seach_res_title
      font-size: 30px
      font-weight: 600
      color: #d47a00
      position: relative
    .seach_res
      color: #90908d
      float: left
      display: inline-block
      border: 1px solid #f4f4f3
      background-color: #f4f4f3
      margin: 20px 10px 0 0
      padding: 7px 10px 7px 10px
      a
        margin: 0 0 0 20px
      + .seach_button
        display: inline-block
    .seach_button
      width: 130px
      text-align: center
      font-size: 20px
      border: 1px solid #90908d
      border-radius: 3px
      float: left
      line-height: 36px
      margin: 20px 0 0 10px
      display: none
      a
        width: 130px
        color: #90908d
        line-height: 36px
        display: inline-block
      a:hover
        color: #d47a00
  .seach_res_button
    width: 580px
    margin: 0 auto
    padding: 30px
    .seach_res_title
      color: #90908d
    .filter_button
      overflow: hidden
      input[type=radio]
        display: none
        &:checked + span
          background: #d47a00
          color: #fff
      .button_henmade
        text-align: center
        font-size: 20px
        border: 1px solid #d47a00
        border-radius: 3px
        float: left
        margin: 25px 12px 0 0
        display: inline-block
        span
          padding: 0 22px
          color: #d47a00
          text-decoration: none
          line-height: 50px
          display: inline-block
      .button_new
        text-align: center
        font-size: 20px
        border: 1px solid #d47a00
        border-radius: 3px
        float: left
        margin: 25px 12px 0 0
        display: inline-block
        span
          padding: 0 22px
          color: #d47a00
          text-decoration: none
          line-height: 50px
          display: inline-block
      .button_all
        text-align: center
        font-size: 20px
        border: 1px solid #d47a00
        border-radius: 3px
        float: left
        margin: 25px 12px 0 0
        display: inline-block
        span
          padding: 0 22px
          color: #d47a00
          text-decoration: none
          line-height: 50px
          display: inline-block
      .button_filt
        width: 100px
        text-align: center
        font-size: 20px
        border: 1px solid #d47a00
        border-radius: 3px
        float: right
        margin: 25px 0px 0 0px
        display: inline-block
        a
          width: 100px
          line-height: 50px
          display: inline-block
        a:hover
          color: #d47a00
  .not_found_img
    width: 580px
    margin: 0 auto
    img
      margin: 30px 0 0 223px

  .not_found_text
    font-size: 28px
    font-weight: 600
    color: #dcdccd
    margin: 20px 0 145px 80px

//*failure*/
.shop_bg_top
  width: 640px
  height: 200px
  margin-bottom: 300px
  .shop_title
    color: #fff
    font-size: 30px
    font-weight: 600
    padding: 20px 0 7px 30px
  .shop_sity
    float: left
    padding-left: 30px
    a
  .shop_mail
    float: left
    a
    &:before
      content: asset-url("m/icon/conv2.png")
      padding: 0 5px 0 20px
  .shop_site
    float: left
    a
    &:before
      content: asset-url("m/icon/planet.png")
      padding: 0 5px 0 20px
  .shop_img
    margin: 0 30px
    img
      margin: 30px 0 -5px 0
      max-width: 100%
    .shop_text_block
      padding: 25px 0 35px 20px
      background-color: #FFF
      .shop_text_title
        font-weight: 600
        color: #90908d
        padding: 0 0 10px 0

.seach_res_top_2
  padding: 0 0 10px 10px
  background-color: #FFF
  overflow: hidden
  margin: 0 30px
  .seach_res_title_2
    font-size: 30px
    font-weight: 600
    color: #d47a00
    position: relative
  .seach_res_2
    color: #90908d
    float: left
    display: inline-block
    border: 1px solid #f4f4f3
    background-color: #f4f4f3
    margin: 13px 10px 0 0
    padding: 6px 10px 6px 10px
    + .seach_button_2
      display: inline-block
    a
      margin: 0 0 0 20px
  .seach_button_2
    display: none
    font-size: 20px
    border: 1px solid #90908d
    border-radius: 3px
    float: left
    line-height: 36px
    margin: 13px 0 0 0
    a
      color: #90908d
      padding: 5px 10px
    a:hover
      color: #d47a00
.shop_text_text
  color: #4d4d4d
.not_found_img_2
  img
    margin: 60px 0 0 255px
.not_found_failure
  font-size: 24px
  font-weight: 600
  color: #dcdccd
  margin: 24px 30px 56px 55px


//*blnc_01*/


.shop_blnc_bg_top
  width: 640px
  height: 200px
.shop_blnc_title
  color: #fff
  font-size: 30px
  font-weight: 600
  padding: 20px 0 7px 30px
.shop_blnc_img
  margin: 0 auto
  img
    width: 560px
    height: 110px
    padding: 25px 10px
    margin: 55px 0 0px 30px
    background-color: #dcdccd
.shop_blnc_text_block
  width: 580px
  margin: 80px auto -30px auto
  background-color: #FFF
  padding-bottom: 10px
  .shop_blnc_text_title
    padding: 25px 0 25px 20px
  .button_failure
    margin: 0 20px 20px 20px
    background-color: #d47a00
    border-radius: 3px
    text-align: center
    color: #fff
    a
      display: block
      padding: 15px 0
      color: #fff
      text-decoration: none
.not_found_img_2
  img
  .not_found_failure
    text-align: center
.button_failure_bottom
  margin: 20px 50px 150px 50px
  background-color: #d47a00
  border-radius: 3px
  text-align: center
  color: #fff
  a
    display: block
    padding: 15px 0
    color: #fff
    text-decoration: none



.button_failure_bottom_2
  margin: 20px 50px 150px 50px
  background-color: #d47a00
  border-radius: 3px
  text-align: center
  color: #fff
  padding: 15px 0 15px 0
  a
    padding: 15px 147px
    color: #fff
    text-decoration: none


.title_cover-redact
  color: #90908d
  font-size: 24px
  font-weight: bold
  margin-top: 20px
  .text_foto_red
    color: #90908d
    font-size: 16px
    ul
      padding-bottom: 20px
      li
        line-height: 30px
        font-weight: lighter
.wrap_checkbox
  padding-top: 20px
  width: 49%
  position: relative
  a
    position: absolute
    top: 38px
    right: -50px
    z-index: 1
.foto_block
  border: 2px solid #d47a00
  border-radius: 3px
  padding: 9px
  text-align: center
  .foto_block_title
    color: #90908d
    line-height: 30px
    font-weight: lighter
    position: relative
    overflow: hidden
    .foto_img
      float: left
      margin: 0 0 0 10px
      & > a
        img
          float: left
          padding: 10px 0 10px 0
          width: 100px
          height: 100px
      .block_bucket
        a
          img
            padding: 20px 35px


.foto_block_add
  cursor: pointer
  height: 80px
  color: #90908d
  font-size: 24px
  font-weight: bold
  border: 2px dashed #90908d
  text-align: center
  line-height: 80px
  margin-top: 20px
.foto_dowload
  line-height: 50px
  margin-top: 20px
  position: relative
  img
    padding-top: 5px
    margin: 0 0 -3px 15px

.title.slect_cat_open
  width: 580px
  height: 50px
  line-height: 50px
  color: #90908d
  background-color: #FFF
  position: relative
  overflow: hidden
  a
    width: 560px
    height: 50px
    color: #90908d
    padding-left: 20px
    line-height: 50px
    display: inline-block
    &:after
      content: asset-url("m/icon/left.png")
      position: absolute
      top: 5px
      right: 20px
.slect_cat
  background-color: #FFF
  height: 0
  line-height: 30px
  overflow: hidden
  padding-left: 20px
  ul
    li
      a
        height: 10px
        line-height: 10px
  a:active
    height: auto

// Form errors
.form-control
  position: relative

.dragdrop-section.has-error
  border: 2px solid #ed6250

.has-error .form-error
  height: 40px
  line-height: 40px
  position: absolute
  top: 100%
  width: 100%
  text-align: center
  background: #ed6250
  color: #fff
  font-family: "PT Sans"
  font-size: 14px
  font-weight: 400
  margin-top: 18px
  border-radius: 2px
  left: 50%
  transform: translateX(-50%)
  z-index: 9

.has-error .form-error:before
  position: absolute
  content: ""
  left: 0
  width: 100%
  margin-top: -9px
  height: 10px
  background: image-url("arrow/arrow-error.png") no-repeat 50% 50%

.error-msg-top .form-error
  top: -100%
  &:before
    bottom: -10px
    transform: rotate(180deg)

// File btn
.btn-file
  display: inline-block
  position: relative
  overflow: hidden
  input[type=file]
    font-size: 200px
    position: absolute
    top: 0
    left: 0
    margin: 0
    padding: 0
    opacity: 0

// Set default img style
img
  max-width: 100%
  vertical-align: middle
  height: auto

body .ui-menu .ui-menu-item a
  line-height: 30px
  height: 30px
  padding: 0 10px
  font-family: "PT Sans"
  font-size: 14px
  font-weight: 400
  color: #90908d
  cursor: pointer

body .ui-menu .ui-menu-item a.ui-state-focus
  border: 0 none
  background: #fff
  color: #d47a00
  padding: 0 10px

body .ui-widget-content
  border: 0 none
  background: #fff

body .ui-autocomplete
  margin-top: 20px !important
  box-shadow: 0 0 0 1px rgba(220,220,205,0.5)

body .ui-menu .ui-menu-item a.ui-state-focus,
body.ui-menu .ui-menu-item a.ui-state-active
  margin: 0

.file-errors
  background: #ed6250
  border-radius: 5px
  color: white
  margin-bottom: 10px
  padding: 0 10px

  & > div
    padding: 5px 0
    display: none

  .file-errors-list
    display: inline

    span
      color: darkRed

      &:not(:last-child)::after
        content: ', '

      &:first-child::before
        content: ' '

.dragdrop__progress
  padding-left: 100px
  margin-top: 20px
  margin-bottom: 20px
  position: relative

.dragdrop__progress .progress-text
  color: #d47a00
  font-family: "PT Sans"
  font-size: 16px
  font-weight: 700
  line-height: 20px
  position: absolute
  left: 20px
  top: 10px

.dragdrop__progress .progress
  width: 310px
  display: inline-block

.dragdrop__progress .progress-status
  display: inline-block
  vertical-align: top
  padding-left: 20px
  font-size: 20px

.dragdrop__progress_state_loading .progress-status
  color: #dcdccd

.dragdrop__progress_state_finish .progress-status
  color: #d47a00

.dragdrop_state_begin .dragdrop__photos,
.dragdrop_state_begin .dragdrop__progress
  display: none

.dragdrop_state_photos .dragdrop-section
  border-style: solid

.dragdrop_state_photos .dragdrop__photos
  display: block

.dragdrop__progress_state_loading .progress-status
  color: #dcdccd

.dragdrop__progress_state_finish .progress-status
  color: #d47a00

.progress
  background-color: #dcdccd
  border-radius: 2px
  height: 20px
  position: relative

.progress-bar
  background-color: #d47a00
  border-radius: 2px
  height: 100%
  left: 0
  position: absolute
  top: 0

.icon-checkup
  display: inline-block
  font-family: "Icons"
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  text-rendering: auto
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  &:before
    content: "\f161"

.product_page .button_wrap
  padding: 0 20px

#all-categories-toggle.js-active
  background: #e1e1e1

.other-category:after
  display: none

.wraper-order
  background: #fff
  color: #353535
  padding: 25px 60px 40px
  margin: 30px 0

.title-order
  font-size: 36px
  font-weight: bold

.text-order
  font-size: 16px
  line-height: 2
  margin: 25px 0

.promo-disclamer
  color: #90908d
  font-size: 14px
  line-height: 2
  padding: 0 60px

.error404-container
  text-align: center
  color: #d47a00
  padding-top: 101px
  .button i
    vertical-align: sub

.error404-title
  font-size: 160px
  font-weight: bold
  line-height: 130px
  padding-bottom: 20px

.error404-title_sub
  font-weight: bold
  font-size: 14px
  padding-bottom: 13px

.error404-text
  font-size: 14px
  padding-bottom: 31px


.product-delivery + .product-delivery
  padding-top: 30px

.product-delivery__head
  color: #d47a00
  font-family: "PT Sans"
  font-size: 16px
  font-weight: 700
  margin-bottom: 15px

.product-delivery__subhead
  color: #4D4D4D
  font-family: "PT Sans"
  font-size: 14px
  line-height: 1

  font-weight: 700
  margin-bottom: 12px


.product-delivery__head i
  margin-right: 5px

.product-delivery__text
  color: #4d4d4d
  font-family: "PT Sans"
  font-size: 14px
  font-weight: 400
  line-height: 24px

.icon-wallet:before
  content: "\f166"

.icon-car:before
  content: "\f163"

.icon-return:before
  content: "\f165"

.icon-wallet:before,
.icon-return:before,
.icon-car:before
  display: inline-block
  font-family: "Icons"
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  text-rendering: auto
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.button_arrow_orang_show
  @extend .button_false
  color: #fff
  background: #d47a00 !important
  position: relative
  padding-right: 50px
  height: 40px
  line-height: 40px

  &:after
    content: ''
    position: absolute
    width: 10px
    height: 10px
    top: 10px
    right: 15px
    background: asset-url('m/icon/left_white.png') no-repeat center center


.remove_shop_cover
  margin: 25px
  padding-bottom: 10px
  bottom: 5px
  position: relative