.title_popup
  position: relative
  text-align: center
  font-size: 30px
  font-weight: bold
  color: #4d4d4d
  height: 80px
  line-height: 80px
  background: #f4f4f3
  .back
    position: absolute
    left: 0
    top: 0
    padding-left: 60px
    height: 80px
    line-height: 80px
    font-size: 18px
    color: #90908d
    font-weight: normal
    background: asset-url('m/icon/left1.png') no-repeat 30px center

.popup
  display: none
  z-index: 100
  position: fixed
  top: 0
  width: 100%
  height: 100%
  background: #fff
  overflow-y: auto
  overflow-x: hidden
  .info_browsing
    padding: 40px 30px
    color: #4d4d4d
    border-bottom: 1px solid #f4f4f3
    .number
      color: #90908d
  .list
    a
      display: block
      border-bottom: 1px solid #f4f4f3
      color: #4d4d4d
      font-size: 18px
      line-height: 60px
      padding-left: 30px
      font-weight: bold
    .checkbox
      input
        display: none
        &:checked
          &+label:before
            background: asset-url('m/checkbox/active_grean.png') no-repeat center center
      label
        display: block
        height: 50px
        line-height: 50px
        border-bottom: 1px solid #dcdccd
        color: #4d4d4d
        position: relative
        cursor: pointer
        padding-left: 80px
        .number
          font-weight: bold
        &:before
          content: ''
          position: absolute
          left: 30px
          height: 40px
          width: 40px
          top: 5px
          transition: ease 0.25s
          background: asset-url('m/checkbox/plus-bg.png') no-repeat center center

  .button_section
    padding: 20px 30px
    width: 580px
    border: 1px solid #dcdccd
    position: absolute
    bottom: 0
    .button_full
      width: 280px
      float: left
    .simple_button
      color: #90908d
      float: right
      width: 280px
.popup_currency
  position: fixed
  width: 100%
  height: 100%
  background: rgba(31, 43, 45, 0.5)
  z-index: 999
  display: none
  .currency_wraper
    width: 520px
    margin: 60px auto
    padding: 30px
    background: #fff
    position: relative
    .choose-text
      font-family: "PT Sans"
      font-weight: bold
      font-size: 24px
      line-height: 24px
      color: #d27a1e
    .choose-form
      padding-top: 20px
      input
        width: auto
        height: auto
        font-size: auto
        margin: 0
        &[type=radio]
          &:checked + label
            color: #fff
          display: none
      label
        display: block
        cursor: pointer
        position: relative
        width: 238px
        height: 40px
        margin: 20px auto
        padding-left: 20px
        border-radius: 2px
        font-size: 14px
        font-family: "PT Sans"
        font-weight: bold
        color: #d27a1e
        line-height: 40px
        z-index: 2
        border: 1px solid #d27a1e
        &:before
          content: ""
          display: block
          width: 100%
          height: 100%
          position: absolute
          top: 0
          left: 0
          z-index: -1
          color: #fff
      input
        &[type=radio]:checked + label:before
          background-color: #d27a1e
        &[type=submit]
          display: block
          width: 260px
          margin: 30px auto 0
          border: 0
          background-color: #d27a1e
          font-size: 14px
          font-family: "PT Sans"
          color: #fff
          line-height: 40px
          cursor: pointer
  .close
    float: right
    color: #fff
    i
      width: 30px
      height: 30px
      color: #d47a00
      font-size: 30px
      &:after
        content: '\f138'
        font-style: normal
        font-weight: normal
.popup_mesage
  position: fixed
  width: 100%
  height: 100%
  background: rgba(31,43,45, 0.5)
  z-index: 999
  display: none
  top: 0
  left: 0
  .message_wraper
    width: 520px
    margin: 60px auto
    padding: 30px
    background: #fff
    position: relative
    .title
      color: #d47a00
      font-size: 24px
      font-weight: bold
      &:before
        content: asset-url("m/icon/conv2.png")
        vertical-align: top
        margin-right: 10px
    input
      margin-top: 20px
      background: #efefef
    textarea
      margin-top: 20px
      background: #efefef
    .button_full
      margin-top: 20px
  .close
    float: right
    color: #fff
    i
      width: 30px
      height: 30px
      color: #d47a00
      font-size: 30px
      &:after
        content: '\f138'
        font-style: normal
        font-weight: normal

  .message_sent
    position: absolute
    width: 100%
    height: 100%
    background: #fff
    left: 0
    top: 0
    z-index: 1
    display: none
    .text
      position: absolute
      top: 50%
      text-align: center
      width: 100%
      color: #d47a00
      font-size: 30px
      font-weight: bold
      margin-top: -20px
    .close
      right: 30px
      top: 30px
      position: absolute

.popup_filtr
  width: 640px
  background: #f4f4f3
  display: none
  z-index: 100
  position: fixed
  top: 0
  height: 100%
  display: none
  overflow-x: hidden
  overflow-y: auto
  .list
    background: #fff
  .filtr_wraper
    position: absolute
    left: 0
    top: 0
    bottom: 0
    width: 640px
    transition: ease 0.5s
    &.active
      left: -640px
    .title
      position: relative
      text-align: center
      font-size: 30px
      font-weight: bold
      color: #4d4d4d
      height: 80px
      line-height: 80px
      background: #fff
      .close_filters
        position: absolute
        right: 20px
        top: 10px
        width: 60px
        height: 60px
        background: asset-url('m/icon/close_filtr.png') no-repeat center center
    .item
      padding: 0 30px
      cursor: pointer
      input[type='text']
        margin-top: 15px
        background: #fff asset-url('m/icon/left.png') no-repeat 95% center
        cursor: pointer
        transition: ease 0.3s
        &.active
          background: #fff asset-url('m/icon/down.png') no-repeat 95% center
      input[type='number']
        width: 280px
        margin-top: 15px
      textarea
        margin-top: 15px
        background: #fff asset-url('m/icon/left.png') no-repeat 95% center
        cursor: pointer
        height: auto
        padding-right: 50px
      .text
        margin-top: 15px
        line-height: 20px
        padding: 15px 50px 15px 10px
        background: #fff asset-url('m/icon/left.png') no-repeat 95% center
        .placeholder
          color: #90908d
      .label
        margin-top: 30px
        font-weight: bold
        color: #4d4d4d
    .button_wrap
      background: none
      margin-top: 20px
  .date_cat_wraper
    background: #fff
    position: absolute
    left: 640px
    top: 0
    bottom: 0
    transition: ease 0.3s
    width: 640px
    z-index: 1
    &.active
      left: 0
    .list
      .item
        border-bottom: 1px solid #f4f4f3
        font-size: 24px
        a
          height: 50px
          line-height: 50px
          color: #d47a00
          text-decoration: none
          display: block
          padding: 0 30px
          font-weight: bold
          .number
            float: right
            color: #90908d
            font-weight: normal

  #options_form .list
    display: none
  .brend_opc_wraper
    position: absolute
    width: 640px
    left: 640px
    top: 0
    bottom: 0
    transition: ease 0.5s
    z-index: 1
    background: #fff
    &.active
      left: 0
    .list
      .checkbox
        input
          display: none
          &:checked
            &+label
              background: #f4f4f3
              &:before
                background: asset-url('m/checkbox/active_orang.png') no-repeat center center
                transition: ease 0.3s
        label
          display: block
          height: 60px
          line-height: 60px
          border-bottom: 1px solid #dcdccd
          color: #4d4d4d
          position: relative
          cursor: pointer
          padding-left: 80px
          padding-right: 30px
          overflow: hidden
          font-weight: bold
          font-size: 24px
          background: #fff
          &:before
            content: ''
            position: absolute
            left: 30px
            height: 50px
            width: 40px
            top: 5px
            transition: ease 0.3s
            background: asset-url('m/checkbox/plus-bg.png') no-repeat center center
          .number
            float: right
        .allBrends
          display: block
          height: 60px
          line-height: 60px
          border-bottom: 1px solid #dcdccd
          color: #4d4d4d
          position: relative
          cursor: pointer
          padding-left: 80px
          padding-right: 30px
          overflow: hidden
          font-weight: bold
          font-size: 24px
          background: #fff
  .button_wrap
    padding: 20px 30px
    background: #fff
    border-bottom: 1px solid #dcdccd
  .delimiter
    font-size: 24px
    font-weight: bold
    height: 60px
    line-height: 60px
    padding-left: 30px
    color: #989898
    background: #fff
    border-bottom: 1px solid #dcdccd

.drop_down
  position: relative
  .drop_down_content
    position: absolute
    left: 30px
    right: 30px
    background: #fff
    z-index: 2
    border-top: 1px solid #f4f4f3
    display: none
    a
      display: block
      height: 50px
      line-height: 50px
      border-bottom: 1px solid #f4f4f3
      padding-left: 30px
      font-weight: bold

#product-delete
  label
    display: block
  input[type=radio]
    display: none

[id*=bump]
  left: 0
