/* page registration-login */

.reg_login
  width: 580px
  margin: 60px auto 0 auto
  .reg_registr
    a
      display: inline-block
      font-size: 30px
      font-weight: 600
      padding: 10px 30px 10px 30px
      color: #b8b8b8
      &.active
        background-color: #FFF
        color: #4d4d4d
  .input_mail
    padding: 80px 30px 0px 30px
    background-color: #FFF
    #reg_mail
      border: 1px inset
      height: 45px
      padding-left: 20px
    .form-error
      margin-top: -5px
  .reg_button
    background-color: #FFF
    overflow: hidden
    padding: 0 20px 20px 20
    .button_reg_mail
      font-size: 20px
      border: 1px solid #d47a00
      border-radius: 3px
      float: left
      line-height: 50px
      background-color: #d47a00
      margin: 22px 12px 20px 30px
      padding: 0
      a
        color: #fff
        padding: 12px 55px
    .button_reg_back
      float: right
      padding: 35px 105px 75px 0
      a
.reg_social
  width: 580px
  margin: 20px auto 210px auto
  background-color: #FFF
  overflow: hidden
  .reg_soc_title
    font-size: 30px
    font-weight: 600
    color: #4d4d4d
    padding: 20px 30px 10px 30px
    display: none
    &.active
      display: block


  .button_vk
    font-size: 20px
    border-radius: 3px
    float: left
    line-height: 50px
    background-color: #446790
    margin: 10px 0px 20px 30px
    a
      color: #fff
      padding: 10px 80px
  .button_f
    font-size: 20px
    border-radius: 3px
    line-height: 50px
    background-color: #39579b
    margin: 10px 0px 30px 30px
    float: left
    a
      color: #fff
      padding: 10px
      padding: 10px 80px


/* page registration-login_2 */

.reg_login_2
  width: 580px
  margin: 0 auto
  .input_mail_2
    padding: 80px 30px 0px 30px
    background-color: #FFF
    .form-error
      margin-top: -5px
    #reg_mail_2
      border: 1px inset
      width: 100%
      height: 45px
      padding-left: 20px
      font-size: small
    #pass
      border: 1px inset
      width: 495px
      height: 45px
      padding-left: 20px
      margin-top: 22px
  .reg_button_2
    background-color: #FFF
    overflow: hidden
    padding: 0 20px 20px 20
    .button_reg_mail_2
      font-size: 20px
      border: 1px solid #d47a00
      border-radius: 3px
      float: left
      line-height: 50px
      background-color: #d47a00
      margin: 22px 12px 20px 30px
      padding: 0
      a
        color: #fff
        padding: 13px 80px
    .forgot_pass
      margin: 33px 0 70px 50px
    .text_reg_2
      padding: 0 10px 61px 30px
    a
      padding-left: 5px


.flash-message
  background: #d77829
  font-size: 16px
  line-height: 30px
  color: #fff
  text-align: center
  position: relative
  min-height: 60px


