.slider-wrap
  width: 100%
  position: absolute
  top: 0
  left: 0
  text-align: center

.stripViewer
  .panelContainer
    .panel
      ul
        text-align: left
        margin: 0 15px 0 30px
      float: left
      height: 100%
      position: relative
      width: 580px
      text-align: center
      overflow: hidden
      img
        max-width: 100%
        max-height: 100%
    position: relative
    left: 0
    top: 0
  position: relative
  overflow: hidden
  width: 580px
  height: 560px

.stripNav
  display: none

.nav-thumb
  border: 1px solid black
  margin-right: 5px


.photo-meta-data
  background: asset-url('m/transpBlack.png')
  padding: 10px
  height: 30px
  margin-top: -50px
  position: relative
  z-index: 9999
  color: white
  span
    font-size: 13px


.page-wrap
  width: 580px
  margin: 25px auto
  position: relative
  height: 560px
  background: #b8b8b8
  .stripNavL,
  .stripNavR
    display: block
    position: absolute
    top: 280px
    width: 20px
    height: 35px
    z-index: 100
    a
      width: 20px
      height: 35px
      display: block
      text-indent: 500px
      overflow: hidden
  .stripNavL
    left: 20px
    a
      background: asset-url('m/icon/slider_left.png') no-repeat center center
  .stripNavR
    right: 20px
    a
      background: asset-url('m/icon/slider_right.png') no-repeat center center

.thumb_wraper
  width: 80px
  height: 80px
  text-align: center
  overflow: hidden
  display: inline-block
  margin: 5px
  .cross-link
    display: block
    opacity: 0.7
    img
      width: 100%
      height: auto
      z-index: 100
      display: block
  .active-thumb
    opacity: 1
