.del_dialog2#product-delete
  .title Почему удаляете товар?
  = form_tag '', method: 'DELETE', class: 'button_block2'
    - @product_deletion_reasons.each do |reason|
      a.button_empty_small2 href='javascript:;'
        label
          input type='radio' name='reason_id' id="reason_#{reason.id}" value=reason.id
          span= reason.name_ru
    a.button_empty_small2.cancel_del href='javascript:;' Отмена
