script src="http://maps.googleapis.com/maps/api/js?v=3&language=ru&region=RU&libraries=places"
/script src="/ckeditor/ckeditor.js"

= form_for @product, html: {class: "profile_shop js-form-validation"} do |f|
  .title_redact Добавление товара
  .title_cover-redact Что продаете?

  = f.hidden_field :category_id
  #category_list.dropdown.title required='required' data-validation-msg='Выберите значение из списка'
    a.dropdown-switch.js-link href="javascript:;"
      = @product.category.blank? ? "Выберите категорию" : @product.category.title
    ul.dropdown-list.js-dropdown-list
      - @categories.each do |category|
        li data-id="#{category.id}"
          = category.title

  .item#subcat style="#{'display:none;' unless @product.category }"
    .item_label * Подробнее
    = f.hidden_field :subcategory_id
    .dropdown required='required' data-validation-msg='Выберите значение из списка'
      a#subcat_name.dropdown-switch.js-link href="#"
        - if @product.subcategory.blank? && @product.detail
          = "Детали и принадлежности"
        - elsif @product.detail.blank? && @product.subcategory
          = @product.subcategory.title
        - else
          = "Выберите субкатегорию"
      ul.dropdown-list.js-dropdown-list#subcat_drop
        - if @product.category
          - @product.category.subcategories.each do |subcat|
            li data-id='#{subcat.id}'
              = subcat.title
          li#pick_details data-id=""
            = "Детали и принадлежности"

  .item#detail style="#{'display:none;' if @product.detail.blank? or @product.subcategory }"
    .item_label * Принадлежности
    = f.hidden_field :detail_id
    .dropdown required='required' data-validation-msg='Выберите значение из списка'
      a#detail_name.dropdown-switch.js-link.dropdown__input href="#"
        = @product.detail.blank? ? "Выберите деталь" : @product.detail.title
      ul.dropdown-list.js-dropdown-list#detail_drop
        - if @product.category
          - @product.category.details.each do |detail|
            li data-id="#{detail.id}"
              = detail.title
  .hr

  .title_cover-redact Спецификация
  .item
    .item_label * Бренд
    .form-control
      = text_field_tag "product[brand]", @product.brand ? @product.brand.title : "", placeholder: "#{@product.brand.blank? ? "Прим. Fender" : @product.brand.title}", class: "inputbox__input", required: true, 'data-validation-error-msg' => 'Поле не может быть пустым'
  .item
    .item_label * Модель
    = f.text_field :mark, required: true, 'data-validation-error-msg' => 'Поле не может быть пустым'
  .clearfix
    .item_year
      .item_label
        | Год
        a href='javascript:;' data-original-title=("Укажите предполагаемый год, если не знаете точную дату производства") data-placement="right" data-toggle="tooltip" style='margin-left: 10px'
          = image_tag 'm/icon/que1.png'
      = f.hidden_field :year
      #year_list.dropdown
        a.dropdown-switch.js-link.dropdown__input href="#"
          = @product.year.blank? ? "" : @product.year
        ul.dropdown-list.js-dropdown-list
          - (1901...2016).reverse_each.each do |i|
            li = i
    .item_color
      .item_label Цвет / отделка
      = f.text_field :color
  .item
    .item_label * Заголовок объявления
    = f.text_field :title, required: true, 'data-validation-error-msg' => 'Поле не может быть пустым'
  .item_price
    .item_label * Цена
    = f.text_field :price, required: true, 'data-validation-error-msg' => 'Поле не может быть пустым'
    a href='javascript:;' data-original-title=("Для удобства международного сообщества цена указана в долларах США") data-placement="right" data-toggle="tooltip"
      = image_tag 'm/icon/que1.png'
  .item
    .item_label * Состояние
    = f.hidden_field :condition
    #condition_list.dropdown required='required' data-validation-msg='Выберите значение из списка'
      a.dropdown-switch.js-link href='javascript:;'
        = @product.condition.blank? ? "Выберите состояние" : @product.condition
      ul.dropdown-list.js-dropdown-list
        li Новое
        li Как новое
        li Отличное
        li Очень хорошее
        li Хорошее
        li Удовлетворительное
        li Плохое
        li Нерабочее
  .item
    .item_label Страна производителя (начните вводить)
    = f.text_field :country_producing, placeholder: "#{@product.country_producing.blank? ? "Начните вводить" : @product.country_producing}"
  .wrap_checkbox
    label.checkbox for='product_handmade'
      = f.check_box :handmade
      span Handmade
    a href='javascript:;' data-original-title=("Отметьте это поле, если ваш экземпляр полностью ручной работы") data-placement="right" data-toggle="tooltip"
      = image_tag 'm/icon/que1.png'
  .hr
  .title_cover-redact
    |* Месторасположение товара
    .img_cover
    .item
      .item_label Начните вводить город
      = f.text_field :formatted_address, placeholder: "Введите город", :name => "formatted_address", "data-geo" => "formatted_address", id: "formatted_address", 'data-validation-error-msg' => 'Необходимо указать город'
      .details style="display:none"
        = f.hidden_field :city, name: "product[city]", :id => "product_city", "data-geo" => "locality"
        = f.hidden_field :country, name: "product[country]", :id => "product_country", "data-geo" => "country"
        = f.hidden_field :state, name: "product[state]", :id => "product_state", "data-geo" => "administrative_area_level_1"
        = f.hidden_field :lat, name: "product[lat]", :id => "product_lat", "data-geo" => "lat"
        = f.hidden_field :lng, name: "product[lng]", :id => "product_lng", "data-geo" => "lng"
        = f.hidden_field :formatted_address, name: "product[formatted_address]", :id => "product_formatted_address", "data-geo" => "formatted_address"
    .hr
  .title_cover-redact
    |Фото /видео оборудования
    .text_foto_red
      ul
        li Поддерживаемые форматы изображения: PNG, JPG,
        li GIF Размер изображений не должен привышать 5 мб
        li Вы можете загрузить не более 16 изображений
  .file-errors
    .file-errors-mime
      | Следующие файлы имеют неверный формат:
      .file-errors-list
    .file-errors-size
      | Изображения имеют размер более 5Мб:
      .file-errors-list
    .file-errors-max Вы можете загрузить не более 16 изображений
  .foto_block.dragdrop
    #photo_ids
      - @product.photos.each_with_index do |photo, index|
        input.photo-ids [
          name="product[photos[#{index}][id]]"
          type="hidden" value="#{photo.id}"
        ]
        input.photo-position [
          class="photo-#{photo.id}"
          name="product[photos[#{index}][position]]"
          type="hidden" value="#{photo.position}"
        ]
    .foto_block_title.dragdrop__photos
      |Можно менять последовательность картинок, перетаскивая их. Перетащив фото в левый верхний угол вы сделаете его обложкой.
      .dragdrop-items.clearfix
        = render @product.photos unless @product.photos.blank?

  .item
    .dragdrop-section [
      required='required'
      data-validation-msg='Добавьте хотя бы 1 изображение'
    ]
      #dropzone.dragdrop__text.foto_block_add Тап по области, чтобы добавить фотографию
  .foto_dowload.dragdrop_state_begin
    .dragdrop__progress
      span.progress-text Загрузка
      .progress
        .progress-bar style=("width: 0%;")
      .progress-status
        i.icon-checkup
      javascript:
              $(function() {
                window.files_count = parseInt("#{@product.photos.count}");
                window.initProductEdit = true;
              });
  .item
    .item_label Ссылка на видео с Youtube
    = f.text_field :video
    .hr
  .title_cover-redact
    |* Опишите ваше оборудование
    .item
      = f.text_area :description, required: :required, 'data-validation-error-msg' => 'Поле не может быть пустым'
  button.button_full type='submit' Сохранить

coffee:
  $("#formatted_address").geocomplete
    details: ".details"
    detailsAttribute: "data-geo"
    types: ['(cities)']
