.premiun_first
  = link_to premium_product
    - if premium_product.photos.first.present?
      .product-img
        = image_tag premium_product.photos.first.image(:promo),
                  alt: "#{premium_product.title}",
                  title: "Купить #{premium_product.title}"
      .premium_name
        .premium_name_title= premium_product.title
      .price
        =< price(premium_product.price)
