.popup.sort id="bump-#{product.id}"
  .title_popup
    | Рекламировать
    a.back.back_profile href='javascript:;' Назад
  .info_browsing
    | У вас осталось &nbsp;
    span.number= product.promo_items.active.payed.sum(:view_count)
    | &nbsp; просмотров

  = form_for @promo_item, html: {class: :list} do |f|
    = f.hidden_field :product_id, value: product.id

    - @promos.each do |promo|
      .checkbox
        = f.radio_button :promo_service_id, promo.id, id: "promo-item-#{promo.id}-#{product.id}"
        label for="promo-item-#{promo.id}-#{product.id}"
          = promo.title
          span.number= " $#{promo.price.to_s}"

    .button_section.clearfix
      = f.submit 'Купить еще', class: 'button_full'
      = link_to 'Как работает реклама?',
                how_advertising_works_path,
                prefix: 'm',
                class: 'simple_button',
                target: :blank
