= link_to product_path(product), class: 'item_first', prefix: 'm'
  .product-img
    - if product.photos.first.present?
      = image_tag product.photos.first.image(:large),
                  alt: "#{product.title}",
                  title: "Купить #{product.title}"
  .item_name
    .item_name_title= product.title
  .price
    =< price(product.price)

