.name_spec
  ul
    li Состояние:
  ul
    li Бренд:
  ul
    li Модель:

  - if @product.color.present?
    ul
      li Цвет:
  ul
    li Категория:

  - if @product.year.present?
    ul
      li Год выпуска:

  - if @product.country_producing.present?
    ul
      li Страна:

.text_spec
  ul
    li=< @product.condition
  ul
    li=< @product.try(:brand).try(:title)
  ul
    li=< @product.mark

  - if @product.color.present?
    ul
      li=< @product.color
  ul
    li
      =< @product.category.title
      - unless @product.detail.blank?
        = ","
        =< @product.detail.title

  - if @product.year.present?
    ul
      li=< @product.year

  - if @product.country_producing.present?
    ul
      li=< @product.country_producing
