- if @product.shop.delivery_place.present?
  .product-delivery
    .product-delivery__head
      i.icon-car
      | Условия доставки
    .product-delivery__subhead
      = @product.shop.delivery_place
- if @product.shop.delivery_method.present?
  .product-delivery__text
    p
      = @product.shop.delivery_method
- if @product.shop.payment_types.present?
  .product-delivery
    .product-delivery__head
      i.icon-wallet
      | Условие оплаты
    .product-delivery__text
      - @product.shop.payment_types.each do |payment_type|
        div
          = payment_type.title
- if @product.shop.return.present?
  .product-delivery
    .product-delivery__head
      i.icon-return
      | Условия возврата
    .product-delivery__text
      = @product.shop.return
