= content_for :head do
  // FB Open Graph stuff
  meta property='og:url' content="#{request.original_url}"
  meta property='og:title' content="#{@product.title}"
  meta property='og:description' content="#{@product.seo_description}"
  meta property='og:image' content="#{request.base_url}/#{@product.photos.first.image.url}"
  meta property='fb:app_id' content="#{ENV['FACEBOOK_KEY']}"

.layout
  .product_title= @product.title
  .button_wrap
    - if current_user && @product.shop.user == current_user && @product.permission != 'deleted'
      .button_wrap
        = link_to "Редактировать", edit_product_path(@product), class: "button_simple_fxW"
        a.button_simple_fxW.product-delete data-id="#{@product.slug}" href="#" Удалить
        .status_active
          = form_for @product, remote: true do |f|
            label
              = f.check_box :status, id: "change_status"
              .wrap_slide
                .noactive Не активен
                .active Активен
        .right [
          id="promote-product-#{@product.id}"
          style="#{'display:none;' if @product.status == false }"
          ]
            - if @product.promo_items.active.payed.blank?
              a.promote.button_arrow_orang_show style='width: 150px;height: 30px;font-size: 14px;margin: 10px;margin-right: 45px;line-height: 32px;text-align: left' href='javascript:;' data-product-id=@product.id Рекламировать
            - else
              a.add.button_add.promote href='javascript:;' data-product-id=@product.id
              a.view.button_eye href='javascript:;' = @product.promo_items.active.payed.sum(:view_count)

        = render partial: 'm/products/promote_popup', locals: {product: @product}
  .slider
    .fotorama data-allowfullscreen="true" data-click="true" data-keyboard="true" data-max-height="580" data-max-width="100%" data-min-width="580" data-nav="thumbs" data-shadows="true" data-thumbborderwidth="0" data-thumbheight="80" data-thumbmargin="10" data-thumbwidth="80" data-transitionduration="400"data-arrows="true" data-swipe= "true"
      - @product.photos.each do |photo|
        a data-full="#{photo.image.url}" href="#{photo.image.url(:fotorama)}"
          img itemprop="image" src="#{photo.image.url(:fotorama_thumb)}" alt="#{photo.product.try(:title)}" data-title="Купить #{photo.product.try(:title)}"
  #favorites_container
    =render 'm/favorites/favorite'
  .stat_product
    .seller_title Информация о продавце
    .seller_name
      = link_to @product.shop.title, @product.shop, style: "color:#90908d;" if @product.shop.title.present?
    .seller_data
      | Зарегистрирован
      =<l @product.shop.created_at.to_date, format: :long
    .seller_city
      = @product.shop.city.to_s + ", " if @product.shop.city.present?
      = @product.shop.country
    - if current_user
      - unless @product.shop.user_id == current_user.id
        = link_to conversations_path(user_id: @product.shop.user.id), method: :post, :class => "button_contact_seller"
          .button.button_block Связаться с продавцом

  .prod_info
    .prod_titles
      a.description.active href="" Описание
      a.cound href="" Условия
    .prod_descr= @product.description.try(:html_safe)
    .prod_descr_cound
      = render partial: 'tabpanel_conditions'

    - if @product.video.present?
      .product_video
        .title_video Видео
        .video_block
          iframe width="540" height="310" src="#{@product.video}" frameborder="0" allowfullscreen

    .specification
      .spec_title Спецификация
      = render 'tabpanel_description'

  .social_link
    .social_link_title
      |Поделиться
      ul
        li
          a.icon-facebook href="" id='share_fb' rel="nofollow" target="_blank"
      ul
        li
          = javascript_include_tag "http://vk.com/js/api/share.js?90"
          javascript:
            document.write(VK.Share.button({
              url: "#{request.original_url}",
              title: "#{@product.title}",
              description: "#{@product.seo_description}",
              image: "#{request.base_url}/#{@product.photos.first.image.url}",
              noparse: true},
              {type:'custom',
              text: "<img src='/assets/m/icon/vk.png' />"}
            ));

  .brick_item.clearfix.offer_block
    .offer_block_title Похожие предложения
    = render partial: 'm/products/product', collection: @similar_products

  .button_more
    = link_to 'Посмотреть больше', root_path

= render partial: 'delete_popup'

javascript:
  window.fbAsyncInit = function() {
  FB.init({
  appId      : "#{ENV['FACEBOOK_KEY']}",
  xfbml      : true,
  version    : 'v2.2'
  });

  // ADD ADDITIONAL FACEBOOK CODE HERE
  };

  (function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  $(document).ready(function() {
    $('#share_fb').on('click', function() {
      FB.ui({
        method: 'feed',
        name: '#{@product.title}',
        description: '#{@product.seo_description}',
        picture: "#{request.base_url}/#{@product.photos.first.image.url}",
        link: '#{request.original_url}'
      }, function(response) {});
      return false;
    });
  });
