<% if @product.status == false %>
  $("#promote-product-<%= @product.id %>").hide();
  $('label[data-id=<%= @product.id %>]').removeClass('active');
<% elsif @product.status == true %>
  $("#promote-product-<%= @product.id %>").show();
  $('label[data-id=<%= @product.id %>]').addClass('active');
<% end %>
