.footer
  .footer_logo
    = link_to root_path
      = image_tag 'm/logo_footer.png'
  .subs
    .subs_title Подписаться на новости
    = render partial: 'm/subscribers/subscribe_form'
  .footer_col
    .footer_title Помощь
    ul
      li= link_to 'Почему музточка?', why_muzpoint_path, prefix: 'm'
      li= link_to 'FAQ', faq_path, prefix: 'm'
      li= link_to 'Реклама', how_advertising_works_path, prefix: 'm'
  .footer_col
    .footer_title О нас
    ul
      li= link_to 'О музточке', about_path, prefix: 'm'
      li= link_to 'Пользовательское соглашение', terms_of_use_path, prefix: 'm'
      li
        a.open_feedback href='javascript:;' Связаться с нами
  .footer_col
    .footer_title Навигация
    ul
      li= link_to 'Смотреть по бренду', brands_path, prefix: 'm'
      li= link_to 'Смотреть по городу', cities_path, prefix: 'm'
      li= link_to 'Смотреть по стране', countries_path, prefix: 'm'
  .footer_social
    ul
      li
        a href="https://twitter.com/Muztochka" target="_blank" rel="nofollow"
          i.icon-twitter
      li
        a href="https://www.facebook.com/muztochka?_rdr" target="_blank" rel="nofollow"
          i.icon-facebook
      li
        a href="https://plus.google.com/+Muztochka/posts" target="_blank" rel="nofollow"
          i.icon-google
      li
        a href="http://vk.com/muztochkacom" target="_blank" rel="nofollow"
          i.icon-vk
  .footer_list
      |Made by
      a href="http://thedigitalcrafters.com" target="_blank"  Digital Crafters
  .copy
    | © Муzточка,&nbsp;
    = Date.today.year

