.header
  - unless flash[:notice].blank?
    .notification.active
      = flash[:notice]
      a.notification-close href='javascript:;'
  .midle_wraper.clearfix
    .logo
      = link_to root_path, prefix: 'm'
        = image_tag 'm/logo.png'
    .button_header
      .button
        = link_to new_product_path, prefix: 'm'
          i.icon-plus
          |ПРОДАТЬ
    .menu_header class=('message_active' if @new_messages && @new_messages > 0)
      a#open_top_menu href="#"
  .account_block_top#account_block_top
    - if user_signed_in?
      = render 'm/shared/header_logged'
    - else
      = render 'm/shared/header_unlogged'
  .search
    = form_tag root_path, :method => 'get', id: 'products_search' do
      = text_field_tag :search,
                        params[:search],
                        placeholder: "Поиск"
      input id="but" src="/assets/m/icon/search.png"  type="image"
  = render 'm/shared/switch_currency'