.product-price
  span Цена 
  = price(@product.price)

- if user_signed_in?
  - unless @product.shop.user_id == current_user.id
    - if Favorite.find_by(:user => current_user, :product => @product).blank?
      = link_to favorites_path(:product_id => @product.id), :method => "POST", remote: true, :class => "button button-favorite"
        span.button-favorite__add
          i.icon-heart
          | Добавить в избранное
    - else
      = link_to Favorite.find_by(:user => current_user, :product => @product), :method => "DELETE", remote: true, :class => "button button-favorite button-favorite_pressed"
        span.button-favorite__favorite
          i.icon-heart
          | В избранном
        span.button-favorite__remove
          | Удалить из избранного

  .product-favorited
    = "Следят за товаром " + @product.favorites.count.to_s
