script src="https://maps.googleapis.com/maps/api/js?v=3&language=ru&region=RU&libraries=places&sensor=false"
= render 'users/profile_menu'
.layout-small
  .shop-top__title
    | Обложка магазина

- if @shop.errors[:cover].blank?
  .layout-page
    .main-pic style="background: url('#{image_path @shop.cover.url(:medium) }')"

- else
  .layout-small
    .shop-top__title
      ul
        - @shop.errors[:cover].each do |msg|
          li style="color:#ed6250"
            =< msg

.layout-small
  .shop-top__btn
    a#cover_button.button.button_type_default.button_size_small href=""  Сменить обложку
    input id='shop_cover' type='file' name='shop[cover]' style='overflow: hidden;display:none;' accept='image/jpg,image/png,image/pjpeg,image/jpeg'
    = link_to 'Удалить обложку', delete_shop_cover_shops_path, class: "button button_type_default button_size_small" if @shop.cover.present?
  .shop-top__text
    | Рекомендуемый размер обложки 940x200 пкс
    br/
    | Размеры больше или меньше указаных будут обрезаны
    br/
    | Поддерживаемые форматы изображения: PNG, JPG, GIF
    br/
    | Размер изображений не должен превышать 5 мб
    br/
  = form_for @shop, :html => {:class => "form form_shop"} do |f|
    .form-section
      .grid.clearfix
        .grid-item
          .form__label * Название магазина
          - if @shop.errors[:title][0]
            .inputbox.inputbox_error
              = f.text_field :title, class: "inputbox__input"
              .inputbox__error
                = @shop.errors[:title].last
          - else
            .inputbox
              = f.text_field :title, class: "inputbox__input", placeholder: "Введите название магазина"

    .form-section
      .grid.clearfix
        .grid-item.grid-about
          .form__label Краткое описание магазина
          .inputbox.inputbox_type_textarea
            = f.text_area :description, class: "inputbox__input"

        .grid-item
          .form__label Сайт
          - if @shop.errors[:site][0]
            .inputbox.inputbox_error
              = f.url_field :site, class: "inputbox__input"
              .inputbox__error
                = @shop.errors[:site].last
          - else
            .inputbox
              = f.url_field :site, class: "inputbox__input"

    .form-section
      .grid.grid_cols_2.grip_inside.clearfix
        .grid-item
          .form__label Адрес магазина
          - if @shop.errors[:city][0]
            .inputbox.inputbox_error
              = f.text_field :formatted_address, class: "inputbox__input"
              .inputbox__error
                = "Неверный формат адреса"
          - else
            .inputbox
              = f.text_field :formatted_address, class: "inputbox__input", placeholder: "Введите город", :name => "formatted_address", "data-geo" => "formatted_address", id: "formatted_address"

          .details style="display:none"
            = f.hidden_field :city, name: "shop[city]", :id => "shop_city", "data-geo" => "locality"
            = f.hidden_field :country, name: "shop[country]", :id => "shop_country", "data-geo" => "country"
            = f.hidden_field :state, name: "shop[state]", :id => "shop_state", "data-geo" => "administrative_area_level_1"
            = f.hidden_field :lat, name: "shop[lat]", :id => "shop_lat", "data-geo" => "lat"
            = f.hidden_field :lng, name: "shop[lng]", :id => "shop_lng", "data-geo" => "lng"
            = f.hidden_field :formatted_address, name: "shop[formatted_address]", :id => "shop_formatted_address", "data-geo" => "formatted_address"

    .form-section
      .grid.clearfix
        .grid-item.grip-pay.grip_inside
          .form__label Условие оплаты
          - @payment_types.each_with_index do |payment_type, index|
            .checkbox
              = check_box_tag "shop[payment_type_ids][]", payment_type.id, @shop.payment_types.map(&:id).include?(payment_type.id), class: "checkbox__input", id: "checkbox_#{index.to_s}"
              label.checkbox__label for="checkbox_#{index.to_s}"
                =< payment_type.title
        .grid-item.grid-return
          .form__label Условия возврата
          .inputbox.inputbox_type_textarea
            = f.text_area :return, class: "inputbox__input"
    .form-section
      .grid.grid_cols_3.clearfix
        .grid-item
          .form__label Куда доставляем
          = f.hidden_field :delivery_place
          #delivery_places_list.dropdown
            a.dropdown-switch.js-link href="#"
              = @shop.delivery_place.blank? ? "Куда доставляем" : @shop.delivery_place
            ul.dropdown-list.js-dropdown-list
              li В моем городе
              li Внутри страны
              li Международная доставка
      .grid-item.grid-return
        .form__label Способ доставки
        .inputbox.inputbox_type_textarea
          = f.text_area :delivery_method, class: "inputbox__input"
    .form-section
      a#submit.button.button_type_default href=""  Сохранить

javascript:
  $("#formatted_address").geocomplete({
    details: ".details",
    detailsAttribute: "data-geo"
  });
