= form_for Subscriber.new, :html => { :id => 'subscribe_form', class: 'js-form-validation-onsubmit', :remote => true } do |f|
  .form-control.error-msg-top
    = f.email_field :email, :id => 'form-footer', :placeholder => 'Ваш e-mail', 'data-validation-error-msg' => 'Укажите адрес эл. почты', 'data-validation' => :email, required: true
  .button_footer
    button type='submit' Подписаться
