li.dialog-item
  = link_to image_tag(message.sender.avatar(:chat), :class => "dialog-item__avatar"),shop_path(message.sender.shop.slug)
  .dialog-item__text
  	= raw(message.text)
  .dialog-item__footer
  	=> link_to message.sender.name, shop_path(message.sender.shop.slug)
    .dialog-item__date
    	=< time_ago_in_words message.created_at
    .product_in_conversation
      = message.conversation.product.title if message.conversation.product
