= render 'users/profile_menu'
.layout-small
  .good-top_wrap.messages-top__wrap.clearfix
    .good-search
      = form_tag conversations_path, method: 'GET'
        .inputbox.inputbox_action_yes
          input.inputbox__input value="#{params[:sentence]}"  type="text" name='sentence'  placeholder=("Найти в сообщениях") /
          .inputbox__action
            button.link-grey type='submit' 
              i.icon-search
    .grid-item.grid-messages-top
      a.button.button_type_default href=""  Не прочитанные
      a.button.button_type_default.button_active href=""  Все
  ul.list-messages
    - @conversations.each do |conversation|
      - if conversation.messages.length > 0 && conversation.sender && conversation.recipient
        li class="#{'new_messages' if conversation.messages.first.unreaded?(current_user)}"
          = link_to conversation, :class => "message message_unread"
            .message__name = conversation.companion_name(current_user)
            .message_product_name =link_to conversation.product.title,product_path(conversation.product.id) if conversation.product
            .message__text = raw conversation.messages.first.text
            .message__date = time_ago_in_words(conversation.messages.first.created_at) + ' назад от ' + conversation.messages.first.sender.name
          = link_to conversation, method: :delete, class: "message__delete link-grey"
            i.icon-remove.link-grey data-original-title="Удалить" data-placement="top" data-toggle="tooltip" title=""
-if params[:sentence].present?
  =paginate @conversations