script src="/ckeditor/ckeditor.js"
- if @conversation.sender_id == current_user.id or @conversation.recipient_id == current_user.id
  = render 'users/profile_menu'
  .layout-small#chat
    .dialog__wrap
      .dialog__back
        = link_to conversations_path, :class => "button button_type_default button_size_small"
          i.icon-arrow
          | Все сообщения
      .dialog__head
        => link_to 'Диалог с ' + @conversation.companion_name(current_user),shop_path(@conversation.sender.shop.slug)
        = link_to @conversation, method: :delete, :class => "link-grey"
          i.icon-remove data-original-title="Удалить" data-placement="top" data-toggle="tooltip" title=""
      ul.list-dialogs
      	- @conversation_messages.each do |message|
      		= render partial: 'message', locals: { message: message }
      form id="message_form" action=""
        input name="sender_id" value="#{@conversation.id}" id="conversation_id" type="hidden"
        -if @conversation.recipient_id == current_user.id
          input name="recipient_id" value="#{@conversation.sender_id}" id="recipient_id" type="hidden"
        -else
          input name="recipient_id" value="#{@conversation.recipient_id}" id="recipient_id" type="hidden"
        .form__row
          /.inputbox.inputbox_type_textarea
          textarea.inputbox__input cols="30" id="send_input" name="send_msg" placeholder=("Ваше сообщение") rows="10"
        .form__row
          input.button.button_type_default type="submit" value=("Отправить сообщение") id="send_button"
