.about_content strong{
  color: #8f8f8d;
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  display: block;
  padding-bottom: 20px;
}

.about_content p:nth-child(2){
  font-size: 18px;
  color: #90908d;
  border-bottom: 1px solid #dcdccd;
  padding-bottom: 30px;
  line-height: 29px;
  margin-bottom: 32px;
}
.about_content p:nth-child(3){
  color: #4d4d4d;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 30px;
}
.about_content p:nth-child(4) {
  background-color: #e38e1c;
  margin: 0 -60px 31px -40px;
  padding: 40px 20px 40px 40px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 29px;
}

.about_content p:nth-child(5){
  color: #4d4d4d;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 30px;
}
.about_content p:nth-child(6){
  color: #4d4d4d;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 30px;
}