.faq_content p:nth-child(odd) {
  padding-bottom: 10px;
}
.faq_content p:nth-child(even) {
  color: #4d4d4d;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 35px;
  display: block;
  border-bottom: 1px solid #dcdccd;
  margin-bottom: 35px;
}