.how_advertising_works_content strong{
  color: #4d4d4d;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 66px;
}
.how_advertising_works_content p:nth-child(odd) {
  color: #4d4d4d;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 35px;
  display: block;
  border-bottom: 1px solid #dcdccd;
  margin-bottom: 35px;
}
.how_advertising_works_content p:nth-child(even) {
  color: #d37900;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 10px;
}
.how_advertising_works_content p:nth-child(6){
  color: #fff;
  font-size: 18px;
  margin: -36px 0px 36px -20px;
  padding: 35px 0 33px 167px;
  background-color: #e38e1c;
  background-image: image-url("bg/ad-tariffs.png");
  background-repeat: no-repeat;
  background-position: 40px 41px;
  line-height: 170%;
  font-weight: normal;
}

.how_advertising_works_content p:first-child {
  border-bottom: 0
}

.how_advertising_works_content li{
  list-style-position: inside;
  list-style-type: disc;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 10px;
}
.how_advertising_works_content p:nth-child(7){
  color: #d37900;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 0;
}
.how_advertising_works_content p:nth-child(8){
  color: black;
  font-weight: bold;

}