.term_of_use_content p:nth-child(1){
  margin-top: 40px;
  padding-bottom: 0;


}



.term_of_use_content ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

.term_of_use_content li {
  display: table;
  counter-increment: item;
  list-style-type: none;
  color: #4d4d4d;
  font-size: 14px;
  margin-bottom: 20px;

}

.term_of_use_content li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
  font-weight: bold;
}

.term_of_use_content li li {
  margin: 10px 0;
}

.term_of_use_content li li:before {
  content: counters(item, ".") " ";
}
.term_of_use_content ol ol > li:before {
  content: counters(item, ".") ". ";
  margin-left: 120px;
}