.why_muzpoint_content strong{
  color: #4d4d4d;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 66px;
}
.why_muzpoint_content p:nth-child(even) {
  color: #d37900;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 10px;
}
.why_muzpoint_content p:nth-child(odd) {
  color: #4d4d4d;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 35px;
  display: block;
  border-bottom: 1px solid #dcdccd;
  margin-bottom: 35px;
}

.why_muzpoint_content p:first-child {
  border-bottom: 0
}
.why_muzpoint_content p:last-child{
  border-bottom: 0
}