.header_tab_blog {
  height: 60px;
}

.header_tab_item_blog {
  width: 25%;
  height: 60px;
  padding-top: 0px;
  line-height: 60px;
  text-transform: uppercase;
}

.header_tab_item_blog:hover {
  background: #d47a00;
}

.header_tab_item_blog:active {
  background: #d47a00;
}

.header_tab_text_blog {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.text_blog_wrapper {
  width: 640px;
  margin: 0 auto;
}

.title_blog h1{
  font-family: "PT Sans";
  font-size: 36px;
  font-weight: bold;
  color: #4d4d4d;
  margin-top: 20px;
}

.date_title_blog {
  color: #999995;
  padding: 25px 0 40px 0;
}

.date_title_blog span {
  font-weight: bold;
}

.title_text_blog {
  font-family: "PT Sans";
  font-size: 24px;
  font-weight: bold;
  color: #4d4d4d;
  padding-top: 40px;
}

.text_blog {
  font-family: "PT Sans";
  font-size: 14px;
  color: #4d4d4d;
  padding-top: 25px;
}

.video_blog {
  margin: 0 auto;
  margin-top: 40px;
}

.slider_blog {
  width: 620px;
  height: 400px;
  background: #fcfcfc;
  margin-top: 40px;
}

.blog_social {
  margin: 70px 0 70px 0;
}

.blog_social_title {
  width: 100px;
  float: left;
  color: #999995;
  padding: 25px 0 40px 0;
}

.blog_social_link {
  line-height: 70px;
}

.all_blogs_wrap {
  background: #dcdccd;
  padding: 60px 0;
}

.item_all_blogs {
  height: 30px;
}

.all_blogs_title {
  width: 220px;
  float: left;
  color: #000;
  font-family: "PT Sans";
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.butt_blog {
  float: right;
  height: 30px;
  line-height: 30px;
}

.item_tripel {
  margin-top: 30px;
  display: inline-block;
  margin-right: -20px;
}

.item_block {
  width: 300px;
  height: 330px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: inline-block;
  background-color: #fff;
  background-repeat: no-repeat;
  position: relative;
}

.article:before {
  content: "статья";
  color: #fff;
  background: #d47a00;
  padding: 3px 10px 5px 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  position: relative;
  top: 156px;
  left: 20px;
}

.overview:before {
  content: "обзор";
  color: #fff;
  background: #d47a00;
  padding: 3px 10px 5px 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  position: relative;
  top: 156px;
  left: 20px;
}

.play:after {
  content: "";
  width: 55px;
  height: 64px;
  background-image: image-url('play.png');
  position: absolute;
  top: 55px;
  left: 123px;
}

.lesson:before {
  content: "урок";
  color: #fff;
  background: #d47a00;
  padding: 3px 10px 5px 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  position: relative;
  top: 156px;
  left: 20px;
}

.foto:before {
  content: "фото";
  color: #fff;
  background: #d47a00;
  padding: 3px 10px 5px 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  position: relative;
  top: 156px;
  left: 20px;
}

.item_block:hover > .title_all_blogs {
  color: #d47a00;
}

.title_all_blogs {
  width: 260px;
  height: 90px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 180px;
  padding-left: 20px;
  color: #000;
}

.date {
  width: 120px;
  padding-left: 20px;
  float: left;
  color: #a3a3a3;
  font-weight: normal;
  font-size: 14px;
}

.autor {
  color: #a3a3a3;
  font-weight: bold;
  font-size: 14px;
}

.block_comment {
  background-color: #fff;
  padding-top: 50px;
}

.layout-page
.block_recall {
  height: 30px;
  border-bottom: 1px solid #cfcfcf;
}

.recall {
  height: 30px;
  width: 100px;
  float: left;
  text-align: center;
}

.recall:hover {
  border-bottom: 1px solid #000;
}

.bzh {
  height: 30px;
  width: 100px;
  float: left;
  text-align: center;
}

.bzh:hover {
  border-bottom: 1px solid #000;
}

.drop {
  width: 80px;
  height: 28px;
  background-color: #fff;
  color: #000;
  padding-left: 20px;
  text-align: left;
  cursor: pointer;
  border: none;
  float: right;
  line-height: 30px;
}

.dropbut {
  position: absolute;
  display: inline-block;
  float: right;
  width: 80px;
  font-size: 14px;
}

.dropbut:after {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 15px;
  right: 19px;
  background-image: image-url('icon/arr_down.png');
  transform: rotate(130deg);
}

.dropdown-content {
  display: none;
  position: relative;
  top: 29px;
  left: -21px;
  background-color: #fff;
  min-width: 100px;
  z-index: 9;
  line-height: 30px;
}

.dropdown-content a {
  font-size: 14px;
  color: #000;
  padding: 0 20px;
  text-decoration: none;
  display: block;
  height: 0px;
  line-height: 25px;
  overflow: hidden;
  transition: ease 0.3s;
  background-color: #fff;
}

.dropdown-content:hover {
  background-color: #f5f5f5;
}

.drop:hover > .dropdown-content {
  display: block;
  color: #cfcfcf;
}

.dropdown-content a {
  height: 25px;
  line-height: 25px;
}

.block_recommend {
  height: 30px;
}

.recommend {
  height: 30px;
  width: 100px;
  float: left;
  text-align: center;
}

.share {
  height: 30px;
  width: 100px;
  float: left;
  text-align: center;
}

.drop_sort {
  width: 200px;
}

.dropbut_sort {
  width: 200px;
}

.item {
  font-size: 20px;
  margin-bottom: 20px;
  color: #fff;
}



.block_disqus {
  display: inline-block;
  width: 100%;
  padding-bottom: 60px;
}

.sing_up {
  float: left;
  margin-right: 20px;
}

.found {
  float: left;
  margin-right: 20px;
}

.privacy {
  float: left;
  margin-right: 20px;
}

.disqus_logo {
  float: right;
}

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flexslider a img {
  outline: none;
  border: none;
}

.flexslider {
  margin: 0;
  padding: 0;
}

body {
  //background-image: image-url("img/bg.jpg");
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

.flexslider .slides img {
  width: 100%;
  display: block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .slides {
  display: block;
}

* html .slides {
  height: 1%;
}

/* Theme Styles */
.flexslider {
  position: relative;
  zoom: 1;
  background: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

/* Edit it if you want */
.flexslider .slides {
  zoom: 1;
}

/* Direction Nav */
.flex-direction-nav a {
  display: block;
  position: absolute;
  margin: -17px 0 0 0;
  top: 50%;
  cursor: pointer;
  text-indent: -9999px;
  background-color: #82d344;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#82d344), to(#51af34));
  background-image: -webkit-linear-gradient(top, #82d344, #51af34);
  background-image: -moz-linear-gradient(top, #82d344, #51af34);
  background-image: -o-linear-gradient(top, #82d344, #51af34);
  background-image: linear-gradient(to bottom, #82d344, #51af34);
}

.flex-direction-nav a:before {
  display: block;
  position: absolute;
  content: '';
  width: 20px;
  height: 40px;
  top: 0px;
  left: 20px;
  background: image-url('next_prev.png') no-repeat;
}

.flex-direction-nav a:after {
  display: block;
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  top: 35px;
}

.flex-direction-nav .flex-next {
  right: 60px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.flex-direction-nav .flex-next:before {
  background-position: -22px 0;
}

.flex-direction-nav .flex-prev:before {
  background-position: 0 0;
}

.flex-direction-nav .flex-next:after {
  right: 60;
  border-bottom: 5px solid transparent;
}

.flex-direction-nav .flex-prev:after {
  left: 0;
  border-bottom: 5px solid transparent;
}

/* Control Nav */
.flexslider .flex-control-nav {
  position: absolute;
  width: 100%;
  bottom: 50px;
  text-align: center;
  margin: 0 0 0 -10px;
}

.flex-control-nav li {
  display: none;
  zoom: 1;
}

.flex-control-paging li a {
  display: block;
  cursor: pointer;
  text-indent: -9999px;
  width: 7px;
  height: 34px;
  margin: 0 5px;
  background-color: #fff;
}

.flex-control-paging li a.flex-active {
  display: none;
  background-color: #f9e31c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9e31c), to(#f9e31c));
  background-image: -webkit-linear-gradient(top, #f9e31c, #f9e31c);
  background-image: -moz-linear-gradient(top, #f9e31c, #f9e31c);
  background-image: -o-linear-gradient(top, #f9e31c, #f9e31c);
  background-image: linear-gradient(to bottom, #f9e31c, #f9e31c);
  width: 15px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Captions */
.flexslider .slides p {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 5px;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 20px;
  color: white;
  background-color: #222222;
  background: rgba(0, 0, 0, 0.9);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.header_tab_blog {
  margin-bottom: 0;
}

.blogs {
  float: left;
  color: #d47a00;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
  font-family: PT Sans;
  text-transform: uppercase;
  padding-right: 20px;
}
.blogs:hover{
  cursor: pointer;
  color: #d47a00;

}

.title_top_blog_index {
  float: left;
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
  font-family: "Intro";
  line-height: 60px;
}
.title_top_blog_index:hover{
  cursor: pointer;
  color: #d47a00;
}
.header_tab_blog_index {
  width: 60%;
  margin-left: 40%;
}

.all_blog_wrap_index {
  padding: 0 0 20px 0;
  background: #f1f1ea;
}

.layout-page_blog_index {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.blog_index_title {
  width: 100%;
  text-align: center;
  margin: 25px 0 0px 0;
  font-size: 30px;
}

.top_blog_banner {
  width: 940px;
  height: 400px;
}

.title_blog_index {
  width: 400px;
  font-family: "PT Sans";
  font-size: 30px;
  font-weight: bold;
  padding: 160px 0 0 30px;
}

.title_blog_index:before {
  content: "статья";
  color: #fff;
  background: #d47a00;
  padding: 3px 10px 5px 10px;
  text-transform: uppercase;
  font-size: 12px;
  position: absolute;
  top: 125px;
  left: 30px;
  font-weight: normal;
}

.date_blog_top {
  font-weight: normal;
  padding: 10px 10px 0 30px;
  float: left;
  color: #b6b6b6;
}

.autor_blog_top {
  font-weight: normal;
  padding: 10px 0 20px 30px;
  color: #b6b6b6;
}

.butt_blog_index {
  font-size: 16px;
  float: none;
  height: 42px;
  line-height: 38px;
  width: 122px;
  text-align: center;
  margin-left: 30px;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  box-shadow: none;
}

.butt_blog_index:hover {
  border: 1px solid #d47a00;
  border-radius: 4px;
}
