- if conversation.messages.length > 0 && conversation.sender && conversation.recipient
  = link_to conversation_path(conversation), class: ("item_message #{'active' if conversation.messages.first.unreaded?(current_user)}"), prefix: 'm'
    .title= conversation.companion_name(current_user)
    .message_text= raw(conversation.messages.first.text)
    .date_deliv
      = time_ago_in_words(conversation.messages.first.created_at) + ' назад от ' + conversation.messages.first.sender.name
