.dislog_item class=('my_message' if message.sender.id == current_user.id)
  .img= image_tag message.sender.avatar(:chat)
  .text
    = raw(message.text)
    .descript
      .aftor=> link_to message.sender.name, shop_path(message.sender.shop.slug), prefix: 'm'
      .date_deliv=< time_ago_in_words message.created_at
