.account_block
  a.title#account_open href="#"
    .title_menu Мой аккаунт
    .item_title Сообщения

  = render 'm/users/profile_menu'

.profile_message
  .search_profile
    .search
      = form_tag conversations_path, method: 'GET'
        input value=params[:sentence]  type="text" name='sentence'  placeholder=("Найти в сообщениях") /
        button.but_search type='submit'
    a.sort_active href="javascript:;" Смотреть все

  .list
    = render @conversations

.button_item.clearfix
  /= will_paginate @conversations, page_links: false

.popup.sort#sort
  .title_popup
    | Сортировать
    a.back.back_profile href="#" Назад
  .list
    = link_to 'Смотреть непрочитанные ', '#', prefix: 'm'
    = link_to 'Смотреть все', conversations_path, prefix: 'm'
