- if @conversation.sender_id == current_user.id or @conversation.recipient_id == current_user.id

  .del_dialog style='display: none;'
    .title Удалить диалог?
    .button_block
      = link_to 'Удалить', conversation_path(@conversation), method: :delete, class: 'button_empty_small2', prefix: 'm'
      a.button_empty_small2.cancel_del href="#" Отмена

  #chat.inside_dialog
    .title
      = link_to 'Удалить диалог', 'javascript:;', class: 'button_empty_small2 del_dialog_open'
      .title_inside=> @conversation.companion_name(current_user)
      = link_to 'Назад', conversations_path, class: 'back', prefix: 'm'

    .dialogs_list
      = render partial: 'message', collection: @conversation.messages

    form action=""
      input name="sender_id" value="#{@conversation.id}" id="conversation_id" type="hidden"
      textarea cols="30" id="send_input" name="" placeholder='Ваше сообщение' rows="10"
      input.button_full type="submit" value='Отправить сообщение' id="send_button"
