.content
  /= hidden_field_tag 'detail', params[:detail]
  .category_menu_block
    #all-categories-toggle.cat_menu_title
      = link_to 'Все категории', 'javascript:;'
  .all-categories-section.hide
    - @categories.each do |category|
      .category_menu_block
        .cat_menu_title
          - unless category.title.eql?('Прочее')
            = link_to '#', id: 'open_menu'
              = category.title
              - case category.title
                - when "Электрогитары"
                  = image_tag "m/icon/categories/icons_0015_electric.png"
                - when "Педали и эффекты"
                  = image_tag "m/icon/categories/icons_0014_pedals.png"
                - when "Усилители гитарные"
                  = image_tag "m/icon/categories/icons_0013_amps.png"
                - when "Акустические гитары"
                  = image_tag "m/icon/categories/icons_0012_acoustic.png"
                - when "Аксессуары и детали"
                  = image_tag "m/icon/categories/icons_0011_acsessories.png"
                - when "Бас-гитары"
                  = image_tag "m/icon/categories/icons_0010_bass.png"
                - when "Ударные и перкуссия"
                  = image_tag "m/icon/categories/icons_0009_drums.png"
                - when "Духовые"
                  = image_tag "m/icon/categories/icons_0008_wind.png"
                - when "Смычковые"
                  = image_tag "m/icon/categories/icons_0007_orchestra.png"
                - when "Щипковые"
                  = image_tag "m/icon/categories/icons_0007_orchestra.png"
                - when "Народные"
                  = image_tag "m/icon/categories/icons_0005_folk.png"
                - when "Клавишные"
                  = image_tag "m/icon/categories/icons_0004_keys.png"
                - when "DJ оборудование"
                  = image_tag "m/icon/categories/icons_0003_dj.png"
                - when "Звук"
                  = image_tag "m/icon/categories/icons_0002_sound.png"
                - when "Свет и шоу"
                  = image_tag "m/icon/categories/icons_0001_lights.png"
          - else
            = link_to (image_tag('m/icon/categories/icons_0000_other.png'))+category.title,
                      category_path(category),
                      prefix: 'm',
                      class: 'other-category'
        .menu_show_section
          ul.clearfix
            - category.subcategories.each do |subcategory|
              li
                = link_to subcategory.title,
                          subcategory_path(subcategory.category,
                          subcategory),
                          prefix: 'm'

          - unless category.title == "Аксессуары & Разное"
            a.sub_title href="javascript:;" Детали и принадлежности
            ul.clearfix
              - category.details.each do |detail|
                li
                  = link_to detail.title,
                            category_path(category, detail: detail.id),
                            class: "link-grey",
                            prefix: 'm'

  .new_products
    .new_prod_title Последние добавленные
    .filter_button style="padding-left: 55px"
      .button_currency.button_new style="margin: 0 10px 0 0"
        a.open_currency href="#" =user_currency
      = form_tag root_path, method: 'get', id: 'filter_form'
        .button_henmade
          label for='main_filter_handmade'
            = radio_button_tag :main_filter, :handmade, params[:main_filter].eql?('handmade')
            span Б/У и handmade
        .button_new
          label for='main_filter_new'
            = radio_button_tag :main_filter, :new, params[:main_filter].eql?('new')
            span Новые
        .button_all
          label for='main_filter_'
            = radio_button_tag :main_filter, '', params[:main_filter].blank?
            span Все
