#delet_popup.popup.popup_open
  .popup__wrap
    .text_del Вы уверены что хотите удалить товар?
    .button_wraper
      a.button.button_dell.completly_remove data-method="delete" rel="nofollow" Удалить
      a.button.button_dell.delete_abort Отменить
