.title
  .avatar_menu
    = link_to edit_user_path(current_user)
      = image_tag current_user.avatar(:thumb)
  .name
    = link_to edit_user_path(current_user)
      .item= current_user.name if current_user.present?
  - if current_user.present?
    = link_to 'Перейти в магазин', shop_path(current_user.shop), class: 'go_shop', prefix: 'm'
.account_menu
  ul
    - if current_user.present?
      li= link_to 'Настройки магазина', edit_shop_path(current_user.shop), class: 'settings_item', prefix: 'm'
      li= link_to 'Товары', goods_user_path(current_user), class: 'product_item', prefix: 'm'
    li
      = link_to conversations_path, class: 'mesage_item',id:'unread_msgs', prefix: 'm'
        | Сообщения &nbsp;
        span.mesage= @new_messages if @new_messages > 0
    - if current_user.present?
      li= link_to 'Избранное', favorites_user_path(current_user), class: 'favorites_item', prefix: 'm'
      li= link_to 'Выйти', destroy_user_session_path, method: :delete
  .menu_social
    a href="https://twitter.com/Muztochka" target="_blank" rel="nofollow"
      i.icon-twitter
    a href="https://www.facebook.com/muztochka?_rdr" target="_blank" rel="nofollow"
      i.icon-facebook
    a href="https://plus.google.com/u/0/110281372284481490394/posts" target="_blank" rel="nofollow"
      i.icon-google
    a href="http://vk.com/muztochkacom" target="_blank" rel="nofollow"
      i.icon-vk
