.account_menu.unlogin
  ul
    li= link_to 'Войти', new_user_session_path, prefix: 'm',id:'m_login'
    li= link_to 'Регистрация', new_user_session_path(anchor: 'reg'), prefix: 'm',id:'m_reg'
    li= link_to 'Почему муzточка?', why_muzpoint_path, prefix: 'm'
    li= link_to 'О муzточке', about_path, prefix: 'm'
    li
      a.open_feedback href='javascript:;' Связаться с нами
  .menu_social
    a href="https://twitter.com/Muztochka" target="_blank" rel="nofollow"
      i.icon-twitter
    a href="https://www.facebook.com/muztochka?_rdr" target="_blank" rel="nofollow"
      i.icon-facebook
    a href="https://plus.google.com/u/0/110281372284481490394/posts" target="_blank" rel="nofollow"
      i.icon-google
    a href="http://vk.com/muztochkacom" target="_blank" rel="nofollow"
      i.icon-vk
