- if params[:user] && params[:set_password] == "true"
  - if User.find(params[:user]).confirmed? && User.find(params[:user]).password.blank?
    - user = User.find(params[:user])
    .popup-overlay style="display:block;"
    #new_password_popup.popup.popup_open style="display:block;"
      .popup__wrap
        / a.popup__close
        /   i.icon-cancel
        .popup__content
          = image_tag "logo/logo.svg"
          = form_for user, :remote => true, :url => set_password_user_path(User.find(params[:user])), :class => "form form_login" do |f|
            .form__row
              .inputbox.inputbox_style_dark
                = f.password_field :password, :class => "inputbox__input", :placeholder => "Введите пароль (мин. 8 символов)", :autocomplete => :off, 'data-validation-length' => 'min8', 'data-validation-error-msg' => 'Введите пароль (мин. 8 символов)', 'data-validation' => :length
            .form__row
              .inputbox.inputbox_style_dark
                = f.password_field :password_confirmation, :class => "inputbox__input", :placeholder => " Введите повторно", 'data-validation' => :confirmation, 'data-validation-error-msg' => 'Пароли не совпадают', 'data-validation-confirm' => 'user[password]'
            .form__row.clearfix
              = submit_tag "Войти", :class => "button button_type_default"
- if params[:reset_password_token]
  - if @user
    .popup-overlay style="display:block;"
    #new_password_popup.popup.popup_open style="display:block;"
      .popup__wrap
        / a.popup__close
        /   i.icon-cancel
        .popup__content
          = image_tag "logo/logo.svg"
          = form_for @user, :remote => true, :url => set_password_user_path(@user), :class => "form form_login" do |f|
            .form__row
              .inputbox.inputbox_style_dark
                = f.password_field :password, :class => "inputbox__input", :placeholder => "Введите пароль (мин. 8 символов)", :autocomplete => :off, 'data-validation-length' => 'min8', 'data-validation-error-msg' => 'Введите пароль (мин. 8 символов)', 'data-validation' => :length
            .form__row
              .inputbox.inputbox_style_dark
                = f.password_field :password_confirmation, :class => "inputbox__input", :placeholder => " Введите повторно", 'data-validation' => :confirmation, 'data-validation-error-msg' => 'Пароли не совпадают', 'data-validation-confirm' => 'user[password]'
            .form__row.clearfix
              = submit_tag "Войти", :class => "button button_type_default"
