#password_edit_popup.popup.popup_open
  .popup__wrap
    a.popup__close
      i.icon-cancel
    .popup__content
      = image_tag "logo/logo.svg"
      = form_for current_user, :html => { :remote => true, :id => "password_changing_form" } do |user|
        .form__row
          .form__label
            |Текущий пароль
          .inputbox.inputbox_style_dark
            = user.password_field :current_password, class: "inputbox inputbox__input"
        .form__row
          #current_password_messages.popup__error style="display:none"
            | Неверный пароль
          .form__label
            |Новый пароль
          .inputbox.inputbox_style_dark
            = user.password_field :password, class: "inputbox inputbox__input", :placeholder => "Введите пароль (мин. 8 символов)"

        .form__row.clearfix
          a#password_save.button.button_type_default href="" Сохранить
