#recovery_popup.popup.popup_open
  .popup__wrap
    a.popup__close
      i.icon-cancel
    .popup__content
      = image_tag "logo/logo.svg"
      = form_tag user_password_path, class: "form_reg", remote: true do
        .form__row
          .form__label
            |Восстановить пароль
            i.icon-info data-toggle="tooltip" data-placement="top" title="" data-original-title="На ваш электронный адрес будет отправлена инструкция по восстановлению пароля"
          .inputbox.inputbox_style_dark
            = text_field_tag "user[email]", '', class: "inputbox__input", placeholder: "Электронная почта"
        .form__row
          #recovery_error_messages.popup__error style="display:none"
            | E-mail не зарегистрирован
        .form__row.clearfix
          = submit_tag "Отправить",  class: "button button_type_default"
          .step-back
            a.link-grey href="" id="recovery_popup_back_button"
              |Назад
        .form__row.clearfix
          .login-dont
            | Нет аккаунта?
            a href="" id="register_popup_button_two"
              =< "Зарегистрируйтесь"
