- if @promo.present?
  - if @promo.count == 1
    .layout-bricks.bricks-premium
      h2.bricks-premium__title
        | Премиум контент
      .bricks.js-masonry-promo

        = link_to how_advertising_works_path, class: "brick-item cap"
          = image_tag "icon/promo1.png" 
          span Как работает реклама на Музточке
        = link_to how_advertising_works_path, class: "brick-item cap"
          = image_tag "icon/promo2.png" 
          span Как работает реклама на Музточке

        = link_to @promo[0], class: "brick-item item_promo"
          - if @promo[0].photos.present?
            = image_tag @promo[0].photos.first.image(:promo), class: "brick-item__photo", alt: "#{@promo[0].title}", title: "Купить #{@promo[0].title}"
          .brick-item__bottom
            .brick-item__title
              = truncate @promo[0].title, length: 55, omission: ''
            .brick-item__price
              |$
              =< number_to_currency(@promo[0].price)


  - elsif @promo.count == 2
    .layout-bricks.bricks-premium
      h2.bricks-premium__title
        | Премиум контент
      .bricks.js-masonry-promo

        = link_to how_advertising_works_path, class: "brick-item cap"
          = image_tag "icon/promo1.png" 
          span Как работает реклама на Музточке
        - @promo.take(2).each do |product|
          = link_to product, class: "brick-item item_promo"
            - if product.photos.present?
              = image_tag product.photos.first.image(:promo), class: "brick-item__photo", alt: "#{product.title}", title: "Купить #{product.title}"
            .brick-item__bottom
              .brick-item__title
                = truncate product.title, length: 55, omission: ''
              .brick-item__price
                |$
                =< number_to_currency(product.price)


  - elsif @promo.count > 2
    .layout-bricks.bricks-premium
      h2.bricks-premium__title
        | Премиум контент
      .bricks.js-masonry-promo
        - @promo.each do |product|
          = link_to product, class: "brick-item item_promo"
            - if product.photos.present?
              = image_tag product.photos.first.image(:promo), class: "brick-item__photo", alt: "#{product.title}", title: "Купить #{product.title}"
            .brick-item__bottom
              .brick-item__title
                = truncate product.title, length: 55, omission: ''
              .brick-item__price
                |$
                =< number_to_currency(product.price)


- else
  .layout-bricks.bricks-premium
    h2.bricks-premium__title
      | Премиум контент
    .bricks.js-masonry-promo
      = link_to how_advertising_works_path, class: "brick-item cap"
        = image_tag "icon/promo1.png" 
        span Как работает реклама на Музточке
      = link_to how_advertising_works_path, class: "brick-item cap"
        = image_tag "icon/promo2.png" 
        span Как работает реклама на Музточке
      = link_to how_advertising_works_path, class: "brick-item cap"
        = image_tag "icon/promo3.png" 
        span Как работает реклама на Музточке
