.flash-message id="flash__open__new_user" style="display:none"
  .flash-message__inner
    | Мы отправили Вам письмо с инструкциями по активации аккаунта.
    a.flash-message__close id="flash__close_new_user_notice"
      i.icon-cancel
