.header-tab__wrap
  .layout-page
    .header-tab
      = link_to edit_user_path(current_user), class: "header-tab__item #{'_active' if params[:controller] == 'users' and params[:action] == 'edit'}"
        i.icon-user
        span.header-tab__text Аккаунт
      = link_to edit_shop_path(current_user.shop), class: "header-tab__item #{'_active' if params[:controller] == 'shops' and params[:action] == 'edit'}"
        i.icon-gear
        span.header-tab__text Магазин
      = link_to goods_user_path(current_user), class: "header-tab__item #{'_active' if params[:action] == 'goods'}"
        i.icon-tag
        span.header-tab__text Товары
      = link_to conversations_path(current_user), class: "header-tab__item #{'_active' if params[:controller] == 'conversations'}"
        i.icon-mail
        span.header-tab__text Сообщения
      = link_to favorites_user_path(current_user), class: "header-tab__item #{'_active' if params[:action] == 'favorites'}"
        i.icon-heart
        span.header-tab__text Избранное
