= render 'profile_menu'
.layout-small
  = form_for current_user, :html => {class: "form form_profile"} do |user|
    .change-avatar
      = image_tag current_user.avatar(:medium), :class => "change-avatar__img"
      = user.file_field :avatar, :style => 'overflow: hidden;display:none;', accept: 'image/jpeg,image/png,image/gif'
      .change-avatar__right
        .change-avatar__action
          a#avatar_button.button.button_type_default.button_size_small href=""  Сменить аватар
          = link_to 'Удалить', url_for(delete_avatar_user_path(:id => current_user.id)), :method => :delete, class: "button button_type_default button_size_small"
        .change-avatar__text
          | Минимальный размер изображения:
          br
          | 200x200 пикселей
    .form-section
      .grid.grid_cols_3.clearfix
        .grid-item
          .form__label Имя
          .inputbox
            = user.text_field :name, class: "input inputbox__input"
        .grid-item
          .form__label Фамилия
          .inputbox
            = user.text_field :surname, class: "input inputbox__input"
    .form-section
      .grid.grid_cols_3.clearfix
        .grid-item
          .form__label E-mail*

          - if current_user.errors[:email][0]
            .inputbox.inputbox_error
              = user.email_field :email, class: "input inputbox__input"
              .inputbox__error#email_error_messages Введите корректный e-mail
          - else
            .inputbox
              = user.email_field :email, class: "input inputbox__input"

        - unless current_user.encrypted_password.blank?
          .grid-item
            .form__label Пароль
            a#change_password.button.button_type_default href="" Изменить


    / .form-section
    /   .form-social.clearfix
    /     .form-social__text Связать учетные записи
    /     - if acc = SocialAccount.find_by( :user => current_user, :provider => "facebook")
    /       = link_to url_for(destroy_social_account_user_path(:account_id => acc.id)), :method => :delete
    /         .form-social__one
    /           .ios-check.ios-check_type_fb
    /             input#facebook_switcher.ios-check__checkbox type="checkbox" checked=""
    /             label.ios-check__label for="facebook_switcher"
    /               .ios-check__label-inner
    /               .ios-check__label-switch Facebook
    /     -else
    /       = link_to url_for(user_omniauth_authorize_path(:facebook))
    /         .form-social__one
    /           .ios-check.ios-check_type_fb
    /             input#facebook_switcher.ios-check__checkbox type="checkbox"
    /             label.ios-check__label for="facebook_switcher"
    /               .ios-check__label-inner
    /               .ios-check__label-switch Facebook
    /     - if acc = SocialAccount.find_by(:user => current_user, :provider => "vkontakte")
    /         = link_to url_for(destroy_social_account_user_path(:account_id => acc.id)), :method => :delete
    /           .form-social__two
    /             .ios-check.ios-check_type_vk
    /               input#vk_switcher.ios-check__checkbox type="checkbox" checked=""
    /               label.ios-check__label for="vk_switcher"
    /                 .ios-check__label-inner
    /                 .ios-check__label-switch Vkontakte
    /     - else
    /       = link_to url_for(user_omniauth_authorize_path(:vkontakte))
    /         .form-social__two
    /           .ios-check.ios-check_type_vk
    /             input#vk_switcher.ios-check__checkbox type="checkbox"
    /             label.ios-check__label for="vk_switcher"
    /               .ios-check__label-inner
    /               .ios-check__label-switch Vkontakte
    .form-section style="box-shadow: 0 0 0 0;"
      a#submit.button.button_type_default href="" Сохранить
