<% unless @user.errors[:email].blank? %>
  $('#new_user #user_email').parent().addClass('inputbox_error');
  $('#reg_error_messages').show();
  $('input').keydown(function(){
    $(this).parent().removeClass('inputbox_error')
    $('#reg_error_messages').hide();
  })
<% end %>
<% unless @user.errors[:password].blank? %>
  $('#new_user #user_password').parent().addClass('inputbox_error');
  $('#new_password_popup #user_password').parent().addClass('inputbox_error');
  // $('.inputbox_error').append("<div class = inputbox__error>Test</div>");
<% end %>
<% unless @user.errors[:password_confirmation].blank? %>
  $('#new_password_popup #user_password_confirmation').parent().addClass('inputbox_error');
<% end %>
