= render 'users/profile_menu'
.layout-page

  .goods__wrap
    .good-top_wrap.clearfix
      .good-search
        = form_tag goods_user_path(current_user), :method => 'get', id: 'products_q' do
          .inputbox.inputbox_action_yes
            = text_field_tag :q, params[:q], class: "inputbox__input", placeholder: "Поиск"
            .inputbox__action
              a.link-grey href="" id="submit_q"
                i.icon-search
            = hidden_field_tag 'sort_by', params[:sort_by]
            .filtering__sort_by
              #sort_select.dropdown
                a.dropdown-switch.js-link href="#"
                  - if params[:sort_by] == "active"
                    |Активные
                  - elsif params[:sort_by] == "non-active"
                    |Не активные
                  - elsif params[:sort_by] == "all"
                    |Все
                  - else
                    |Выберите опцию
                ul.dropdown-list.js-dropdown-list
                  li.sort_by data-sort="active"
                    |Активные
                  li.sort_by data-sort="non-active"
                    |Не активные
                  li.sort_by data-sort="all"
                    |Все
    - if @products.blank?
      - if params[:q]
        .no_product
            i.icon-tag.no_product-icon
            p.no_product-text По вашему запросу ничего не найдено
            a.button.button_type_default href="#{goods_user_path(current_user)}" Назад
      - else
        .no_product
          i.icon-tag.no_product-icon
          p.no_product-text Вы еще не добавили товар на продажу
          a.button.button_type_default href="#{new_product_path}" Добавить Товар
    - else
      - @products.each_with_index do |product, index|
        .good-item.good-item_type_active.clearfix
          - if product.photos.present?
            = link_to product
              = image_tag product.photos.first.image(:medium), class: "good-item__img"
          .good-item__info
            .info-head
              = link_to product, class: "info-head"
                = product.title
            .info-line
              = "Состояние: " + product.condition
            .info-line
              = "Опубликовано " + time_ago_in_words(product.created_at) + " назад"
          .good-item__data
            .data-amount
              =< price(product.price)
            = form_for product, remote: true do |f|
              .data-state
                .ios-check.ios-check_type_none
                  = f.check_box :status, id: "active_switcher_#{index}",  class: 'ios-check__checkbox js_status_ckeckbox'
                  label.ios-check__label for="active_switcher_#{index}"
                    .ios-check__label-inner
                    .ios-check__label-switch
                      span.ios-check__on Активен
                      span.ios-check__off Не активен
            .data-line
              = 'Просмотров ' + product.views_count.to_s
            .data-line
              = 'Следят за товаром ' + product.favorites.count.to_s
          .good-item__action
            a.delete_product class="action-delete" data-id="#{product.slug}" style="cursor:pointer" title="Удалить"
              i.icon-remove

            = link_to edit_product_path(product), class: "action-edit", title: "Редактировать"
              i.icon-edit
            .popover.popover_arrow_right
              - if product.promo_items.active.payed.blank?
                a.button.dropdown-switch.promo-button-js href="" id="promotions__#{product.id}" style="#{'display:none;' if product.status == false }" Реклама
              - else
                a href="" class="button button_type_multi button_size_small promo-button-js"
                  i.icon-eye
                  span.button__text
                    = product.promo_items.active.payed.sum(:view_count)
                  span.button__multi
                    i.icon-plus
              .popover-content style="display:none;"
                = form_for @promo_item do |f|
                  = f.hidden_field :product_id, value: product.id
                  - @promos.each_with_index do |promo, promo_index|
                    .radio
                      input.radio__input checked="" name="promo_item[promo_service_id]" type="radio" id="radio_#{index}_#{promo_index}" value="#{promo.id}"
                      label.radio__label for="radio_#{index}_#{promo_index}"
                        = promo.title
                        span.bold
                          = " $" + promo.price.to_s
                  .popover-action.clearfix
                    = f.submit 'Купить', class: 'button button_type_default button_size_small'
                    = link_to "Как работает реклама?", how_advertising_works_path, :class => "popover__action", :style => "margin-left:10px;"
      = paginate @products

= render "shared/deletion"
