.menu
  = render partial: 'm/shared/categories_menu'

  .brick_premium
    .brick_premium_title Премиум контент
    .premium
      = render partial: 'm/products/premium_product', collection: @promo

  .brick_item.clearfix
    = render partial: 'm/products/product', collection: @products

  - if @products.any?
    = paginate @products


