.popup-overlay
#feedback_popup.popup.popup_open
  .popup__wrap
    a.popup__close
      i.icon-cancel
    .popup__content
      .popup__head
        i.icon-mail
        =< "Сообщение"
      = render :partial => "feedbacks/form", :locals => { feedback: @footer_feedback}

#feedback_success.popup.popup_open
  .popup__wrap_sent
    a.popup__close
      i.icon-cancel
    .popup__content_sent
      .popup__head_sent
        |  Спасибо, уже читаем!
