.layout-page.clearfix
  .seo_category
    - if @subcategory
      = @subcategory.seo_text
    - elsif @category
      = @category.seo_text
    - elsif @geo
      = @geo.seo_text
    - elsif @content 
      - if @content.title == 'home'
        = @content.description.try(:html_safe)
      - else
        = @content.description unless params[:controller] == 'static'