ul.user-menu
  li
    .user-menu__top
      .user-menu__name
        = current_user.name
      = link_to "Перейти в магазин", shop_path(current_user.shop), class: "user-menu__store"
  li
    = link_to edit_user_path(current_user), class: "user-menu__link"
      i.icon-user
      | Аккаунт
  li
    = link_to edit_shop_path(current_user.shop), class: "user-menu__link"
      i.icon-gear
      | Настройки магазина
  li
    = link_to goods_user_path(current_user), class: "user-menu__link"
      i.icon-tag
      | Товары
  li
    = link_to conversations_path, class: "user-menu__link",id:'unread_msgs'
      i.icon-mail
      | Сообщения
      span.user-menu__count style="margin-left:6px;"  = @new_messages if @new_messages > 0
  li
    = link_to favorites_user_path(current_user), :class => "user-menu__link"
      i.icon-heart
      | Избранное
  li
    = link_to "Выйти", destroy_user_session_path, :method => :delete, class: "user-menu__link log_out"
