.header
  / a#delet_button href="#" style="width: 10px;height: 10px; background-color: #000; float: left;"
  .layout-page
    = link_to root_path, :class => "header-logo" do
      = image_tag "logo/logo.svg", class: "header-logo__img"
    .header-search
      = form_tag root_path, :method => 'get', id: 'products_search' do
        .inputbox.inputbox_style_dark.inputbox_action_yes
          = text_field_tag :search, params[:search], class: "inputbox__input header_search", placeholder: "Поиск"
          .inputbox__action
            a.link-grey href=""
              i.icon-search id="submit_search"
    - unless user_signed_in?
      ul.header-menu
        li
          .header-button
            .blogs Блог
            a.button.button_type_default id="#{'login_button_two' if !current_user}" href=""
              i.icon-plus
              span.button__text
              |  Продать
        li
          a href="" id="register_button"  регистрация
        li
          a href="" id="login_button"  Вход
    - else
      .header-button
        - if current_user.email.blank?
          a#sale_button.button.button_type_default
            i.icon-plus
          span.button__text Продать
        - else
          .blogs Блог
          = link_to new_product_path, class: 'button button_type_default'
            i.icon-plus
            span.button__text Продать
      .header-user
        .user
          - if @new_messages > 0
            span.user-notify = @new_messages
          a.control-user
            span.user-avatar
              = image_tag current_user.avatar(:thumb), class: "user-avatar__img"
            span.arrow

          = render 'shared/header_menu'
