ul.pagination.clearfix
  - if @page > 1
    li
      = link_to 'Предыдущая', params.merge(:page => @page - 1)
  - if @pages.times.count > 1

    - if @pages > 6
      - if params[:page]
        - if @page >= 4
          li
            = link_to "1", params.merge(:page => 1)

          - if @page > 4
            li
              a
                |...
          li
            = link_to (@page - 2).to_s, params.merge(:page => (@page - 2))
          li
            = link_to (@page - 1).to_s, params.merge(:page => (@page - 1))

          - if @page < @pages
            li._current
              = link_to params[:page], params.merge(:page => params[:page])

          - if @page <= @pages - 2
            li
              = link_to (@page + 1).to_s, params.merge(:page => (@page + 1))

          - if @page <= @pages - 3
            li
              = link_to (@page + 2).to_s, params.merge(:page => (@page + 2))

          - if @pages.to_i - 3 > @page
            li
              a
                |...
          li class="#{'_current' if @pages == @page}"
            = link_to @pages, params.merge(:page => @pages)

        - else
          - @pages.times do |page|
            - if page <= 4
              li class="#{'_current' if page + 1 == @page}"
                = link_to page + 1, params.merge(:page => page + 1)
          li
            a
              |...
          li
            = link_to @pages, params.merge(:page => @pages)

      -else
        li._current
          = link_to "1", params.merge(:page => 1)
        li
          = link_to "2", params.merge(:page => 2)
        li
          = link_to "3", params.merge(:page => 3)
        li
          = link_to "4", params.merge(:page => 4)
        li
          = link_to "5", params.merge(:page => 5)
        li
          a
            |...
        li
          = link_to @pages - 1 , params.merge(:page => @pages - 1)
        li
          = link_to @pages, params.merge(:page => @pages)

    - else
      - @pages.times do |page|
        li class="#{'_current' if page + 1 == @page}"
          = link_to page + 1, params.merge(:page => page + 1)


  - if @page < @pages
    li
      = link_to 'Следующая', params.merge(:page => @page + 1)

