.filter-item.add
  .filter-item__head.add-title Популярное
  ul
    - Product.includes(:photos).most_hit(1.month.ago, 3).each do |product|
      li.add-item
        - if product.photos.present?
          = image_tag product.photos.first.image(:thumb), class: "add-pic", alt: "#{product.title}", title: "Купить #{product.title}"
        .hide-box
          = link_to product, :class => "add-link" do
            = truncate product.title, length: 12
