#register_popup.popup.popup_open
  .popup__wrap
    a.popup__close
      i.icon-cancel
    .popup__content
      = image_tag "logo/logo.svg"
      = form_for User.new, :html => {:autocomplete => "off"}, :remote => true do |f|
        .form__row
          .form__label Новый аккаунт
        .form__row
          .inputbox.inputbox_style_dark
            = f.text_field :email, class: "inputbox__input", placeholder: 'Электронная почта', 'data-validation' => :required, 'data-validation-error-msg' => 'Введите e-mail'
        .form__row
          #reg_error_messages.popup__error style="display:none"
            | Некорректный или занятый e-mail
        / .form__row
        /   .inputbox.inputbox_style_dark
        /     = f.password_field :password, class: "inputbox__input", placeholder: "Пароль"
        .form__row
          .submit__wrap.clearfix
            = f.submit "Готово", class: "input button button_type_default"
            .form__more
              | Есть аккаунт?
              a href="" id="login_popup_button" Войдите
      .social-login.social-login_popup
        .social-login__head Создать новый аккаунт с помощью
        .clearfix
          .social-login__item
            = link_to "Вконтакте", user_omniauth_authorize_path(:vkontakte), class: "button button_type_vk button_block"
          .social-login__item
            = link_to "Facebook", user_omniauth_authorize_path(:facebook), class: "button button_type_fb button_block"
