.popup-overlay
#subscribe_popup.popup.popup_open
  .popup__wrap_sent
    a.popup__close
      i.icon-cancel
    .popup__content_sent
      .popup__head_sent
        h4
          |  Спасибо. Подписка оформлена
