#currency_popup.popup.popup_open
  .popup__wrap
    a.popup__close
      i.icon-cancel
    .popup__content
      .choose-text
        |Выберите валюту
    = form_tag switch_currency_path,class:'choose-form' do
      input type="radio" name="currency" value="uah" id="UAH"
        label for="UAH"class=(currency('uah')) ₴ UAH Украинская гривна
        input type="radio" name="currency" value="rub" id="RUB"
        label for="RUB" class=(currency('rub')) ₽ RUB Российский рубль
        input type="radio" name="currency" value="usd" id="USD"
        label for="USD" class=(currency('usd')) $ USD United States Dollar
        input type="radio" name="currency" value="eur" id="EUR"
        label for="EUR" class=(currency('eur')) € EUR Сurrency of the eurozone
      = submit_tag 'Сохранить',id:'change_currency'


