<% if user_signed_in?%>
  window.location.replace('<%= root_path %>')
<% else %>
  var errorTpl = $('<div>').addClass('form-error help-block').text('Некорректный e-mail или пароль.');
  $('#reg_mail_2').parent().addClass('has-error');
  $('#reg_mail_2').parent().append(errorTpl);
  $('#reg_mail_2, #pass').keydown(function(){
    $('#reg_mail_2').parent().removeClass('has-error');
    $('#reg_mail_2').next('.form-error').remove();
  })
<% end %>
