.wrapper
  .reg_login
    .reg_registr
      a#reg_registration href="" Регистрация
      a.active#reg_login href="" Войти
    .show_wraper#reg_login_show
      = form_for User.new,
                 as: :user,
                 remote: true,
                 authenticity_token: true,
                 html: {class: 'js-form-validation-onsubmit'},
                 url: users_path do |f|
        .input_mail
          .form-control.error-msg-top
            = f.email_field :email, placeholder: 'Электронный адрес', id: 'reg_mail', required: true, :'data-validation-error-msg' => 'Введите корректный e-mail'
        .reg_button
          button.button_reg_mail type='submit'
            a Создать аккаунт
          .button_reg_back
            |Есть аккаунт?
            a.login_link href='javascript:;'  Войти

  .reg_login_2
    .show_wraper#reg_registration_show
      = form_for User.new,
                 as: :user,
                 remote: true,
                 authenticity_token: true,
                 html: {class: 'js-form-validation-onsubmit'},
                 url: session_path(resource_name) do |f|
        .input_mail_2
          .form-control.error-msg-top
            = f.email_field :email,
                            autofocus: true,
                            placeholder: 'Электронный адрес',
                            id: 'reg_mail_2',
                            required: true,
                            :'data-validation-error-msg' => 'Введите корректный e-mail'
          = f.password_field :password, placeholder: 'Пароль', id: 'pass'
        .reg_button_2
          button.button_reg_mail_2 type='submit'
            a Отправить
          .forgot_pass
            = link_to 'Забыли пароль?', new_user_password_path, prefix: 'm'
          .text_reg_2
            |Нет аккаунта?
            a.registr_link href='javascript:;' Зарегистрируйтесь

  .reg_social
    .reg_soc_title#add_soc Создать аккаунт с помощью
    .reg_soc_title#login_soc.active Войти с помощью
    .button_vk
      = link_to "Вконтакте", user_omniauth_authorize_path(:vkontakte)
    .button_f
      = link_to "Facebook", user_omniauth_authorize_path(:facebook)
