.popup_mesage
  .message_wraper
    .title
      | Свяжитесь с нами
      a.close href='javascript:;'
        i

    = form_for Feedback.new, :html => { :class => "js-form-validation", :id => "feedback_form", :remote => true } do |f|
      .form-control
        = f.text_field :name, :placeholder => "Имя", required: true, 'data-validation-error-msg' => 'Поле не может быть пустым'
      .form-control
        = f.text_field :email, :placeholder => "E-mail", 'data-validation-error-msg' => 'Укажите адрес эл. почты', 'data-validation' => :email
      .form-control
        = f.text_field :phone, :placeholder => "Телефон"
      .form-control
        = f.text_area :text, :placeholder => "Ваше сообщение", :cols => "30", :rows => "10", required: true, 'data-validation-error-msg' => 'Поле не может быть пустым'
      button.button_full [
        type="submit"
        id="feedback_submit"
        data-disable-with="Отправляю..."
      ] Отправить Сообщение

    #message-sent.message_sent
      .text Спасибо, уже читаем!
      a.close href='javascript:;'
        i

