.page-banner.clearfix style="margin-top: 40px"
  - first = Banner.find_by(position: 1)
  - second = Banner.find_by(position: 2)
  - third = Banner.find_by(position: 3)
  - fourth = Banner.find_by(position: 4)
  .layout-page.clearfix_banner
    .vertical-banners
        a.banner.banner-equipment href="#{first.link}" style="background: url('#{image_path first.image.url, style: 'no-repeat'}')"
          span.banner__text
            .title-text-banner = first.title
            .main-text-banner = first.text
    .horizontal-banners
      .banner-row
        a.banner.small-banner.banner-article href="#{second.link}" style="background: url('#{image_path second.image.url}')"
          span.banner__text
            .title-text-banner = second.title
            .main-text-banner = second.text
        a.banner.small-banner.banner-views href="#{third.link}" style="background: url('#{image_path third.image.url}')"
          span.banner__text
            .title-text-banner = third.title
            .main-text-banner = third.text
      .banner-row
        a.banner.banner-blog href="#{fourth.link}" style="background: url('#{image_path fourth.image.url}')"
          span.banner__text
            .title-text-banner = fourth.title
            .main-text-banner = fourth.text