.condition-top_bg
  .condition-top_brands Все бренды на Музточке
.layout-small
  .brand_item
    .brand_ins_top
      = link_to "#", brands_path(:digit => "all"), prefix: 'm'
      - ('a'..'z').each do |alpha|
        = link_to alpha, brands_path(:alpha => alpha), prefix: 'm'
    .brand_ins_bot
      - ('а'..'я').each do |alpha|
        = link_to alpha, brands_path(:alpha => alpha), prefix: 'm'
  .brand_item
    .dialog__back
      .button_back= link_to "Все", brands_path, prefix: 'm'

  - @brands.group_by(&:initial).each do |initial, brands|
    .brand_item
      .brands_tab
        .title_tab= initial
        - brands.each do |brand|
          = link_to brand, prefix: 'm'
            = brand.title

  .brand_item_bottom
    .brand_ins_top
      = link_to "#", brands_path(:digit => "all"), prefix: 'm'
      - ('a'..'z').each do |alpha|
        = link_to alpha, brands_path(:alpha => alpha), prefix: 'm'
    .brand_ins_bot
      - ('а'..'я').each do |alpha|
        = link_to alpha, brands_path(:alpha => alpha), prefix: 'm'

  .brand_item_bottom
      .dialog__back
        .button_back= link_to "Все", brands_path, prefix: 'm'
