.wrapper
  .pass_rec
    .pass_title Восстановить пароль
    = form_for(resource,
               as: resource_name,
               remote: true,
               url: password_path(resource_name),
               html: { method: :post, class: 'js-form-validation-onsubmit' }) do |f|
      .input_mail
        .form-control.error-msg-top
          = f.email_field :email,
                          autofocus: true,
                          id: "form_mail",
                          placeholder: "Электронный адрес",
                          required: true,
                          'data-validation-error-msg': 'Введите корректный e-mail'
        a#but [
          data-original-title=("На ваш электронный адрес будет отправлена инструкция по восстановлению пароля")
          data-placement="top"
          data-toggle="tooltip"
        ]
          i= image_tag "m/icon/que.png"
      .pass_button
        button.button_mail type='submit'
          a Отправить
        .button_back
          = link_to 'Назад', new_user_session_path, prefix: 'm'
    .pass_text
      .pass_account
        |Нет аккаунта?
        = link_to 'Зарегистрируйтесь', new_user_session_path(anchor: 'reg'), prefix: 'm', clas: 'registr_link'
