.wraper-order
  .title-order
    |Подтверждние оплаты
  .text-order
    |Ваш товар
    strong
      |   "
      = @promo_item.product.title
      |"
    =< "будет размещен в блоке Премиум на"
    =< @promo_item.view_count
    =< "пользовательских кликов"
  .buttons-set.clearfix
    =liqpay_button @liqpay_request
      = link_to 'Перейти к оплате', '#', :onclick => "document.getElementById('liqpay_form').submit();", :class => "button"
  .after-text-order
    |Оплата производится через банковскую систему безопасных платежей LiqPay. Вы не предоставляете третьим лицам персональные данные, банковские реквизиты и номер кредитной или дебитской карты.

