.article-top style=("background-image: url(assets/bg/about_top.png)")
  .layout-small
    .article-top__text
      |
      =@content.header
.layout-small
  .about_content
    =@content.description.try :html_safe