.condition-top style=("background-image: url(assets/bg/about_top.png)")
  .layout-small
    .condition-top__text
      =@content.header
.condition
  .layout-small
    .condition_content
      =@content.description.try :html_safe