.brands_location-top
  .layout-page
    .brands_location-top__text
      |Ознакомся с лучшими  предложениями в твоей стране!
.brands_location.clearfix
  .layout-page
    .countries_list

      .countries_item
        .countries_title Украина 
        .countries_text 9 999 объявлений

      .countries_item
        .countries_title Литва 
        .countries_text 999 объявлений

      .countries_item
        .countries_title Белоруссия 
        .countries_text 1 500 объявлений 

      .countries_item
        .countries_title Ямайка 
        .countries_text 687 объявлений

      .countries_item
        .countries_title Украина 
        .countries_text 9 999 объявлений

      .countries_item
        .countries_title Литва 
        .countries_text 999 объявлений

      .countries_item
        .countries_title Белоруссия 
        .countries_text 1 500 объявлений 
        
      .countries_item
        .countries_title Ямайка 
        .countries_text 687 объявлений

      .countries_item
        .countries_title Украина 
        .countries_text 9 999 объявлений

      .countries_item
        .countries_title Литва 
        .countries_text 999 объявлений

      .countries_item
        .countries_title Белоруссия 
        .countries_text 1 500 объявлений 
        
      .countries_item
        .countries_title Ямайка 
        .countries_text 687 объявлений