.faq-top style=("background-image: url('assets/bg/about_top.png')")
  .layout-small
    .faq-top__title
      | FAQ
    .faq-top__text
      =@content.header
.faq
  .layout-small
    .faq_content
      =@content.description.try :html_safe
    .dialog__back
      = link_to root_path, class: "button button_type_default"
        i.icon-arrow
        | Вернуться на главную

