.condition-top.bg-center.add-wrapper style=("background-image: url(assets/bg/bg_ad.png)")
  .layout-small.layout__title
    .condition-top__text
      =@content.header
.condition
  .layout-small
    .how_advertising_works_content
      = @content.description.html_safe
    .dialog__back
      - if current_user
        = link_to goods_user_path(current_user), class: "button button_type_default"
          i.icon-arrow
          | Вернуться к товарам
      - else
        = link_to root_path, class: "button button_type_default"
          i.icon-arrow
          | Вернуться на главную
