.condition-top.bg-no-repeat style=("background-image: url(assets/bg/bg_why.jpg)")
  .layout-small.layout__title
    .condition-top__text
      |
      =@content.header
.condition
  .layout-small
    .why_muzpoint_content
      =@content.description.html_safe

    / .dialog__back
    /   = link_to root_path, class: "button button_type_default"
    /     i.icon-arrow
    /     | Вернуться на главную

