- if @current_layout == 'mobile'
  = link_to_next_page @products, 'Следующая', class: 'next_page', rel: 'next'
- else
  li
    = link_to_unless current_page.last?, raw(t 'views.pagination.next'),
      url, rel: 'next', remote: remote
