- if @current_layout == 'mobile'
  = link_to_previous_page @products, 'Предыдущая', class: 'previous_page', rel: 'previous'
- else
  li
    = link_to_unless current_page.first?, raw(t 'views.pagination.previous'),
      url, rel: 'prev', remote: remote
