.price_block
  .price_title Цена
  .price
    =< price(@product.price)

  - if user_signed_in?
    - unless @product.shop.user_id == current_user.id
      - if Favorite.find_by(:user => current_user, :product => @product).blank?
        .button_add.button-favorite= link_to 'ДОБАВИТЬ В ИЗБРАННОЕ', favorites_path(:product_id => @product.id), :method => "POST", remote: true
      - else
        .button_add.button-favorite= link_to 'УДАЛИТЬ ИЗ ИЗБРАННОГО', Favorite.find_by(:user => current_user, :product => @product), :method => "DELETE", remote: true
    .watch
      |Следят за товаром &nbsp;
      span#favorites-count= @product.favorites.count.to_s