.condition-top_bg (style="background-image: url(assets/m/bg/about.png)")
  .condition-top_about ПОМОГАЯ ВАМ В ВЫБОРЕ ЛУЧШЕГО, МЫ САМИ СТАНОВИМСЯ НЕМНОГО ЛУЧШЕ. МУЗТОЧКА - ЭТО ОДНИ ПЛЮСЫ В ТОМ ЧИСЛЕ И В КАРМУ
.layout-small
  .condition-sub__title
    .about_title Музточка — это выгодные, оперативные и безопасные сделки между музыкантами. Для этого наша команда осуществляет контроль за всем контентом ресурса.
    .about_subtext Мы – дружеское сообщество, поэтому здесь нет места некачественным товарам, неприязни и мошенничеству.
    .about_text Работая над сервисом Музточка, мы мечтали создать не просто ресурс тематических объявлений, а прежде всего –дружеское сообщество, которое бы объединяло людей, влюбленных в музыку.
    .about_block Мы, авторы проекта Музточка, сами являемся профессиональными музыкантами, поэтому отлично знаем, сколько зачастую приходится тратить времени и сил, чтобы найти подходящие инструменты или оборудование на многочисленных форумах и сайтах. Нам давно не хватало единого комфортного ресурса, где музыкант мог бы легко купить, продать, сдать в аренду или взять напрокат любой инструмент – от варгана до органа.
    .about_text Так появилась Музточка – удобный и практичный сервис, созданный своими для своих. К примеру, прежде чем вы разместите здесь свои объявления, мы дадим вам полезные советы, как сделать их более эффективными и интересными для широкой аудитории. Одним словом, на Музточке вы всегда находитесь среди друзей и единомышленников.
    .about_text_last Винтаж, ретро, раритеты, настоящие сокровища былых эпох или мега-продвинутые аппараты будущего – Музточка открывает неограниченный спектр музыкальных товаров и услуг. Присоединяйтесь и убеждайтесь, добро пожаловать в нашу теплую компанию!
  .dialog__back
    .button_back
      a.open_feedback href='javascript:;' Свяжитесь с нами
