.condition-top style=("background-image: url(assets/bg/about_top.png)")
  .layout-small
    .condition-top__text
      | Состояния товара
.condition
  .layout-small
    .condition-sub__title
      | Итак, вы сделали несколько отличных фотографий, добавили подробное описание и уже готовы опубликовать объявление. Но, нужно не забыть правильно определить и указать состояние товара. Вы не знаете, как правильно это сделать? Музточка предлагает восемь различных обозначений для описания состояния, от нового до полностью нерабочего. Мы собрали некоторые общие принципы, чтобы помочь вам правильно подобрать категорию состояния для вашего экземпляра.
    .condition-item
      .condition__title
        | Новое
      .condition__text
        | Здесь все очевидно. Товар должен быть не только новым, но и запечатаным или иметь оригинальную упаковку, документы. Экземпляры ручной работы также могут попадать в категорию новых.
    .condition-item
      .condition__title
        | Как новое
      .condition__text
        | Такие экземпляры могут быть распечатаны, протестированы и использованы очень бережно буквально несколько раз. Не должны иметь следов использования. Наличие оригинальной упаковки и документов обязательны.
    .condition-item
      .condition__title
        | Отличное
      .condition__text
        | Товар может быть в использовании некоторое время, но иметь состояние близкое к новому. Не должен иметь пятен, вмятин и других визуальных дефектов. Для винтажных экземпляров допускаются некоторые следы времени, но они должны быть в лучшем состоянии чем подобные.
    .condition-item
      .condition__title
        | Очень хорошее
      .condition__text
        | Это означает, что экземпляр может иметь некоторые легкие косметические недостатки. Гитара, например, может иметь некоторые царапины, незначительные дефекты. Но, товар должен быть полностью в рабочем состоянии.
    .condition-item
      .condition__title
        | Хорошее
      .condition__text
        | Хорошее состояние подразумевает полностью рабочее состояние. В то же время, экземпляр имеет некоторые заметные визуальные недостатки. Например, педаль эффектов с царапинами и вмятинами, гитара с некоторыми трещинами и сколами, барабан со следами коррозии металлических элементов могут быть классифицированы как имеющие хорошее состояние.
    .condition-item
      .condition__title
        | Удовлетворительное
      .condition__text
        | При таком состоянии вмятины, сколы, царапины и другие повреждения уже влияют на работоспособность инструмента или оборудования. Т.е. экземпляр в рабочем состоянии, но имеет функциональные недостатки. Скажем, у вас есть старенькая гитара с изношенным грифом и парочкой мертвых ладов.
    .condition-item
      .condition__title
        | Плохое
      .condition__text
        | В плохом состоянии экземпляр имеет явные функциональные проблемы, которые зачастую требуют ремонта. Это могут быть клавишные с некоторыми неработающими клавишами. Тот же усилитель, который включается, но громкость или регуляторы тембров работают не корректно.
    .condition-item
      .condition__title
        | Нерабочее
      .condition__text
        | Эта категория для полностью неработающих инструментов и оборудования. Например, пульт, которые даже не включается, гитара со сломанным грифом.
