.condition-top_bg  (style="background-image: url(assets/m/bg/faq.png)")
  .condition-top_faq
    .cond_title FAQ
    .cond_text Все что вы хотели узнать, но стеснялись спросить ?
.layout-small
  .condition-item
    .condition__title_faq Как покупать на Музточке?
    .condition__text Музточка не продает товары. Все сделки заключаются между продавцом и покупателем по их собственному усмотрению и волеизъявлению. В свою очередь, мы тщательно следим за качеством и актуальностью размещаемой пользователями информации. Поэтому, уделите особое внимание и время изучению товара, который вы хотите приобрести. Задайте необходимые вопросы продавцу и уточните условия доставки перед покупкой.
  .condition-item
    .condition__title Как редактировать объявление?
    .condition__text Для редактирования кликните на “Карандаш” напротив товара в личном кабинете, в разделе “Товары”.
  .condition-item
    .condition__title Как удалить / деактивировать объявление?
    .condition__text Чтобы удалить товар кликните на “Корзину” напротив товара в личном кабинете, в разделе “Товары”. Также, вы можете временно деактивировать объявление не удаляя его. Для этого выберите “Не активен”.
  .condition-item
    .condition__title Могу ли я публиковать много объявлений одновременно?
    .condition__text
      |Если вы хотите разместить на Музточке большой список товаров, пожалуйста, используйте CSV файл либо
      a href="#"  cвяжитесь
      |  с нами.
  .condition-item
    .condition__title Может ли объявление быть удалено автоматически по каким-либо причинам?
    .condition__text
      |В настоящее время размещение объявлений на Музточке безсрочное. В то же время, публикация может быть удалена Администрацией ресурса без предупреждения в случае нарушения
      = link_to ' пользовательского соглашения.', terms_of_use_path, prefix: 'm'
  .condition-item
    .condition__title Как определить и указать состояние товара?
    .condition__text
      |Вы можете найти наши описания
      = link_to ' здесь.', condition_path, prefix: 'm'
  .condition-item
    .condition__title Какие товары квалифицируются как “Handmade”?
    .condition__text Экземпляры ручной работы - это созданные вне промышленных производственных линий вещи. Не являются ручной работой отреставрированные серийные инструменты или оборудование. Например, гитару Gibson с самостоятельно замененным грифом и колками нельзя считать инструментом ручной работы.
  .condition-item
    .condition__title Могу ли я использовать для своих объявлений фотографии из каталогов?
    .condition__text Размещение фотографий из каталогов допускается для объявлений о продаже абсолютно новых экземпляров магазинов. Использование не оригинальных изображений и фотографий для продажи бывшего в употреблении оборудования и инструментов категорически запрещено.
