.condition-top_bg (style="background-image: url(assets/m/bg/bg_ad.jpg)")
  .condition-top_ad Как работает реклама на Музточке
.layout-small
  .condition-sub__title_ad Премиум контент - это выделенный блок объявлений сверху всех объявлений, который постоянно отображается на стартовой странице, в результатах поиска и страницах категорий. Товары из Премиум контента получают в 10 раза больше просмотров и продаются в 3 раза быстрее.
  .condition-item
    .condition__title_ad Как работает реклама в Премиум контенте?
    .condition__text_ad После оплаты объявление сразу же начинает с интервалами отображаться в блоке “Премиум контент” до исчерпания кликов. Вы оплачиваете не показы, а
  .condition-item
    .condition__title_ad Оплата рекламы
    .condition__text_ad Оплата производиться прямо на сайте через банковскую систему безопасных платежей LiqPay. Вы не предоставляете третьим лицам персональные данные, банковские реквизиты и номер кредитной/дебетной карточки.исключительно прямые переходы на Ваш товар. Количество кликов вы выбираете самостоятельно согласно тарифов.
  .add-tariffs__wrapper
    .add-tariffs__title Стоимость Премиум контента
    .add-tariffs__text Мы предлагаем следующие тарифы:
    .add-tariffs__item 1000 кликов - $2 ($0,002 за клик)
    .add-tariffs__item 4000 кликов - $6 ($0,0015 за клик)
  .condition-item.last
    .condition__title Музточка может выборочно помещать объявления в Премиум контент бесплатно
    h3.condition-list__title Наши критерии:
    ol.condition-list
      li Качественные фотографии. Чтобы качественно презентовать товар необходимы четкие предметные снимки, хорошее освещение                    и правильные ракурсы. Воспользуйтесь нашими советами.
      li Содержательное описание. Подробное описание товара имеет огромное преимущество для привлечения внимание потенциального покупателя. При этом учтите, что мы запрещаем использовать в описании только ЗАГЛАВНЫЕ буквы и сплошной выделенный шрифт.
      li Интересная цена. Музточка помогает пользователям заключать выгодные сделки. Более чем приемлемая цена на товар - весомый аргумент при продаже. Мы обращаем внимание на “вкусные предложения”.
      li Крутые экземпляры. Уникальные, эксклюзивные, редкие вещи всегда заставят обратить на себя внимание. Мы с удовольствием представим     их для всеобщего обозрения в первую очередь.
  .dialog__back
    .button_back
      = link_to 'Вернуться к товарам', goods_user_path(current_user), prefix: 'm'
