.condition-top_bg  (style="background-image: url(assets/m/bg/licenz.png)")
  .condition-top_licence Пользовательское соглашение
.layout-small
  .condition-item
    .condition__title 1. Предмет пользовательского соглашение
    .condition__text_sub
      .sub_cond_text
        |1.1. Предметом настоящего Пользовательского соглашения является регулирование правоотношений в форме публичного договора (оферты) между собственником ресурса, далее – «Администрация», как правообладателем интернет-сервиса, расположенного в сети Интернет   по адресу
        = link_to ' muztochka.com', root_path, prefix: 'm'
        |  (далее - «Интернет-сервис»),  и физическим/юридическим лицом-пользователем сети Интернет,  далее – «Пользователь», по поводу условий и порядка использования Интернет-сервиса.
      .sub_cond_text 1.2 Положения настоящего Пользовательского соглашения являются обязательными для всех Пользователей, зарегистрировавшихся посредством Интернет-сервиса.
      .sub_cond_text 1.3. Пройдя процедуру регистрации, Пользователь считается ознакомленным и принявшим условия Пользовательского соглашения в полном объеме, без всяких оговорок и исключений.
  .condition-item
    .condition__title 2. Права и обязанности сторон
    .condition__text_sub
      .sub_cond_title 2.1 Администрация имеет право:
      .sub_cond_text 2.1.1 по своему усмотрению создавать, изменять, отменять Пользовательское соглашение без предварительного уведомления Пользователя;
      .sub_cond_text 2.1.2 по своему усмотрению ограничить доступ к любой информации, размещённой Пользователем;
      .sub_cond_text 2.1.3 удалить информацию, размещённую Пользователем, учётную запись Пользователя;
      .sub_cond_text 2.1.4 отказать в регистрации учётной записи Пользователю, учётная запись которого была ранее удалена за нарушение условий Соглашения;
      .sub_cond_text 2.1.5 использовать файлы cookie для упрощенного доступа пользователя к некоторым сервисам, а также для сбора статистической информации с целью повышения эффективности взаимодействия пользователя с Интернет-сервисом, а также для получения информации, связанной с маркетинговыми мероприятиями (файл cookie – это программный файл, содержащий строку символов и отправляемый на компьютер пользователя, который посещает определенную страницу веб-сайта. При повторном посещении этого веб-сайта такой файл позволяет идентифицировать браузер пользователя. Файлы cookie способны хранить настройки пользователя и другие сведения).
      .sub_cond_title 2.2 Администрация обязуется:
      .sub_cond_text 2.2.1 осуществлять защиту учетной записи Пользователя от неправомерного доступа, уничтожения размещённой Пользователем информации, а также от иных неправомерных действий в отношении такой информации всеми находящимися в её распоряжении техническими средствами;
      .sub_cond_text 2.2.2 в случае размещения Пользователем информации, распространение которой ограничено или запрещено законодательством, либо вынести Пользователю предупреждение и удалить такую информацию, либо удалить учётную запись Пользователя, либо применить одну или несколько мер одновременно;
      .sub_cond_text 2.2.3 предоставить уполномоченным органам государственной власти всю доступную информацию о Пользователе в случаях, установленных законодательством.
      .sub_cond_title 2.3 Пользователь имеет право:
      .sub_cond_text 2.3.1 осуществлять размещение информации и пользоваться Интернет-сервисом на условиях Пользовательского соглашения;
      .sub_cond_text 2.3.2 в любой момент потребовать от Администрации скрытия от прочих пользователей Интернет-сервиса всей предоставленной им информации, а также собственной учетной записи Пользователя.
      .sub_cond_title 2.4 Пользователь обязуется:
      .sub_cond_text 2.4.1 предоставить достоверную информацию о себе и товаре;
      .sub_cond_text 2.4.2 при распространении информации, создателем которой Пользователь не является, обеспечить включение в её состав достоверных сведений об обладателе этой информации или об ином лице, распространяющем информацию, в форме и объёме, которые достаточны для идентификации такого лица;
      .sub_cond_text 2.4.3 не распространять информацию, которая направлена на пропаганду войны, разжигание национальной, расовой или религиозной ненависти и вражды, а также иной информации, за распространение которой предусмотрена уголовная или административная ответственность;
      .sub_cond_text 2.4.4 не использовать нецензурные и оскорбительные выражения;
      .sub_cond_text 2.4.5 не нарушать работоспособность сайта путём размещения информации,
      .sub_cond_text 2.4.6 содержащей вирусы, создания дополнительной нагрузки на сервер, применением программ, не обусловленных функциональным содержанием Интернет-сервиса и иными способами;
      .sub_cond_text 2.4.7 не использовать Интернет-сервис для рекламы и продвижения сторонних интернет-ресурсов, сайтов, магазинов, студий и т.д. без согласия Администрации;
      .sub_cond_text 2.4.8 не указывать в размещаемых на Интернет-сервисе объявлениях ссылки на другие сайты, где может продаваться данный товар;
      .sub_cond_text 2.4.9 не использовать в объявлении написание текстов полностью заглавными буквами;
      .sub_cond_text 2.4.10 не использовать в заголовке объявлений восклицательные, вопросительные знаки, многоточия и другие знаки;
      .sub_cond_text 2.4.11 не использовать транслитерацию (написание русских слов латинскими буквами);
      .sub_cond_text 2.4.12 не использовать фотографии/видео товара, содержащие какую-либо рекламную информацию сторонних интернет-ресурсов, сайтов, магазинов, студий и т.д., в том числе ссылки на них, номера телефонов и т.п.;
      .sub_cond_text 2.4.13 не использовать фотографии/видео товара, не имеющие смысловой связи с текстом объявлений и не позволяет проиллюстрировать товар, содержат абстрактные рисунки, изображения людей полностью или частично и т.д.;
      .sub_cond_text 2.4.14 не использовать фотографии/видео плохого качества;
      .sub_cond_text 2.4.15 размещать объявление в рубрику, строго соответствующую назначению товара;
      .sub_cond_text 2.4.16 не размещать одновременно более одного идентичного по сути и содержанию объявления.
  .condition-item
    .condition__title 3. Ограничение ответственности
    .condition__text_sub
      .sub_cond_title 3.1 Пользователь соглашается с тем, что:
      .sub_cond_text 3.1.1 Администрация не гарантирует отсутствия ошибок и сбоев, в том числе в отношении работы программного обеспечения. Администрация предпримет все усилия для устранения каких-либо сбоев и ошибок, в случае их возникновения, в максимально короткие сроки.
      .sub_cond_text 3.1.2 Администратор не является стороной по сделке между Покупателем и Продавцом, совершенных в результате использования Интернет-сервиса и не отвечает по обязательствам сторон, участвующих в ней.
      .sub_cond_text 3.1.3 Администрация не гарантирует, что услуги Интернет-сервиса полностью будут соответствовать требованиям Пользователя, а также предоставляться непрерывно и безошибочно.
      .sub_cond_text 3.1.4 Администрация не гарантирует, что качество товаров, услуг или информации, приобретенных или полученных с помощью Интернет-сервиса, будет полностью соответствовать ожиданиям и/или требованиям Пользователя.
      .sub_cond_text 3.1.5 Администрация не несет ответственности за содержание размещенных Пользователями объявлений.
      .sub_cond_text 3.1.6 Администрация не несет ответственности за любые прямые либо косвенные убытки, произошедшие из-за использования либо невозможности использования Интернет-сервиса, из-за несанкционированного доступа к учетной записи Пользователя из-за мошеннической деятельности третьих лиц.
  .condition-item
    .condition__title 4. Другие условия
    .condition__text_sub
      .sub_cond_title
      .sub_cond_text
      .sub_cond_text 4.1 Размещая объявление на Интернет-сервисе, Пользователь предоставляет Администрации на все материалы, на которые распространяются права интеллектуальной собственности, переуступаемую, передаваемую в порядке сублицензирования, свободную от роялти, лицензию на использование любых материалов, на которые распространяются права интеллектуальной собственности, размещаемых им на Интернет-сервисе.
      .sub_cond_text 4.2 Предоставляя свои персональные данные Интернет-сервису, Пользователь дает Администрации согласие на обработку своих персональных данных. Согласие на обработку персональных данных предоставляется в момент регистрации Пользователя.
      .sub_cond_text 4.2.1 В частности, Пользователь дает свое согласие на обработку его персональных данных, в том числе, на любое действие или совокупность действий, таких как сбор, регистрация, накопление, хранение, адаптирование, изменение, восстановление, использование и распространение (распространение, реализация, передача), обезличивание, уничтожение персональных данных, в том числе с использованием информационных (автоматизированных) систем.
      .sub_cond_text
        |4.3 Пользователь, считающий, что его права и интересы нарушены из-за действий Администрации или третьих лиц в связи с размещением на Интернет-сервисе какой-либо информации, направляет обоснованную претензию в службу поддержки
        = mail_to " info@muztochka.com"
      .sub_cond_text 4.4 В случае принятия нормативно-правовых актов органами власти, затрагивающих целиком или в части функционирование Интернет-сервиса, Администрация сохраняет за собой право внесения любых изменений в функционирование Интернет-сервиса, направленных на приведение его деятельности в соответствие с новыми нормами.
      .sub_cond_text 4.5 Никакое положение или условие Пользовательского соглашении не может пониматься как установление между Администрацией и Пользователем отношений по совместной деятельности либо каких-то иных гражданско-правовых отношений, прямо не предусмотренных данным Пользовательским соглашением.
