.condition-top_bg  (style="background-image: url(assets/m/bg/bg_why.jpg)")
  .condition-top Почему Музточка?
.layout-small
  .condition-sub__title Музточка предлагает оптимальный набор инструментов для покупки и продажи музыкальных инструментов и оборудования. Четкая структура навигации обеспечивает простоту восприятия информации, удобство поиска и выбора.
  .condition-item
    .condition__title 1. Персональный магазин
    .condition__text Каждый зарегистрированный пользователь при размещении своего первого объявления автоматически получает персональный магазин. Это отдельная страница со всем необходимым инструментарием: названием, рекламной вывеской (баннером) магазина, его описанием, отображением всех товаров (витриной), фильтрацией по всевозможным критериям, обратной связью с покупателями, рекламным продвижением товаров.
  .condition-item
    .condition__title 2. Никаких комиссий
    .condition__text Размещение объявлений абсолютно бесплатно. Продавец не платит никаких комиссионных за проданный на Музточке товар. Никаких скрытых платежей. Все честно и прозрачно.
  .condition-item
    .condition__title 3. Специализированная аудитория
    .condition__text Музточка объединяет узконаправленную аудиторию пользователей: музыканты, мастера, производители музыкальных инструментов и оборудования и их продавцы. Мы всех собираем под одной крышей.
  .condition-item
    .condition__title 4. Мгновенный обмен информацией
    .condition__text Всё без исключения общение между пользователями Музточки осуществляется напрямую. Любые вопросы и сообщения пользователей моментально доставляются адресату. Согласование цены и условий покупки займет считанные минуты.
  .condition-item
    .condition__title 5. Продвижение в поисковиках
    .condition__text Ресурс оптимизирован в соответствии с современными требованиями поисковых систем. Все объявления активно индексируются поисковиками, что обеспечивает ефективную выдачу ваших объявлений в результатах поисковых запросов пользователей интернета.
  .condition-item
    .condition__title 6. Продвижение в социальных сетях
    .condition__text Мы используем продвижение в самых крупных социальных сетях таких как Facebook, Вконтакте, Google+. Сотни наших подписчиков узнают о самом интересном на Музточке и могут делиться этим со своими друзьями и коллегами. А наши email рассылки доставляют информацию прямо к заинтересованным пользователям.
  .condition-item
    .condition__title 7. Реклама
    .condition__text
      | Продавцам предоставлен инструмент продвижения (рекламы) объявлений на Музточке. Сделав всего пару кликов, Ваш товар попадет в Премиум контент (отображается в блоке над всеми товарами) и получит в 10 раз больше просмотров пользователей. Воспользовавшись разделом  “Горячие предложения” Ваше объявление попадет в список “самого вкусненького”. Подробнее о рекламе узнайте
      = link_to ' здесь.', how_advertising_works_path, prefix: 'm'
