= form_for feedback, :html => { :class => "form form_message js-form-validation", :id => "feedback_form", :remote => true } do |f|
  .form__label
  .form__row
    .inputbox.inputbox_style_dark
      = f.text_field :name, :class => "inputbox__input", :placeholder => "Имя", required: true, 'data-validation-error-msg' => 'Поле не может быть пустым'
  .form__row
    .inputbox.inputbox_style_dark
      = f.text_field :email, :class => "inputbox__input", :placeholder => "E-mail", 'data-validation-error-msg' => 'Укажите адрес эл. почты', 'data-validation' => :email
  .form__row
    .inputbox.inputbox_style_dark
      = f.text_field :phone, :class => "inputbox__input", :placeholder => "Телефон"
  .form__row
    .inputbox.inputbox_type_textarea.inputbox_style_dark
      = f.text_area :text, :class => "inputbox__input", :placeholder => "Ваше сообщение", :cols => "30", :rows => "10", required: true, 'data-validation-error-msg' => 'Поле не может быть пустым'
  .form__row.clearfix
    input.button.button_type_solid.button_block type="submit" value="Отправить" id="feedback_submit" data-disable-with="Отправляю..."
