
.dragdrop-section
  .dragdrop__text Нажмите сюда или перетяните фото в эту область.
  .dragdrop__photos
    .head Можно менять последовательность картинок, перетаскивая их.
    .dragdrop-items.clearfix
      = render @photos

.dragdrop__progress.dragdrop__progress_state_finish
  span.progress-text Загрузка
  .progress
    .progress-bar style=("width: 100%;")
  .progress-status
    i.icon-checkup
