.condition-top_bg (style="background-image: url(/assets/m/bg/sities.jpg)")
  .condition-top_cities Ознакомься с лучшими предложениями в твоем городе!
.layout-small
  .country_cel
    |Страна
  .country
    a href="javascript:;"= params[:country] || 'Выберите страну'
    - Country.all.each do |country|
      ul
        li= link_to country.name, cities_path(country: country.name), prefix: 'm'

  .brand_item
    .brand_ins_bot
      - ('а'..'я').each do |alpha|
        = link_to alpha, cities_path(:alpha => alpha)
  .brand_item
    .dialog__back
      .button_back
        = link_to "Все", cities_path, prefix: 'm'

  - @cities.group_by { |city| city.slice(0).chr.upcase }.each do |initial, cities|
    .brand_item
      .brands_tab
        .title_tab= initial
        - cities.each do |city|
          a href="#{countries_path}/#{city[2].parameterize}/#{city[1].parameterize}/#{city[0].parameterize}"
            = city[0]

  .brand_item_bottom
    .brand_ins_bot
      - ('а'..'я').each do |alpha|
        = link_to alpha, cities_path(:alpha => alpha)

  .brand_item
      .dialog__back
        .button_back
          = link_to "Все", cities_path, prefix: 'm'
