.layout
  .seach_result
    - if @geo && @geo.image_file_name.present?
      .city_bg style="background: url('#{image_path @geo.image(:large)}') no-repeat center center"
    .seach_res_top
      - if @geo
        .seach_res_title= @geo.name
        div= link_to 'Выбрать другой город', cities_path, prefix: 'm'

      - if params[:category].present?
        .seach_res
          = Category.find(params[:category]).title
          a href="#" data-input-id='#category'
            = image_tag 'm/icon/x.png'

      - if params[:subcategory].present?
        .seach_res
          = Subcategory.find(params[:subcategory]).title
          a href="#" data-input-id='#subcategory'
            = image_tag 'm/icon/x.png'

      - if params[:detail].present?
        .seach_res
          = Detail.find(params[:detail]).title
          a href="#" data-input-id='#detail'
            = image_tag 'm/icon/x.png'

      - if params[:main_filter].present?
        .seach_res
          = main_filter_to_text(params[:main_filter])
          a href="#" data-input-id="#main_filter_#{params[:main_filter]}"
            = image_tag 'm/icon/x.png'

      - if params[:sort_by].present?
        .seach_res
          = sort_by_to_text(params[:sort_by])
          a href="#" data-input-id='#sort_by'
            = image_tag 'm/icon/x.png'

      - if params[:max_price].present?
        .seach_res
          = "Макс. #{params[:max_price]} $"
          a href="#" data-input-id='#max_price'
            = image_tag 'm/icon/x.png'

      - if params[:min_year].present?
        .seach_res
          = year_filter_to_text(params[:min_year])
          a href="#" data-input-id='#min_year'
            = image_tag 'm/icon/x.png'

      - if params[:max_year].present?
        .seach_res
          = year_filter_to_text(params[:max_year])
          a href="#" data-input-id='#max_year'
            = image_tag 'm/icon/x.png'

      - if params[:brands].present?
        - params[:brands].each do |b|
          .seach_res
            = Brand.find_by_id(b).title
            a href="#" data-input-id="#checkbox_#{b}"
              = image_tag 'm/icon/x.png'

      .seach_button
        = link_to "Сбросить все", @geo.name.parameterize
    .seach_res_button
      .seach_res_title
        = pluralize_products(Product.where(:city => @geo.name, :state => @geo.state).count)

      = render partial: 'm/shared/filters', locals: {city: @geo}

  .brick_premium
    .brick_premium_title Премиум контент
    .premium
      = render partial: 'm/products/premium_product', collection: @promo

  - if @products.any?
    .brick_item.clearfix
      = render partial: 'm/products/product', collection: @products
      = paginate @products
  - else
    .not_found_img_2
      = image_tag 'm/icon/search2.png'
      .not_found_failure К сожалению по этому запросу ничего не найдено

