doctype html
html
  head
    title
    meta charset="utf-8"

  body bgcolor="#F1F1EA"
    table align="center" bgcolor="#F1F1EA" border="0" cellpadding="0" cellspacing="0" width="100%"
      tr
        td height="40"
      tr
        td
          table align="center" bgcolor="#fff" border="0" cellpadding="0" cellspacing="0" style=("border-radius: 2px") width="600"
            tr
              td
                table align="center" border="0" cellpadding="0" cellspacing="0" width="520"
                  tr
                    td height="40"
                  tr
                    td height="40"
                      = link_to "#{request.base_url}" if request
                        = image_tag "email/logo.png"
                  tr
                    td height="20"
                  tr
                    td
                      div style=("color: #353535; font-family: 'PT Sans', Arial, sans-serif; font-size: 24px; line-height: 30px; font-weight: 700;") Привет, Костя
                  tr
                    td height="20"
                  tr
                    td
                      p style=("color: #353535; font-family: 'PT Sans', Arial, sans-serif; font-size: 16px; line-height: 24px; font-weight: 400; margin: 0 0 20px 0; padding: 0;") Тебе пишет Николай Воздухоносов.
                  tr
                    td
                      a href="" style=("border-radius: 2px; text-decoration: none; height: 40px; line-height: 40px; display: inline-block; padding: 0 20px;font-family: 'PT Sans', Arial, sans-serif; font-size: 14px; text-align: center; color: #fff; background-color: #D47A00") Просмотреть сообщения
                  tr
                    td height="40"
      tr
        td height="15"
      tr
        table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
          tr
            td
              p style=("color: #90908D; font-family: 'PT Sans', Arial, sans-serif; font-size: 16px; line-height: 24px; font-weight: 400; margin: 0; padding: 0;") © Музточка, 2015
      tr
        td height="40"
