.header-tab__wrap.header_tab_wrap_blog
  .layout-page.layout_page_blog
    .title_top_blog_index Блог
    .header-tab.header_tab_blog.header_tab_blog_index
      a.header-tab__item.header_tab_item_blog.active href="#{posts_path(articles:1)}"
        span.header-tab__text.header_tab_text_blog Статьи
      a.header-tab__item.header_tab_item_blog href="#{posts_path(overviews:1)}"
        span.header-tab__text.header_tab_text_blog Обзоры
      a.header-tab__item.header_tab_item_blog href="#{posts_path(lessons:1)}"
        span.header-tab__text.header_tab_text_blog Уроки
      a.header-tab__item.header_tab_item_blog href="#{posts_path(photos:1)}"
        span.header-tab__text.header_tab_text_blog Фото
-if @posts.any?
  .layout-page.layout-page_blog_index
    .top_blog_banner style=("background-image: url(#{(@important_post.photo.image.url(:blog_article_main))})");
      .title_blog_index data={content:@important_post.category}
        =@important_post.title
      .date_blog_top
        =l(@important_post.published_at, format: '%d %B %Y')+',' if @important_post.published_at.present?
      .autor_blog_top автор: #{@important_post.author}
      .button.button_type_default.butt_blog_index data={post_slug:@important_post.slug} Читать

    .item_all_blogs
      .all_blogs_title.blog_index_title
        a href="#" =blog_active_category
    .item_tripel

      -@posts.each do |post|
        a.item_block*{:class => blog_class(post.category)} href="#{post_path post.slug}" style=("background-size:contain;background-image: url(#{(post.photo.image.url(:blog_read_also))})");
          .title_all_blogs
            =post.title
          .date
            =post.published_at.strftime('%d %B %Y') if post.published_at.present?
          .autor
            =post.author
  = paginate @posts




