= content_for :head do
  meta property='og:url' content="#{request.original_url}"
  meta property='og:title' content="#{@post.title}"
  meta property = "og:type" content = "article"
  meta property='og:description' content="#{strip_tags(@post.first_paragraph_text)}"
  meta property='og:image' content="#{@post.photo.image.url}"

script type="text/javascript" src="https://vk.com/js/api/share.js?90" charset="windows-1251"
.header-tab__wrap.header_tab_wrap_blog
  .layout-page.layout_page_blog
    .title_top_blog_index Блог
    .header-tab.header_tab_blog.header_tab_blog_index
      a.header-tab__item.header_tab_item_blog.active href="#{posts_path(articles:1)}"
        span.header-tab__text.header_tab_text_blog Статьи
      a.header-tab__item.header_tab_item_blog href="#{posts_path(overviews:1)}"
        span.header-tab__text.header_tab_text_blog Обзоры
      a.header-tab__item.header_tab_item_blog href="#{posts_path(lessons:1)}"
        span.header-tab__text.header_tab_text_blog Уроки
      a.header-tab__item.header_tab_item_blog href="#{posts_path(photos:1)}"
        span.header-tab__text.header_tab_text_blog Фото

.layout-page
  .goods__wrap
    .text_blog_wrapper
      .title_blog
        h1
          =@post.title
      .date_title_blog
        =l(@post.published_at, format: '%d %B %Y')+','+' ' if @post.published_at.present?
        span #{@post.author}
    .img_blog
      img src="#{image_path @post.photo.image.url(:blog_article_main) if @post.photo.present?}"


    .text_blog_wrapper
      .title_text_blog
        = raw @post.first_paragraph_title
      .text_blog
        =raw @post.first_paragraph_text
      -if @post.video.present?
        .video_blog
          iframe allowfullscreen="" frameborder="0" height="360" src="#{@post.video}" width="580"
      -if @post.second_paragraph_title.present?
        .title_text_blog
        =raw @post.second_paragraph_title
      -if @post.second_paragraph_text.present?
        .text_blog
          =raw @post.second_paragraph_text
      -if @post.post_photos.present?
        .slider_blog
          .flex-container
            .flexslider
              ul.slides
                - @post.post_photos.each do |img|
                  li
                    img src="#{image_path img.image.url(:blog_slider)}" alt=""
      .text_blog
        =raw @post.article
        #disqus_thread
      .blog_social
        .blog_social_title Поделиться
        ul.footer-social.blog_social_link

          li
            a href="#" rel="nofollow" target="_blank"
              i.icon-facebook
          li
            javascript:
              document.write(VK.Share.button({
                        url: "#{request.original_url}",
                        title: "#{@post.title}",
                        description: "#{@post.article}",
                        image: "#{image_path @post.photo.image.url if @post.photo.present?}",
                        noparse: true
                      }, {
                        type: 'custom',
                        text: "<i class='icon-vk'></i>"
                      }
              ));
.all_blogs_wrap
  .layout-page
    .item_all_blogs
      .all_blogs_title Читайте также
      = link_to 'Смотреть все блоги',posts_path,class:'button button_type_default butt_blog to_blog_root'
    .item_tripel
      - @posts.each do |post|
        a.item_block*{:class => blog_class(post.category)} href="#{post_path post.slug}" style=("background-image: url(#{(post.photo.image.url(:blog_read_also) if post.photo.present?)})");
          .title_all_blogs
            =post.title
          .date
            =post.published_at.strftime('%d %B %Y') if post.published_at
          .autor
            =post.author

.block_comment
  .layout-page
javascript:
  $(document).ready(function () {
    $('.flexslider').flexslider({
      animation: 'fade',
      controlsContainer: '.flexslider'
    });
  });
javascript:
        window.fbAsyncInit = function () {
          FB.init({
            appId: "#{ENV['FACEBOOK_KEY']}",
            xfbml: true,
            version: 'v2.2'
          });

          // ADD ADDITIONAL FACEBOOK CODE HERE
        };

  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
      return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  $(document).ready(function () {
    $('.icon-facebook').on('click', function () {
      FB.ui({
        method: 'feed',
        name: '#{@post.title}',
        description: '#{@post.article}',
        picture: '#{@post.photo.image.url if @post.photo.present?}',
        link: '#{request.original_url}'
      }, function (response) {
      });
      return false;
    });
  });
javascript:
   var disqus_config = function () {
   this.page.url = "#{request.original_url}";
   this.page.identifier = "#{@post.slug}";
   };

  (function () {  // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');

    s.src = '//muzdot.disqus.com/embed.js';

    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();