.filter_button
  = form_tag @filters, method: 'get'
    = hidden_field_tag 'category', params[:category]
    = hidden_field_tag 'subcategory', params[:subcategory]
    = hidden_field_tag 'detail', params[:detail]
    = hidden_field_tag 'min_year', params[:min_year]
    = hidden_field_tag 'max_year', params[:max_year]
    = hidden_field_tag 'sort_by', params[:sort_by]

    span#filter_form
      .button_henmade
        label for='main_filter_handmade'
          = radio_button_tag :main_filter, :handmade, params[:main_filter].eql?('handmade')
          span Б/У и handmade
      .button_new
        label for='main_filter_new'
          = radio_button_tag :main_filter, :new, params[:main_filter].eql?('new')
          span Новые
      .button_all
        label for='main_filter_'
          = radio_button_tag :main_filter, '', params[:main_filter].blank?
          span Все

    .button_filt
      a.open_filtr href="#" Фильтр

    .popup_filtr
      .filtr_wraper
        .title
          | Фильтр
          a#close_filter.close_filters href="#"
        .item#sort.js-sort-filters.drop_down
          .label Сортировка
          input [
            type='text'
            value=sort_by_to_text(params[:sort_by])
            placeholder="Выберите опцию"
            readonly='readonly'
          ]
          .drop_down_content
            a href="#" data-sort="newest" Новые
            a href="#" data-sort="price_low_first" По возрастанию цены
            a href="#" data-sort="price_high_first" По убыванию цены

        .item
          .label Максимальная цена ($)
          = number_field_tag 'max_price', params[:max_price], min: 0

        .item#cat_open
          .label Категория
          input#cat_input [
            type="text"
            placeholder="Выберите категорию"
            readonly="readonly"
            value="#{@category_title if params[:category]}"
          ]

        .item#options_open style=('display:none;' if params[:category].blank? || params[:category].eql?('16'))
          .label Добавить опцию
          .text
            - if params[:subcategory].present?
              = Subcategory.find(params[:subcategory]).title
            - elsif params[:detail].present?
              = Detail.find(params[:detail]).title
            - else
              .placeholder Выберите опцию

        - unless defined?(brand)
          .item#brands_open
            .label Бренды
            .text== brands_ids_to_text(params[:brands])

        .item#years_open
          .label Год выпуска
          input#year_input [
            type="text"
            placeholder="Выберите год"
            readonly="readonly"
            value=year_filter_to_text(params[:min_year], params[:max_year])
          ]
        .button_wrap
          button.button_full type='submit' Применить

      .date_cat_wraper#years_form
        .title_popup
          |Год выпуска
          a.back href="#" Назад
        .list
          .item
            a href="#" data-min="2011"
              |c 2011
          .item
            a href="#" data-min="2001" data-max="2011"
              |2001-2011
          .item
            a href="#" data-min="1991" data-max='2000'
              |1991-2000
          .item
            a href="#" data-min="1981" data-max='1990'
              |1981-1990
          .item
            a href="#" data-min="1971" data-max='1980'
              |1971-1980
          .item
            a href="#" data-min="1961" data-max='1970'
              |1961-1970
          .item
            a href="#" data-min="1950" data-max='1960'
              |1950-1960
          .item
            a href="#" data-max="1950"
              |до 1950

      .date_cat_wraper#cat_form
        .title_popup
          |Категории
          a.back href="#" Назад
        .list
          - @categories.each do |category|
            .item
              a [
                href="javascript:;"
                data-cat=category.title
                data-category-id=category.id
              ]
                = category.title
                .number=< category.products.where(:shop_id => @shop.id).count

      - unless defined?(brand)
        .brend_opc_wraper#brands_form
          .title_popup
            |Бренды
            a.back href="#" Назад
          .list
            - @brands.each_with_index do |brand, index|
              .checkbox
                = check_box_tag "brands[]",
                                brand.id,
                                params[:brands] && params[:brands].include?(brand.id.to_s),
                                :id => "checkbox_" + brand.id.to_s,
                                'data-brend': brand.title
                label for="checkbox_#{brand.id.to_s}"
                  = brand.title
                  .number
                    = brand.products.where(:shop_id => @shop.id).count
          .button_wrap
            a.button_full#add_brens href="#" Применить


      .brend_opc_wraper.date_cat_wraper#options_form
        .title_popup
          |Выберите опцию
          a.back href="#" Назад
        - @categories.each do |category|
          .list data-parent-category-id=category.id
            - unless category.title == "Прочее"
              - category.subcategories.where(:id => @shop.products.map(&:subcategory_id)).each do |subcategory|
                .item
                  a [
                    href="javascript:;"
                    data-subcategory-id=subcategory.id
                  ]
                    = subcategory.title
            - unless category.title == "Аксессуары & Разное"
              .delimiter Детали и пренадлежности
              - category.details.where(:id => @shop.products.map(&:detail_id)).each do |detail|
                .item
                  a [
                    href="javascript:;"
                    data-detail-id=detail.id
                  ]
                    = detail.title
        .button_wrap
          a.button_full#add_options href="#" Применить

