.layout
  .shop_blnc_bg_top (style="background-image: url(/assets/m/bg/shop_top_bg.jpg)")
    .shop_blnc_title
      = @shop.title.blank? ? "Продавец " + current_user.name : @shop.title
    .shop_blnc_img
      = image_tag @shop.cover.url(:medium)
  .shop_blnc_text_block
    .shop_blnc_text_title
      | Зарегестрирован
      =<l @shop.created_at.to_date, format: :long

    - if current_user && @shop.user.id == current_user.id
      .button_failure
        = link_to 'Настроить магазин', edit_shop_path(current_user.shop), prefix: 'm'

  - if current_user && @shop.user.id == current_user.id
    .not_found_img_2
      = image_tag 'm/icon/search2.png'
      .not_found_failure Вы еще не добавили товар на продажу
    .button_failure_bottom
      = link_to 'Добавить товар', new_product_path, prefix: 'm'
  - else
    .not_found_img_2
      = image_tag 'm/icon/search2.png'
      .not_found_failure К сожалению пользователь еще не добавил товары
    .button_failure_bottom
      = link_to 'Смотреть другие предложения', '#'
