.account_block
  a.title#account_open href="#"
    .title_menu Мой аккаунт
    .item_title Настройки магазина

  = render partial: 'm/users/profile_menu'

.profile_shop
  .title_cover Обложка
  .img_cover= image_tag(@shop.cover ? @shop.cover.url(:medium) : 'm/bg/profile_shop.png')
  a.btn-file.change_cover href="javascript:;"
    | Сменить обложку
    input id='shop_cover' type='file' accept='image/jpg,image/png,image/pjpeg,image/jpeg'
    = link_to 'Удалить обложку', delete_shop_cover_shops_path(id: current_user.id) ,class:'remove_shop_cover'if @shop.cover.present?
  .anotation_cover
    ul
      li Рекомендуемый размер обложки 940x200 пкс
      li Размеры больше или меньше указаных будут обрезаны
      li Поддерживаемые форматы изображения: PNG, JPG, GIF
      li Размер изображений не должен привышать 5 мб
    .hr
  = form_for @shop, :html => {:class => "form form_shop js-form-validation"} do |f|
    .item
      .item_label * Название магазина
      .form-control
        = f.text_field :title,
                       placeholder: "Введите название магазина",
                       'data-validation' => 'length',
                       'data-validation-length' => 'min3',
                       'data-validation-error-msg' => 'Введите корректное название, должно содержать минимум 3 символа'
      .hr
    .item
      .item_label Краткое описание магазина
      = f.text_area :description
      .item_label Сайт
      .form-control
        = f.url_field :site,
                      'data-validation' => 'url',
                      'data-validation-optional' => true,
                      'data-validation-error-msg' => 'Неверный формат адреса'
      .hr
    .item
      .item_label Адрес магазина
      = f.text_field :formatted_address,
                     class: "inputbox__input",
                     placeholder: "Введите город",
                     :name => "formatted_address",
                     "data-geo" => "formatted_address",
                     id: "formatted_address"
      .details style="display:none"
        = f.hidden_field :city, name: "shop[city]",
          :id => "shop_city", "data-geo" => "locality"
        = f.hidden_field :country, name: "shop[country]",
          :id => "shop_country", "data-geo" => "country"
        = f.hidden_field :state, name: "shop[state]",
          :id => "shop_state", "data-geo" => "administrative_area_level_1"
        = f.hidden_field :lat, name: "shop[lat]",
          :id => "shop_lat", "data-geo" => "lat"
        = f.hidden_field :lng, name: "shop[lng]",
          :id => "shop_lng", "data-geo" => "lng"
        = f.hidden_field :formatted_address, name: "shop[formatted_address]",
          :id => "shop_formatted_address", "data-geo" => "formatted_address"
      .hr
    .item
      .item_label Условия доставки
      - @payment_types.each_with_index do |payment_type, index|
        .checkbox
          = check_box_tag "shop[payment_type_ids][]", payment_type.id, @shop.payment_types.map(&:id).include?(payment_type.id), class: "checkbox__input", id: "checkbox_#{index.to_s}"
          label.checkbox__label for="checkbox_#{index.to_s}"
            =< payment_type.title
      .item_label Условия возврата
      = f.text_area :return
      .hr
    .item
      .item_label Куда доставляем
      = f.hidden_field :delivery_place
      #delivery_places_list.dropdown
        a.dropdown-switch.js-link href="#"
          = @shop.delivery_place.blank? ? "Куда доставляем" : @shop.delivery_place
        ul.dropdown-list.js-dropdown-list
          li В моем городе
          li Внутри страны
          li Международная доставка
      .item_label Способ доставки
      = f.text_area :delivery_method
      .hr

    button.button_full type='submit' Сохранить

= javascript_include_tag "http://maps.googleapis.com/maps/api/js?v=3&language=ru&region=RU&libraries=places"
javascript:
  $("#formatted_address").geocomplete({
    details: ".details",
    detailsAttribute: "data-geo",
    types: ['(cities)']
  });
