<% unless @shop.errors[:cover].blank? %>
  $('#cover__place').hide();
  $('#cover__errors').show();
<% end %>

<% unless @shop.errors[:title].blank? %>
  $('#shop_title').parent().addClass('inputbox_error');
  $('#shop_title_blank').show();
<% end %>

<% unless @shop.errors[:site].blank? %>
  $('#shop_site').parent().addClass('inputbox_error');
  $('#shop_site_blank').show();
<% end %>
