- if @shop.products.blank?
  = render 'shop_blank'
- else
  .layout
    .shop_bg_top (style="background-image: url(/assets/m/bg/shop_top_bg.jpg)")
      .shop_title
        = @shop.title.blank? ? "Продавец " + current_user.name : @shop.title
      .shop_sity
        a= @shop.city.to_s + ", " if @shop.city.present?
        a= @shop.country
      - if current_user
        - unless @shop.user_id == current_user.id
          .shop_mail
            = link_to 'Связаться', conversations_path(user_id: @shop.user.id), method: :post, prefix: 'm'

      - if @shop.site.present?
        .shop_site
          a href="http://#{@shop.site}" Сайт

      .shop_img
        = image_tag @shop.cover.url(:medium)
        .shop_text_block
          .shop_text_title
            | Зарегестрирован
            =<l @shop.created_at.to_date, format: :long
          .shop_text_text= @shop.description

    .seach_result
      .seach_res_button
        .seach_res_title= count_products_of_shop(@shop.count_of_products)
        = render partial: 'shop_filters', locals: {shop: @shop}

      .seach_res_top_2
        - if params[:category].present?
          .seach_res_2
            = Category.find(params[:category]).title
            a href="#" data-input-id='#category'
              = image_tag 'm/icon/x.png'

        - if params[:subcategory].present?
          .seach_res_2
            = Subcategory.find(params[:subcategory]).title
            a href="#" data-input-id='#subcategory'
              = image_tag 'm/icon/x.png'

        - if params[:detail].present?
          .seach_res_2
            = Detail.find(params[:detail]).title
            a href="#" data-input-id='#detail'
              = image_tag 'm/icon/x.png'

        - if params[:main_filter].present?
          .seach_res_2
            = main_filter_to_text(params[:main_filter])
            a href="#" data-input-id="#main_filter_#{params[:main_filter]}"
              = image_tag 'm/icon/x.png'

        - if params[:sort_by].present?
          .seach_res_2
            = sort_by_to_text(params[:sort_by])
            a href="#" data-input-id='#sort_by'
              = image_tag 'm/icon/x.png'

        - if params[:max_price].present?
          .seach_res_2
            = "Макс. #{params[:max_price]} $"
            a href="#" data-input-id='#max_price'
              = image_tag 'm/icon/x.png'

        - if params[:min_year].present?
          .seach_res_2
            = year_filter_to_text(params[:min_year])
            a href="#" data-input-id='#min_year'
              = image_tag 'm/icon/x.png'

        - if params[:max_year].present?
          .seach_res_2
            = year_filter_to_text(params[:max_year])
            a href="#" data-input-id='#max_year'
              = image_tag 'm/icon/x.png'

        - if params[:brands].present?
          - params[:brands].each do |b|
            .seach_res_2
              = Brand.find_by_id(b).title
              a href="#" data-input-id="#checkbox_#{b}"
                = image_tag 'm/icon/x.png'

        .seach_button_2
          = link_to "Сбросить все", @shop

  - if @products.any?
    .brick_item.clearfix
      = render partial: 'm/products/product', collection: @products
      = paginate @products
  - else
    .not_found_img_2
      = image_tag 'm/icon/search2.png'
      .not_found_failure К сожалению по этому запросу ничего не найдено
