<% unless @user.errors[:email].blank? %>
  $('#recovery_popup #user_email').parent().addClass('inputbox_error');
  $('#recovery_error_messages').show();
<% end %>
$('input').keydown(function(){
  $(this).parent().removeClass('inputbox_error')
  $('#recovery_error_messages').hide();
})
