- if @brand && @brand.image_file_name.present?
  .page-top_filter style="background: url('#{image_path @brand.image(:large)}')"
    .layout-page
      .page-top__text

- else
  .page-top_filter
    .layout-page
      .page-top__text

.layout-page.clearfix
  = form_tag @brand, method: 'get', id: 'brands_filters_form'
    = hidden_field_tag 'category', params[:category]
    = hidden_field_tag 'subcategory', params[:subcategory]
    = hidden_field_tag 'main_filter', params[:main_filter]
    = hidden_field_tag 'detail', params[:detail]
    = hidden_field_tag 'min_year', params[:min_year]
    = hidden_field_tag 'max_year', params[:max_year]
    = hidden_field_tag 'sort_by', params[:sort_by]

    .filter_by_category
      - if @brand
        .filter-item__head
          h1
            = @brand.title

      .collect_filter_form
        - if params[:category].present?
          a.sub_params#cat_submit href="" data_id="#{params[:category]}"
            = Category.find(params[:category]).title

        - if params[:subcategory].present?
          a.sub_params#subcat_submit href="" sub_data_id="#{params[:subcategory]}"
            = Subcategory.find(params[:subcategory]).title

        - if params[:detail].present?
          a.sub_params#detail_submit href="" det_data_id="#{params[:detail]}"
            = Detail.find(params[:detail]).title

        - if params[:main_filter].present?
          - case params[:main_filter]
            - when "handmade"
              a.sub_params#main_submit  href=""
                = "Б/У и Handmade"
            - when "new"
              a.sub_params#main_submit  href=""
                = "Новые"

        - if params[:sort_by].present?
          - case params[:sort_by]
            - when "price_low_first"
              a.sub_params#main_submit  href=""
                = "По возрастанию цены"
            - when "price_low_last"
              a.sub_params#main_submit  href=""
                = "По убыванию цены"
            - when "newest"
              a.sub_params#main_submit  href=""
                = "Последние"

        - if params[:max_price].present?
          a.sub_params#main_submit  href=""
            = "Макс. "
            = params[:max_price]
            = " $"

        - if params[:min_year].present?
          a.sub_params#min_year_submit href=""
            = "c "
            = params[:min_year]

        - if params[:max_year].present?
          a.sub_params#max_year_submit href=""
            = "по "
            = params[:max_year]

      - if @brand
        - if params[:main_filter].present? or params[:subcategory].present? or params[:detail].present? or params[:min_year].present? or params[:max_year].present? or params[:brands].present?
          = link_to "Сбросить все", @brand, class: "reset_category"
      .description_filter
        - if @brand && @brand.text
          = @brand.text

    .filtering
      .filtering__count
        = " #{t('advert', count: @brand.products.count)}"

      .filtering__buttons id="brands_filtering__buttons"
        .buttons-set.clearfix
          a.button.button_type_default href="" class="#{'button_active' if params[:main_filter] == "handmade"}" data-type="handmade"
            |Б/У и handmade
          a.button.button_type_default href="" class="#{'button_active' if params[:main_filter] == "new"}" data-type="new"
            |Новые
          a.button.button_type_default href=""  class="#{'button_active' if params[:main_filter].blank?}" data-type=""
            |Все

      .filtering__sort
        #sort_select.dropdown
          a.dropdown-switch.js-link href="#"
            - if params[:sort_by] == "newest"
              |Последние
            - elsif params[:sort_by] == "price_low_first"
              |По возрастанию цены
            - elsif params[:sort_by] == "price_low_last"
              |По убыванию цены
            - else
              |Выберите опцию
          ul.dropdown-list.js-dropdown-list
            li data-sort="newest"
              |Последние
            li data-sort="price_low_first"
              |По возрастанию цены
            li data-sort="price_high_first"
              |По убыванию цены
      .filtering__price
        .filtering-text
          | Макс. цена
          |&nbsp;
          i.icon-usd
        .inputbox
          = text_field_tag :max_price, params[:max_price], class: "inputbox__input"
      .filtering__action
        a.button.button_type_default href="" id="submit_filter_form" Фильтр

    .layout-filters
      .filter-item
        .filter-item__head Категории
        ul.filter-list.filter-list_category id="brand_filters_list"
          - @categories.each do |category|
            li
              = link_to "", class: "link-grey", :data_id => category.id
                .filter-list__title style="#{'color:#d37900;' if params[:category] == category.id.to_s}"
                  = category.title
                .filter-list__count style="#{'color:#d37900;' if params[:category] == category.id.to_s}"
                  =< category.products.where(brand_id: @brand.id).count

              - unless category.title == "Прочее"
                .wraper_subcategory#show_hover_subcategory
                  ul.filter-list.filter-list_category_subcategory
                    .wraper_icon_category
                      .filter-subcategory__head
                        = category.title
                        = link_to "Смотреть все", category
                      img src="#{image_path category.iconic}"

                    - category.subcategories.each do |subcategory|
                      li
                        = link_to "#", class: "link-grey", :sub_data_id => subcategory.id, :data_id => subcategory.category.id
                          .filter-list__title style="#{'color:#d37900;' if params[:subcategory] == subcategory.id.to_s}"
                            = subcategory.title
                  - unless category.title == "Аксессуары & Разное"
                    ul.filter-list.filter-list_category_subcategory.other id="details-list"
                      .filter-subcategory__head Детали и принадлежности

                      - category.details.each do |detail|
                        li
                          = link_to "#", class: "link-grey", :det_data_id => detail.id, :data_id => detail.category.id
                            .filter-list__title style="#{'color:#d37900;' if params[:detail] == detail.id.to_s}"
                              = detail.title
      .filter-item
        .filter-item__head Год выпуска
        ul.filter-list.filter-list_years id="brand_list_years"
          li
            a.link-grey href="" data-min="2011" style="#{'color:#d37900;' if params[:min_year] == '2011'}"
              .filter-list__title с 2011
          li
            a.link-grey href="" data-min="2001" data-max="2010" style="#{'color:#d37900;' if params[:min_year] == '2001'}"
              .filter-list__title 2001 - 2010
          li
            a.link-grey href="" data-min="1991" data-max="2000" style="#{'color:#d37900;' if params[:min_year] == '1991'}"
              .filter-list__title 1991 - 2000
          li
            a.link-grey href="" data-min="1981" data-max="1990" style="#{'color:#d37900;' if params[:min_year] == '1981'}"
              .filter-list__title 1981 - 1990
          li
            a.link-grey href="" data-min="1971" data-max="1980" style="#{'color:#d37900;' if params[:min_year] == '1971'}"
              .filter-list__title 1971 - 1980
          li
            a.link-grey href="" data-min="1961" data-max="1970" style="#{'color:#d37900;' if params[:min_year] == '1961'}"
              .filter-list__title 1961 - 1970
          li
            a.link-grey href="" data-min="1950" data-max="1960" style="#{'color:#d37900;' if params[:min_year] == '1950'}"
              .filter-list__title 1950 - 1960
          li
            a.link-grey href="" data-max="1950" style="#{'color:#d37900;' if params[:max_year] == '1950'}"
              .filter-list__title до 1950
        = link_to "#", :class => "filter-more__link", id: "all_years"
          .filter-list__title
            | Все года
      = render 'shared/popular'

  = render 'shared/promo'
  .layout-bricks
    - if @products.count > 0
      .bricks.js-masonry
        - @products.each do |product|
          = link_to product, class: "brick-item"
            - unless product.photos.blank?
              = image_tag product.photos.first.image(:large), class: "brick-item__photo", alt: "#{product.title}", title: "Купить #{product.title}"
            .brick-item__bottom
              .brick-item__title
                = product.title
              .brick-item__price
                =< price(product.price)

    - else
      .nosearch По вашему запросу ничего не найдено
    = paginate @products, :window => 3
