.account_menu#account_menu
  ul
    li= link_to 'Аккаунт', edit_user_path(current_user), class: 'account_item', prefix: 'm'
    li= link_to 'Настройки магазина', edit_shop_path(current_user.shop), class: 'settings_item', prefix: 'm'
    li= link_to 'Товары', goods_user_path(current_user), class: 'product_item', prefix: 'm'
    li= link_to conversations_path(current_user), class: 'mesage_item', prefix: 'm'
      |Сообщения
      span.mesage= @new_messages.try(:count)
    li= link_to 'Избранное', favorites_user_path(current_user), class: 'favorites_item', prefix: 'm'
