.layout
  .account_block
    a.title#account_open href="#"
      .title_menu Мой аккаунт
      .item_title Мой аккаунт

    = render 'profile_menu'

  = form_for current_user, :html => {class: "form form_profile"} do |user|
    .avatar
      = image_tag current_user.avatar(:medium), :class => "change-avatar__img"
      = user.file_field :avatar, :style => 'overflow: hidden;display:none;', accept: 'image/jpeg,image/png,image/gif'
      .button_avatar
        .button_change
          a#avatar_button href="" Сменить аватар
        .button_del_avatar
          = link_to 'Удалить', url_for(delete_avatar_user_path(:id => current_user.id)), :method => :delete, prefix: 'm'
        .avatar_text Минимальный размер изображения: 200x200 пикселей
    .avatar_name
      .item
        |Имя
        = user.text_field :name
      .item
        |Фамилия
        = user.text_field :surname

    .avatar_email
      .email_title
        |E-mail
      = user.email_field :email

    .avatar_name
      .item
        |Текущий пароль
        = user.password_field :current_password
      .item
        |Новый пароль
        = user.password_field :password, :placeholder => "Введите пароль (мин. 8 символов)"
    .button_save_avatar
      a.js-form-submit href="" Сохранить
