.account_block
  a.title#account_open href="#"
    .title_menu Избранное
    .item_title Избранное

  = render 'profile_menu'

.profile_favorit
  - if @products.blank?
    .no_product Вы еще не добавили товар в избранное

  - else
    .list
      - @products.each do |favorite|
        .item_product_profile.clearfix
          = link_to product_path(favorite.product), class: 'img', prefix: 'm'
            = image_tag favorite.product.photos.first.image(:medium), class: 'favorite-item__img', alt: "#{favorite.product.title}", title: "Купить #{favorite.product.title}"
          .content
            .prise
              =< price(favorite.product.price)
            = link_to product_path(favorite.product), class: "title", prefix: 'm'
              = favorite.product.title
            ul.param
              = link_to 'Удалить', favorite_path(favorite), method: 'DELETE', class: "button_empty_small2 del_right", prefix: 'm', 'data-confirm': 'Вы уверены?'
              li= "Состояние: " + favorite.product.condition
              li=  "Опубликовано " + time_ago_in_words(favorite.product.created_at) + " назад"

.button_wrap.clearfix
  = paginate @products
