.account_block
  a.title#account_open href="#"
    .title_menu Товары
    .item_title Товары

  = render partial: 'profile_menu'

.profile_goods
  .search_profile
    .search
      = form_tag goods_user_path(current_user), :method => 'get', id: 'products_q' do
        = text_field_tag :q, params[:q], placeholder: "Поиск"
        button type='submit' class='but_search' value=''
    a.sort_active href='javascript:;' = goods_sort_type_to_text(params[:type])
  .list
    - @products.each_with_index do |product, index|
      .item_product_profile.clearfix
        - if product.photos.present?
          = link_to product_path(product), class: 'img', prefix: 'm'
            = image_tag product.photos.first.image(:medium)
        .content
          .prise
            =< price(product.price)
          = link_to product_path(product), class: "title", prefix: 'm'
            = product.title
          ul.param
            li= "Состояние: #{product.condition}"
            li= "Опубликовано: #{time_ago_in_words(product.created_at)} назад"
            li= "Просмотров: #{product.views_count.to_s}"
            li= "Следят за товаром: #{product.favorites.count.to_s}"
        .state
          = form_for product, remote: true do |f|
            label [
              class="button_grean js_status_ckeckbox #{'active' if product.status}"
              for="active_switcher_#{index}"
              data-id=product.id
            ]
              = f.check_box :status, id: "active_switcher_#{index}", style: 'display: none'
              span Активен
        .right [
          id="promote-product-#{product.id}"
          style="#{'display:none;' if product.status == false }"
        ]
          - if product.promo_items.active.payed.blank?
            a.button_arrow_orang.promote href='javascript:;' data-product-id=product.id Рекламировать
          - else
            a.add.button_add.promote href='javascript:;' data-product-id=product.id
            a.view.button_eye href='javascript:;' = product.promo_items.active.payed.sum(:view_count)

        = render partial: 'm/products/promote_popup', locals: {product: product}

        = link_to 'Редактировать',
                  edit_product_path(product),
                  class: "button_empty_small2",
                  title: "Редактировать",
                  prefix: 'm'
        = link_to 'Удалить',
                  'javascript:;',
                  class: "button_empty_small2 product-delete",
                  title: "Удалить",
                  'data-id': "#{product.slug}"

.popup.sort#sort
  .title_popup
    | Сортировать
    a.back.back_profile href="#" Назад
  .list
    = link_to 'Смотреть активные', goods_user_path(type: :active), prefix: 'm'
    = link_to 'Смотреть неактивные', goods_user_path(type: 'non-active'), prefix: 'm'
    = link_to 'Смотреть все', goods_user_path(type: :all), prefix: 'm'

= render partial: 'm/products/delete_popup'
