(function() {
  $('.layout').prepend('<%=j render partial: "flash_for_new_user" %>')
  $('#flash__open__new_user').show();
  setTimeout(function(){
    $('#flash__open__new_user').fadeOut('fast');
  }, 5000)
  $('#register_popup').hide();
  $('body').removeClass('body-popup_open');
  $('.popup-overlay').hide()
}());
