(function() {
  var $html = $('<%=j render partial: "shared/password_ok" %>');

  $('#password_edit_popup').replaceWith($html);
  $('.layout').prepend('<%=j render partial: "flash_for_user" %>')
  $('#flash__open').show();
  setTimeout(function(){
    $('#flash__open').fadeOut('fast');
  }, 5000)
  $('#register_popup').hide();
  $('body').removeClass('body-popup_open');
  $('.popup-overlay').hide()
}());
