doctype html
html
  head
    title
    meta charset="utf-8"

  body bgcolor="#F1F1EA"
    table align="center" bgcolor="#F1F1EA" border="0" cellpadding="0" cellspacing="0" width="100%"
      tr
        td height="40"
      tr
        td
          table align="center" bgcolor="#fff" border="0" cellpadding="0" cellspacing="0" style=("border-radius: 2px") width="600"
            tr
              td
                table align="center" border="0" cellpadding="0" cellspacing="0" width="520"
                  tr
                    td height="40"
                  tr
                    td height="40"
                      = link_to root_url
                        = image_tag "email/logo.png", alt: "Музточка"
                  tr
                    td height="20"
                  tr
                    td
                      div style=("color: #353535; font-family: 'PT Sans', Arial, sans-serif; font-size: 24px; line-height: 30px; font-weight: 700;") Привет
                  tr
                    td height="20"
                  tr
                    td
                      p style=("color: #353535; font-family: 'PT Sans', Arial, sans-serif; font-size: 16px; line-height: 24px; font-weight: 400; margin: 0 0 20px 0; padding: 0;") К нам поступил запрос на смену пароля твоего аккаунта. Это можно сделать по ссылке ниже:
                  tr
                    td
                      = link_to 'Поменять пароль', edit_password_url(@resource, reset_password_token: @token), {:style =>("border-radius: 2px; text-decoration: none; height: 40px; line-height: 40px; display: inline-block; padding: 0 40px;font-family: 'PT Sans', Arial, sans-serif; font-size: 14px; text-align: center; color: #fff; background-color: #D47A00"), :prefix => 'm'}
                  tr
                    td height="20"
                  tr
                    td
                      p style=("color: #353535; font-family: 'PT Sans', Arial, sans-serif; font-size: 16px; line-height: 24px; font-weight: 400; margin: 0 0 20px 0; padding: 0;") Если ты не запрашивал смену пароля, пожалуйста игнорируй данное письмо.
                      p style=("color: #353535; font-family: 'PT Sans', Arial, sans-serif; font-size: 16px; line-height: 24px; font-weight: 400;") Твой пароль не поменяется, пока ты не перейдешь по ссылке выше и не введешь новый.

                  tr
                    td height="20"
      tr
        td height="15"
      tr
        table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
          tr
            td
              p style="color: #90908D; font-family: 'PT Sans', Arial, sans-serif; font-size: 16px; line-height: 24px; font-weight: 400; padding-left: 40px; "
                | © Музточка,
                =< Date.today.year
      tr
        td height="40"
