script src="https://maps.googleapis.com/maps/api/js?v=3&language=ru&region=RU&libraries=places&sensor=false"
script src="/ckeditor/ckeditor.js"

= form_for @product, html: {class: "form form_product_add js-form-validation"} do |f|
  #photo_ids
    - @product.photos.each_with_index do |photo, index|
      input.photo-ids name="product[photos[#{index}][id]]" type="hidden" value="#{photo.id}"
      input.photo-position class="photo-#{photo.id}" name="product[photos[#{index}][position]]" type="hidden" value="#{photo.position}"
  .head-1 Добавление товара
  .form-section
    .form-section__head Что вы продаете?
    .grid.grid_cols_3.clearfix
      .grid-item
        .form__label * Категория
        = f.hidden_field :category_id
        - if @product.errors[:category][0]
          .dropdown.dropdown_error
            #category_list.dropdown
              a.dropdown-switch.js-link.dropdown__input href="#"
                = @product.category.blank? ? "Выберите категорию" : @product.category.title
              ul.dropdown-list.js-dropdown-list
                - @categories.each do |category|
                  li data-id="#{category.id}"
                    = category.title
        - else
          #category_list.dropdown required='required' data-validation-msg='Выберите значение из списка'
            a.dropdown-switch.js-link href="#"
              = @product.category.blank? ? "Выберите категорию" : @product.category.title
            ul.dropdown-list.js-dropdown-list
              - @categories.each do |category|
                li data-id="#{category.id}"
                  = category.title


      .grid-item#subcat style="#{'display:none;' unless @product.category }"
        .form__label * Подробнее
        = f.hidden_field :subcategory_id
        - if @product.errors[:subcategory][0]
          .dropdown.dropdown_error
            a#subcat_name.dropdown-switch.js-link.dropdown__input href="#"
              - if @product.subcategory.blank? && @product.detail
                = "Детали и принадлежности"
              - elsif @product.detail.blank? && @product.subcategory
                = @product.subcategory.title
              - else
                = "Выберите субкатегорию"
            ul.dropdown-list.js-dropdown-list#subcat_drop
              - if @product.category
                - @product.category.subcategories.each do |subcat|
                  li data-id="#{subcat.id}"
                    = subcat.title
                li#pick_details data-id=""
                  = "Детали и принадлежности"
        - else
          .dropdown required='required' data-validation-msg='Выберите значение из списка'
            a#subcat_name.dropdown-switch.js-link href="#"
              - if @product.subcategory.blank? && @product.detail
                = "Детали и принадлежности"
              - elsif @product.detail.blank? && @product.subcategory
                = @product.subcategory.title
              - else
                = "Выберите субкатегорию"
            ul.dropdown-list.js-dropdown-list#subcat_drop
              - if @product.category
                - @product.category.subcategories.each do |subcat|
                  li data-id='#{subcat.id}'
                    = subcat.title
                li#pick_details data-id=""
                  = "Детали и принадлежности"


      .grid-item#detail style="#{'display:none;' if @product.detail.blank? or @product.subcategory }"
        .form__label * Принадлежности
        = f.hidden_field :detail_id
        - if @product.errors[:detail][0]
        - else
          .dropdown required='required' data-validation-msg='Выберите значение из списка'
            a#detail_name.dropdown-switch.js-link.dropdown__input href="#"
              = @product.detail.blank? ? "Выберите деталь" : @product.detail.title
            ul.dropdown-list.js-dropdown-list#detail_drop
              - if @product.category
                - @product.category.details.each do |detail|
                  li data-id="#{detail.id}"
                    = detail.title



    ul.list-check style="top: 40px"
      li.list-check__head
        = Advices.first.title
      = Advices.first.description.html_safe
  .form-section
    .form-section__head
      |Спецификация
    .grid.grid_cols_3.clearfix
      .grid-item
        .form__label * Бренд
        - if @product.errors[:brand][0]
          .inputbox.inputbox_error
            = text_field_tag "product[brand]", @product.brand ? @product.brand.title : "", placeholder: "#{@product.brand.blank? ? "Прим. Fender" : @product.brand.title}", class: "inputbox__input", id: 'brand'
        - else
          .inputbox
            = text_field_tag "product[brand]", @product.brand ? @product.brand.title : "", placeholder: "#{@product.brand.blank? ? "Прим. Fender" : @product.brand.title}", class: "inputbox__input", id: 'brand', required: true, 'data-validation-error-msg' => 'Поле не может быть пустым'
      .grid-item
        .form__label * Модель
        - if @product.errors[:mark][0]
          .inputbox.inputbox_error
            = f.text_field :mark, class: "inputbox__input"
        - else
          .inputbox
            = f.text_field :mark, class: "inputbox__input", required: true, 'data-validation-error-msg' => 'Поле не может быть пустым'
      .grid-item
        .clearfix
          .year__wrap
            .form__label
              | Год
              i.icon-info.link-grey data-original-title=("Укажите предполагаемый год, если не знаете точную дату производства") data-placement="top" data-toggle="tooltip" title=""
              = f.hidden_field :year
            #year_list.dropdown
              a.dropdown-switch.js-link.dropdown__input href="#"
                = @product.year.blank? ? "" : @product.year
              ul.dropdown-list.js-dropdown-list
                - (1901...2016).reverse_each.each do |i|
                  li = i
          .color__wrap
            .form__label Цвет / Отделка
            .inputbox
              = f.text_field :color, class: "inputbox__input"
    .grid.grid_cols_3.clearfix
      .grid-item.grid-item_col_2
        .form__label
          |* Заголовок объявления
          span.form-section__more
            |  (вы можете редактировать данные)
            i.icon-info.link-grey data-original-title=('Не используйте только заглавные буквы и выражения "СРОЧНО", "ПОЧТИ ДАРОМ" и т.п.') data-placement="top" data-toggle="tooltip" title=""
        - if @product.errors[:title][0]
          .inputbox.inputbox_error
            = f.text_field :title, class: "inputbox__input"
        - else
          .inputbox
            = f.text_field :title, class: "inputbox__input", required: true, 'data-validation-error-msg' => 'Поле не может быть пустым'
      .grid-item
        .form__label
          | * Цена
          i.icon-info.link-grey data-original-title=("Для удобства международного сообщества цена указана в долларах США") data-placement="top" data-toggle="tooltip" title=""
        - if @product.errors[:price][0]
          .inputbox.inputbox_info_yes.inputbox_error
            = f.text_field :price, class: "inputbox__input"
            .inputbox__info
              i.icon-usd
        - else
          .inputbox.inputbox_info_yes
            = f.text_field :price, class: "inputbox__input", required: true, 'data-validation-error-msg' => 'Поле не может быть пустым'
            .inputbox__info
              i.icon-usd
    .grid.grid_cols_3.clearfix
      .grid-item
        .form__label * Состояние
        = f.hidden_field :condition
        - if @product.errors[:condition][0]
          .dropdown.dropdown_error
            #condition_list.dropdown
              a.dropdown-switch.js-link.dropdown__input href="#"
                = @product.condition.blank? ? "Выберите состояние" : @product.condition
              ul.dropdown-list.js-dropdown-list
                li Новое
                li Как новое
                li Отличное
                li Очень хорошее
                li Хорошее
                li Удовлетворительное
                li Плохое
                li Нерабочее
        - else
          #condition_list.dropdown required='required' data-validation-msg='Выберите значение из списка'
            a.dropdown-switch.js-link href="#"
              = @product.condition.blank? ? "Выберите состояние" : @product.condition
            ul.dropdown-list.js-dropdown-list
              li Новое
              li Как новое
              li Отличное
              li Очень хорошее
              li Хорошее
              li Удовлетворительное
              li Плохое
              li Нерабочее

      .grid-item
        .form__label Страна производителя
        - if @product.errors[:country_producing][0]
          .inputbox.inputbox_error
            = text_field_tag "product[country_producing]", @product.country_producing ? @product.country_producing : "", placeholder: "#{@product.country_producing.blank? ? "Начните вводить кириллицей" : @product.country_producing}", class: "inputbox__input", id: 'country_producing'
        - else
          .inputbox
            = text_field_tag "product[country_producing]", @product.country_producing ? @product.country_producing : "", placeholder: "#{@product.country_producing.blank? ? "Начните вводить кириллицей" : @product.country_producing}", class: "inputbox__input", id: 'country_producing'

    .hand-made
      .checkbox
        = f.check_box :handmade, id:"checkbox-1", class: "checkbox__input"
        label.checkbox__label for="checkbox-1"  Handmade
        i.icon-info.link-grey data-original-title=("Отметьте это поле, если ваш экземпляр полностью ручной работы") data-placement="top" data-toggle="tooltip" title=""
    ul.list-check style=""
      li.list-check__head
        = Advices.second.title
      = Advices.second.description.html_safe

  .form-section
    .form-section__head * В каком вы городе?
    .form-section__sub
      | Введите несколько символов и выберите город из предложенных вариантов

    .grid.grid_cols_2.clearfix
      .grid-item
        - if @product.errors[:city][0]
          .inputbox.inputbox_error style="margin-top: 20px"
            = f.text_field :formatted_address, class: "inputbox__input", placeholder: "Введите город", :name => "formatted_address", "data-geo" => "formatted_address", id: "formatted_address"
            .inputbox__error
              = "Необходимо указать город"
        - else
          .inputbox style="margin-top: 20px"
            = f.text_field :formatted_address, class: "inputbox__input", placeholder: "Введите город", :name => "formatted_address", "data-geo" => "formatted_address", id: "formatted_address", 'data-validation-error-msg' => 'Необходимо указать город'

        .details style="display:none"
          = f.hidden_field :city, name: "product[city]", :id => "product_city", "data-geo" => "locality"
          = f.hidden_field :country, name: "product[country]", :id => "product_country", "data-geo" => "country"
          = f.hidden_field :state, name: "product[state]", :id => "product_state", "data-geo" => "administrative_area_level_1"
          = f.hidden_field :lat, name: "product[lat]", :id => "product_lat", "data-geo" => "lat"
          = f.hidden_field :lng, name: "product[lng]", :id => "product_lng", "data-geo" => "lng"
          = f.hidden_field :formatted_address, name: "product[formatted_address]", :id => "product_formatted_address", "data-geo" => "formatted_address"


  .form-section
    .form-section__head * Фото / Видео оборудования
    .form-section__sub
      | Поддерживаемые форматы изображения: PNG, JPG, GIF
      br
      | Размер изображений не должен превышать 5 мб
      br
      | Вы можете загрузить не более 16 изображений
    .file-errors
      .file-errors-mime
        | Следующие файлы имеют неверный формат:
        .file-errors-list
      .file-errors-size
        | Изображения имеют размер более 5Мб:
        .file-errors-list
      .file-errors-max Вы можете загрузить не более 16 изображений
    - if @product.photos.blank?
      .dragdrop.dragdrop_state_begin
        .dragdrop-section class="#{'has-error' if @product.errors[:photos][0]}" required='required' data-validation-msg='Добавьте хотя бы 1 изображение'
          #dropzone.dragdrop__text
            |Нажмите сюда или перетяните фото в эту область.
          .dragdrop__photos
            .head Можно менять последовательность картинок, перетаскивая их.
            .dragdrop-items.clearfix
        .dragdrop__progress.dragdrop__progress_state_loading
          span.progress-text Загрузка
          .progress
            .progress-bar style=("width: 0%;")
          .progress-status
            i.icon-checkup
    - else
      .dragdrop.dragdrop_state_photos
        .dragdrop-section required='required' data-validation-msg='Добавьте хотя бы 1 изображение'
          #dropzone.dragdrop__text
            |Нажмите сюда или перетяните фото в эту область.
          .dragdrop__photos
            .head Можно менять последовательность картинок, перетаскивая их.
            .dragdrop-items.clearfix
              = render @product.photos
        .dragdrop__progress.dragdrop__progress_state_loading
          span.progress-text Загрузка
          .progress
            .progress-bar style=("width: 0%;")
          .progress-status
            i.icon-checkup

      javascript:
        $(function() {
          window.files_count = parseInt("#{@product.photos.count}");
          window.initProductEdit = true;
        });
    .form__label
      i.icon-video
      | Ссылка на видео с Youtube
    - if @product.errors[:video][0]
      .inputbox.inputbox_error
        = f.text_field :video, class: "inputbox__input"
        .inputbox__error
          = @product.errors[:video].last
    - else
      .inputbox
        = f.text_field :video, class: "inputbox__input"
    ul.list-check
      li.list-check__head
        = Advices.third.title
      = Advices.third.description.html_safe
  .form-section
    .form-section__head Описание
    .form__label * Опишите ваше оборудование
    - if @product.errors[:description][0]
      .inputbox.inputbox_type_textarea.inputbox_error
        = f.text_area :description, class: "inputbox__input"
    - else
      .inputbox.inputbox_type_textarea
        = f.text_area :description, class: "inputbox__input", required: :required, 'data-validation-error-msg' => 'Поле не может быть пустым'
    ul.list-check
      li.list-check__head
        = Advices.fourth.title
      = Advices.fourth.description.html_safe
  .form-section
    input.button.button_type_default value='Опубликовать' type='submit'

javascript:
  $("#formatted_address").geocomplete({
    details: ".details",
    detailsAttribute: "data-geo",
    types: ['(cities)']
  });

//javascript:
//  CKEDITOR.replace('product_description', {
//    language: 'ru',
//    enterMode: CKEDITOR.ENTER_BR
//  });
