= link_to product, class: "brick-item"
  - unless product.photos.blank?
    = image_tag product.photos.first.image(:large), class: "brick-item__photo", alt: "#{product.title}", title: "Купить #{product.title}"
  .brick-item__bottom
    .brick-item__title
      = product.title
    .brick-item__price
      =< price(product.price)
