= content_for :head do
  // FB Open Graph stuff
  meta property='og:url' content="#{request.original_url}"
  meta property='og:title' content="#{@product.title}"
  meta property='og:description' content="#{@product.description}"
  meta property='og:image' content="#{@product.photos.first.image.url if @product.photos.first}"

script type="text/javascript" src="https://vk.com/js/api/share.js?90" charset="windows-1251"
.layout-page
  ul.breadcrumbs
    li
      = link_to "Главная", root_path
    - if @product.shop.title.present?
      li
        = link_to @product.shop.title, shop_path(@product.shop)
    li
      = link_to @product.category.title, @product.category
    - if @product.subcategory.present?
      li
        = link_to @product.subcategory.title, subcategory_path(@product.subcategory.category, @product.subcategory)
    li
      = link_to "#{@product.title}"
  .product__head
    h1
      = @product.title
  ul.product-info.clearfix
    li.product-info__added
      =  "Опубликовано " + time_ago_in_words(@product.created_at) + " назад"
    li.product-info__info
      i.icon-check
      | Состояние:
      =< @product.condition
    li.product-info__info
      i.icon-eye
      = "Просмотров " + @product.count_of_visits

  .clearfix
    .product-left
      - if current_user && @product.shop.user == current_user && @product.permission != 'deleted'
        .button_wrap style='padding-bottom: 20px;'
          = link_to "Редактировать", edit_product_path(@product), class: "button_simple_fxW"
          a.button_simple_fxW.delete_product data-id="#{@product.slug}" href="#" Удалить
          .status_active
            = form_for @product, remote: true do |f|
              label
                = f.check_box :status, id: "change_status"
                .wrap_slide
                  .noactive Не активен
                  .active Активен
          .popover.popover_arrow_right.good-item__action style='width: 130px; height:30px; color: white; font-size:14px; margin: 10px;margin-right:45px;'
            - if @product.promo_items.active.payed.blank?
              a.button.dropdown-switch.promo-button-js href="" id="promotions__#{@product.id}" style="#{'display:none;' if @product.status == false }" Рекламировать
            - else
              a href="" class="button button_type_multi button_size_small promo-button-js"
                i.icon-eye
                span.button__text
                  = @product.promo_items.active.payed.sum(:view_count)
                span.button__multi
                  i.icon-plus
            .popover-content style="display:none;"
              = form_for @promo_item do |f|
                = f.hidden_field :product_id, value: @product.id
                - @promos.each_with_index do |promo, promo_index|
                  .radio
                    input.radio__input checked="" name="promo_item[promo_service_id]" type="radio" id="radio_#{@product.id}_#{promo_index}" value="#{promo.id}"
                    label.radio__label for="radio_#{@product.id}_#{promo_index}"
                      = promo.title
                      span.bold
                        = price(promo.price)
                .popover-action.clearfix
                  = f.submit 'Купить', class: 'button button_type_default button_size_small'
                  = link_to "Как работает реклама?", how_advertising_works_path, :class => "popover__action", :style => "margin-left:10px;"



      - if @product.photos.present?
        javascript:
          fotoramaDefaults = {
              captions: true,
              lazyLoad: true
          };
        .product-gallery
          .fotorama data-allowfullscreen="true" data-click="true" data-keyboard="true" data-max-height="620" data-max-width="100%" data-min-width="620" data-nav="thumbs" data-shadows="true" data-thumbborderwidth="0" data-thumbheight="80" data-thumbmargin="10" data-thumbwidth="80" data-transitionduration="400"
            - @product.photos.each do |photo|
              a data-full="#{photo.image.url}" href="#{photo.image.url(:fotorama)}"
                img itemprop="image" src="#{photo.image.url(:fotorama_thumb)}" alt="#{photo.product.try(:title)}" data-title="Купить #{photo.product.try(:title)}"

      .product-tabs role="tabpanel"
        ul.nav.nav-tabs role="tablist"
          li.active role="presentation"
            a aria-controls="home" data-toggle="tab" href="#home" role="tab" Описание
          li role="presentation"
            a aria-controls="profile" data-toggle="tab" href="#profile" role="tab" Условия
        .tab-content
          #home.tab-pane.active role="tabpanel"
            = render 'tabpanel_description'
          #profile.tab-pane role="tabpanel"
            = render 'tabpanel_conditions'
    .product-right
      #favorites_container.product-box
        - if @product.active?
          = render 'favorites/favorite'
        - elsif @product.deleted?
          .product-price Продано
          = link_to 'Смотреть похожие предложения', subcategory_path(@product.category, @product.subcategory), class: 'button button_type_default button_block'
      .product-box
        .product-seller
          .product-seller__head #{@product.shop.user.name}
          .product-seller__shop
            = link_to 'Перейти в магазин', @product.shop, style: "color:#d47a00;" if @product.shop.title.present?
          .product-seller__date
            | На Музточке с
            =<l @product.shop.created_at.to_date, format: :long
            .product-seller__location
              = @product.shop.city.to_s + ", " if @product.shop.city.present?
              = @product.shop.country

            - if current_user
              - unless @product.shop.user_id == current_user.id
                = link_to conversations_path(user_id: @product.shop.user.id,product_id:@product.id), method: :post, :class => "button button_type_default button_block"
                  i.icon-mail
                  span.button__text Связаться с продавцом
            - else
              a#login_button_three.button.button_type_default.button_block data={product_id:@product.id,product_owner_id:@product.shop.user.id}
                i.icon-mail
                span.button__text Связаться с продавцом
      .product-banner
        = link_to Banner.last.link
          = image_tag Banner.last.image.url(:product_banner)

      .product-box
        .product-share
          .product-share__head Поделиться
          a href="" id="share_fb" class="product-share-item"
            i.icon-facebook
          javascript:
            document.write(VK.Share.button({
              url: "#{request.original_url}",
              title: "#{@product.title}",
              description:"#{@product.seo_description}",
              image: "#{image_path @product.photos.first.image.url if @product.photos.first}"
              },
              {type:'custom',
              text: "<i class='icon-vk'></i>"}
            ));
  .product-similar
    .product-similar__head Похожие предложения
    .bricks.bricks_type_similar.clearfix
      - @similar_products.each do |product|
        = link_to product, :class => "brick-item"
          - unless product.photos.blank?
            = image_tag product.photos.first.image(:similar), class: "brick-item__photo", alt: "#{product.title}", title: "Купить #{product.title}"
          .brick-item__bottom
            .brick-item__title
              = product.title
            .brick-item__price
              =< price(product.price)

- if current_user && @product.shop.user == current_user && @product.permission != 'deleted'
  = render "shared/deletion"


javascript:
  window.fbAsyncInit = function() {
  FB.init({
  appId      : "#{ENV['FACEBOOK_KEY']}",
  xfbml      : true,
  version    : 'v2.2'
  });

  // ADD ADDITIONAL FACEBOOK CODE HERE
  };

  (function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  $(document).ready(function() {
    $('#share_fb').on('click', function() {
      FB.ui({
        method: 'feed',
        name: '#{@product.title}',
        description: '#{@product.seo_description}',
        picture: '#{image_path @product.photos.first.image.url if @product.photos.first}',
        link: '#{request.original_url}'
      }, function(response) {});
      return false;
    });
  });
