- if @promo_item.status == "success"
  .wraper-order
    .title-order
      |Спасибо
    .text-order
      |Оплата прошла успешно!
      |  Ваш товар размещен в блоке Премиум.
    .clearfix
      =link_to "Перейти к товару", @promo_item.product, :class => "button-orange"

- elsif @promo_item.status == "processing" or "wait_accept"
  .wraper-order
    .title-order
      |Спасибо
    .text-order
      |Платеж обрабатывается.
      |  После успешной обработки Ваш товар будет размещен в блоке Премиум.
    .clearfix
      =link_to "Перейти к товару", @promo_item.product, :class => "button-orange"

- else
  .wraper-order
    .title-order
      |Упс, что-то пошло не так!
    .text-order
      |Оплата не была произведена.
      |  Пожалуйста повторите попытку оплаты немножко позже. Спасибо.
    .clearfix
      =link_to "Перейти к товару", @promo_item.product, :class => "button-orange"
