.button_false
  background-clip: padding-box
  border-radius: 3px
  border-width: 0px
  box-shadow: none
  box-sizing: border-box
  background: none
  cursor: pointer
  display: inline-block
  height: 50px
  line-height: 50px
  margin: 0
  outline: 0
  padding: 0px 20px
  position: relative
  text-align: left
  text-decoration: none
  text-indent: 0
  vertical-align: top
  white-space: nowrap
  text-align: center


.button_simple_fxW
  @extend .button_false
  width: 130px
  background: #90908d
  color: #fff
  height: 30px
  line-height: 30px
  font-size: 14px
  margin: 10px
  &:hover
    background: #4d4d4d

.status_active
  @extend .button_false
  height: 30px
  line-height: 30px
  width: 110px
  margin: 10px
  color: #fff
  background: #dcdccd
  position: relative
  font-size: 14px
  cursor: pointer
  .wrap_slide
    position: absolute
    height: 30px
    top: 0
    left: 0
    width: 90px
    text-align: center
    cursor: pointer
    transition: ease 0.3s
  .noactive,
  .active
    text-align: center
    width: 100%
    position: absolute
    top: 0
    border-radius: 3px
    transition: ease 0.3s
  .noactive
    opacity: 1
    background: #90908d
  .active
    opacity: 0
  input
    position: relative
    top: -40px
    display: none
  input:checked~.wrap_slide
    background: #5fb671
    left: 20px
    .active
      opacity: 1
    .noactive
      opacity: 0
