body,
html{
  height: 100%;
}
.wraper{
  min-height: 100%;
}
.wraper .layout{

}
.breadcrumbs {
  padding: 40px 0 20px 0;
}
.breadcrumbs li {
  color: #90908d;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left: 14px;
  color: #90908d;
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
.breadcrumbs li a:hover {
  color: #e38e1c;
}
.breadcrumbs li a {
  color: #90908d;
}
.breadcrumbs li:first-child {
  margin-left: 0;
}
.breadcrumbs li:first-child:before {
  content: none;
}
.breadcrumbs li:before {
  content: '>';
  position: absolute;
  left: -12px;
}
.flash-message {
    background: #d77829;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    position: relative;
    min-height: 60px;
}
.flash-message__inner {
    max-width: 940px;
    margin: 0 auto;
    padding: 15px 0;
}
.flash-message__close {
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 20px;
    display: block;
    color: #fff;
    line-height: 20px;
    cursor: pointer;
}

#flash__open__new_user {
  margin-top: 0 !important;
  width: 100%;
  z-index: 10;
  position: fixed;
}
.button {
  background-clip: padding-box;
  border-radius: 2px;
  border-width: 0px;
  box-shadow: none;
  box-sizing: border-box;
  background: none;
  cursor: pointer;
  display: inline-block;
  color: #d47a00;
  font-family: "PT Sans";
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  margin: 0;
  outline: 0;
  padding: 0px 25px;
  position: relative;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  transition: all linear 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: top;
  white-space: nowrap;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}
.button .icon-arrow {
  position: relative;
  top: 4px;
  margin-right: 4px;
}
.button_size_small {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-weight: 400;
  padding: 0 15px;
}
.button_type_default {
  background-color: none;
  box-shadow: inset 0 0 0 1px #d47a00;
  color: #d47a00;
}
.button_type_default:hover,
.button_type_default.button_active {
  color: #fff;
  background: #d47a00;
}
.button_type_solid {
  background-color: #d47a00;
  color: #fff;
}
.button_type_solid:hover {
  color: #fff;
  background-color: #e38e1c;
}
.button_type_vk {
  background-color: #5a81ac;
  color: #fff;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 700;
}
.button_type_vk:hover {
  color: #fff;
  background-color: #6b8eb4;
}
.button_type_fb {
  background-color: #3c599a;
  color: #fff;
  font-weight: 700;
  font-family: "PT Sans";
  font-size: 16px;
}
.button_type_fb:hover {
  color: #fff;
  background-color: #4f6b9f;
}
.button_type_multi {
  box-shadow: 0 0 0 1px #d47a00;
  padding-right: 45px;
  padding-left: 8px;
}
.button_type_multi .icon-eye {
  font-size: 18px;
  position: relative;
  top: 2px;
}
.button_type_multi .button__multi {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  text-align: center;
  background-color: #d47a00;
}
.button_type_multi .button__multi i {
  color: #fff;
}
.button_block {
  width: 100%;
  text-align: center;
}
.button:focus {
  outline: none;
}
.button::-moz-focus-inner {
  border: none;
  padding: 0;
}
.button-favorite {
  display: block;
  text-align: center;
  cursor: pointer;
  background-color: #d47a00;
  color: #fff;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.button-favorite i {
  margin-right: 8px;
  font-size: 16px;
}
.button-favorite .button-favorite__favorite,
.button-favorite .button-favorite__remove {
  display: none;
}
.button-favorite:hover {
  background-color: #e38e1c;
  color: #fff;
}
.button-favorite_pressed {
  background-color: #f1f1ea;
  color: #90908d;
}
.button-favorite_pressed .button-favorite__favorite {
  display: block;
}
.button-favorite_pressed .button-favorite__add {
  display: none;
}
.button-favorite_pressed:hover {
  background-color: #f1f1ea;
  color: #90908d;
}
.button-favorite_pressed:hover .button-favorite__favorite {
  display: none;
}
.button-favorite_pressed:hover .button-favorite__remove {
  display: block;
}
.button-favorite_pressed:hover .button-favorite__remove i {
  display: none;
}
.checkbox {
  position: relative;
  padding-left: 25px;
}
.checkbox__input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
}
.checkbox__input:checked + .checkbox__label {
  color: #d37900;
}
.checkbox__input:checked + .checkbox__label:before {
  background: image-url("checkbox/checkbox.png") no-repeat 50% 50%;
}
.checkbox__input:disabled + .checkbox__label {
  color: #90908d;
}
.checkbox__label {
  color: #90908d;
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  cursor: pointer;
}
.checkbox__label:before {
  content: "";
  border: 1px solid #d77829;
  border-radius: 2px;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 0;
  top: 2px;
}
.dragdrop {
  position: relative;
}
.dragdrop-section {
  border-radius: 4px;
  border: 2px dashed #d87b2c;
}
.dragdrop__text {
  height: 140px;
  box-sizing: border-box;
  line-height: 140px;
  color: #d47a00;
  font-family: "PT Sans";
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
}
.dragdrop__photos {
  padding: 20px 20px 0 20px;
  border-right: 2px solid #d87b2c;
  width: 430px;
  min-height: 178px;
}
.dragdrop__photos .head {
  color: #90908d;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
  top: -3px;
}
.dragdrop__photos .dragdrop-items {
  margin-left: -10px;
}
.dragdrop__photos .dragdrop-item {
  width: 100px;
  height: 130px;
  float: left;
  margin-left: 10px;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}
.dragdrop-item__cover{
  display: none;
  position: absolute;
  background: rgba(212,122,0, .9);
  width: 100%;
  top: 75px;
  height: 24px;
  line-height: 24px;
  color: #FFF;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;

}
.dragdrop__photos .dragdrop-item_type_cover .dragdrop-item__cover{
  display: block;

}
.dragdrop__photos .dragdrop-item__remove {
  padding-top: 10px;
}
.dragdrop__photos .dragdrop-item__img {
  width: 100px;
  height: 100px;
  display: block;
}
.dragdrop__progress {
  padding-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}
.dragdrop__progress .progress-text {
  color: #d47a00;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  position: absolute;
  left: 20px;
  top: 0;
}
.dragdrop__progress .progress {
  width: 310px;
  display: inline-block;
}
.dragdrop__progress .progress-status {
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
  font-size: 20px;
}
.dragdrop__progress_state_loading .progress-status {
  color: #dcdccd;
}
.dragdrop__progress_state_finish .progress-status {
  color: #d47a00;
}
.dragdrop_state_begin .dragdrop__photos,
.dragdrop_state_begin .dragdrop__progress {
  display: none;
}
.dragdrop_state_photos .dragdrop-section {
  border-style: solid;
}
.dragdrop_state_photos .dragdrop__photos {
  display: block;
}
.dragdrop_state_photos .dragdrop__text {
  width: 225px;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 20px;
  line-height: 25px;
  top: 0;
  margin: auto;
}
.dragdrop_hovered_yes .dragdrop-section {
  border-style: solid;
}
.dropdown {
  background: #fff;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  position: relative;
  border-radius: 2px;
}
.dropdown_open .dropdown-switch {
  border-color: #dcdccd;
}
.dropdown_open .dropdown-list {
  opacity: 1;
  visibility: visible;
  display: block;}

.dropdown.has-select select {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 0;
  opacity: 0;
  width: 100%;}

.dropdown.has-select option {
  color: #90908d;
  font: 14px 'PT Sans';
  padding: 0 10px;}

.dropdown-switch {
  transition: all 0.1s linear;
  display: block;
  padding-left: 10px;
  color: #d47a00;
  border: 1px solid #fff;
  text-decoration: none;
  border-radius: 2px;
  height: 40px;
  line-height: 40px;
  position: relative;
  box-sizing: border-box;
}
.dropdown-switch:before {
  content: "";
  position: absolute;
  right: 10px;
  height: 100%;
  width: 10px;
  top: 0;
  background: image-url("arrow/arrow-bottom.png") no-repeat 50% 50%;
}
.dropdown-switch:hover {
  color: #d47a00;
  cursor: pointer;
}
.dropdown-switch:active {
  background: #fbfcfc;
}
.dropdown-list {
  box-shadow: 0 0 0 1px rgba(220,220,205,0.5);
  transition: all 0.1s linear;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  position: relative;
  border-radius: 4px;
  top: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 10;
  padding: 10px 0;
  margin-top: 15px;
  display: none;
  max-height: 230px;
  overflow: auto;
}
.dropdown-list:before {
  position: absolute;
  top: -12px;
  width: 22px;
  height: 12px;
  right: 15px;
  content: "";
  background: image-url("arrow/arrow-dropdown.png") no-repeat 50% 50%;
}
.dropdown-list li {
  line-height: 30px;
  height: 30px;
  padding: 0 10px;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  color: #90908d;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dropdown-list li.active {
  color: #d47a00;
}
.dropdown-list li:focus,
.dropdown-list li:hover {
  color: #d47a00;
}
.dropdown-list li:active {
  color: #d47a00;
}
.form__row {
  margin-bottom: 20px;
}
.form__row:last-child {
  margin-bottom: 0;
}
.form__label {
  color: #4d4d4d;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  min-height: 24px;
  margin-bottom: 10px;
}
.form__label .icon-info{
  margin-left: 5px
}
.form__more {
  line-height: 40px;
  height: 40px;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  float: right;
  color: #90908d;
}
.form__more a{
  padding-left: 10px
}
.form_product_add {
  width: 700px;
  position: relative;
}
.form_product_add .form__label {
  font-size: 14px;
  padding-top: 10px;
}
.form_product_add .form-section:first-child {
  padding-top: 0;
}
.form_product_add .form-section:last-child {
  box-shadow: none;
}
.form_product_add .checkbox__label {
  color: #4d4d4d;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
}
.form_product_add .icon-video {
  font-size: 16px;
  margin-right: 5px;
  color: #d87b2c;
}
.form_product_add .icon-info {
  font-size: 16px;
  margin-left: 10px;
  vertical-align: top;
}
.form_product_add .icon-info:hover {
  color: #d77829;
}
.form_product_add .hand-made {
  padding-top: 40px;
}
.form_product_add .year__wrap {
  width: 70px;
  float: left;
}
.form_product_add .color__wrap {
  float: right;
  width: 130px;
}
.form_login{
  padding-top: 20px;
}
.form_login .icon-info {
  font-size: 16px;
  color: #efefef;
  margin-left: 5px;
}
.form_login .icon-info:hover {
  color: #d77829;
}
.form_reg, .new_user, .recovery_popup {
  padding-top: 40px;
}
.form_reg .step-back {
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
  line-height: 40px;
}
.form_reg .submit__wrap {
  margin-bottom: 40px;
}
.form_reg .icon-info {
  font-size: 16px;
  color: #efefef;
  margin-left: 5px;
}
.form_reg .icon-info:hover {
  color: #d77829;
}
.form_message .inputbox_type_textarea,
.form_message .inputbox_type_textarea .inputbox__input {
  height: 130px !important;
}
.form_message .form__label {
  color: #90908d;
}
.form-section {
  padding-top: 35px;
  padding-bottom: 40px;
  box-shadow: 0 1px #dcdccd;
  position: relative;
}
.form-section__head {
  color: #90908d;
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding-bottom: 15px;
}
.form-section__sub {
  color: #90908d;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 20px;
  margin-top: -15px;
}
.form-section__more {
  font-size: 14px;
  font-weight: 400;
  color: #90908d;
}

.form-section .list-check {
  width: 275px;
  position: absolute;
  left: 100%;
  margin-left: 35px;
  top: 118px;
}

.form-social {
  height: 30px;
  line-height: 30px;
  white-space: nowrap;
  vertical-align: middle;
}
.form-social__two {
  float: right;
  text-align: right;
}
.form-social__one {
  padding-left: 50px;
}
.form-social__one .ios-check {
  vertical-align: middle;
}
.form-social__text {
  color: #4d4d4d;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
}
.form-social__text,
.form-social__one,
.form-social__two {
  vertical-align: middle;
  width: 33%;
  box-sizing: border-box;
  display: inline-block;
}
.fotorama__arr:focus:after,
.fotorama__fullscreen-icon:focus:after,
.fotorama__html,
.fotorama__img,
.fotorama__nav__frame:focus .fotorama__dot:after,
.fotorama__nav__frame:focus .fotorama__thumb:after,
.fotorama__stage__frame,
.fotorama__stage__shaft,
.fotorama__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.fotorama--fullscreen,
.fotorama__img {
  max-width: 99999px !important;
  max-height: 99999px !important;
  min-width: 0 !important;
  min-height: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  padding: 0 !important;
}
.fotorama__wrap .fotorama__grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.fotorama__grabbing * {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}
.fotorama__spinner {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
}
.fotorama__wrap--css3 .fotorama__arr,
.fotorama__wrap--css3 .fotorama__fullscreen-icon,
.fotorama__wrap--css3 .fotorama__nav__shaft,
.fotorama__wrap--css3 .fotorama__stage__shaft,
.fotorama__wrap--css3 .fotorama__thumb-border,
.fotorama__wrap--css3 .fotorama__video-close,
.fotorama__wrap--css3 .fotorama__video-play {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.fotorama__caption,
.fotorama__nav:after,
.fotorama__nav:before,
.fotorama__stage:after,
.fotorama__stage:before,
.fotorama__wrap--css3 .fotorama__html,
.fotorama__wrap--css3 .fotorama__nav,
.fotorama__wrap--css3 .fotorama__spinner,
.fotorama__wrap--css3 .fotorama__stage,
.fotorama__wrap--css3 .fotorama__stage .fotorama__img,
.fotorama__wrap--css3 .fotorama__stage__frame {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.fotorama__arr:focus,
.fotorama__fullscreen-icon:focus,
.fotorama__nav__frame {
  outline: 0;
}
.fotorama__arr:focus:after,
.fotorama__fullscreen-icon:focus:after,
.fotorama__nav__frame:focus .fotorama__dot:after,
.fotorama__nav__frame:focus .fotorama__thumb:after {
  content: '';
  border-radius: inherit;
  background-color: rgba(0,175,234,0.5);
}
.fotorama__wrap--video .fotorama__stage,
.fotorama__wrap--video .fotorama__stage__frame--video,
.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html,
.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img,
.fotorama__wrap--video .fotorama__stage__shaft {
  -webkit-transform: none !important;
  transform: none !important;
}
.fotorama__wrap--css3 .fotorama__nav__shaft,
.fotorama__wrap--css3 .fotorama__stage__shaft,
.fotorama__wrap--css3 .fotorama__thumb-border {
  transition-property: -webkit-transform, width;
  transition-property: transform, width;
  transition-timing-function: cubic-bezier(0.1, 0, 0.25, 1);
  transition-duration: 0ms;
}
.fotorama__arr,
.fotorama__fullscreen-icon,
.fotorama__no-select,
.fotorama__video-close,
.fotorama__video-play,
.fotorama__wrap {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fotorama__select {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.fotorama__nav,
.fotorama__nav__frame {
  margin: auto;
  padding: 0;
}
.fotorama__caption__wrap,
.fotorama__nav__frame,
.fotorama__nav__shaft {
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
}
.fotorama__nav__frame,
.fotorama__thumb-border {
  box-sizing: content-box;
}
.fotorama__caption__wrap {
  box-sizing: border-box;
}
.fotorama--hidden,
.fotorama__load {
  position: absolute;
  left: -99999px;
  top: -99999px;
  z-index: -1;
}
.fotorama__arr,
.fotorama__fullscreen-icon,
.fotorama__nav,
.fotorama__nav__frame,
.fotorama__nav__shaft,
.fotorama__stage__frame,
.fotorama__stage__shaft,
.fotorama__video-close,
.fotorama__video-play {
  -webkit-tap-highlight-color: transparent;
}
.fotorama__arr,
.fotorama__fullscreen-icon,
.fotorama__video-close,
.fotorama__video-play {
  background: image-url("fotorama/fotorama.png") no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 2dppx) {
  .fotorama__arr,
  .fotorama__fullscreen-icon,
  .fotorama__video-close,
  .fotorama__video-play {
    background: image-url("fotorama/fotorama@2x.png") 0 0/96px 160px no-repeat;
  }
}
.fotorama__thumb {
  background-color: #7f7f7f;
  background-color: rgba(127,127,127,0.2);
}
@media print {
  .fotorama__arr,
  .fotorama__fullscreen-icon,
  .fotorama__thumb-border,
  .fotorama__video-close,
  .fotorama__video-play {
    background: none !important;
  }
}
.fotorama {
  min-width: 1px;
  overflow: hidden;
}
.fotorama:not(.fotorama--unobtrusive)>*:not(:first-child) {
  display: none;
}
.fullscreen {
  width: 100% !important;
  height: 100% !important;
  max-width: 100% !important;
  max-height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  background: #000;
}
.fotorama--fullscreen {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  float: none !important;
  z-index: 2147483647 !important;
  background: #000;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
}
.fotorama--fullscreen .fotorama__nav,
.fotorama--fullscreen .fotorama__stage {
  background: #000;
}
.fotorama__wrap {
  -webkit-text-size-adjust: 100%;
  position: relative;
  direction: ltr;
  z-index: 0;
}
.fotorama__wrap--rtl .fotorama__stage__frame {
  direction: rtl;
}
.fotorama__nav,
.fotorama__stage {
  overflow: hidden;
  position: relative;
  max-width: 100%;
}
.fotorama__wrap--pan-y {
  -ms-touch-action: pan-y;
}
.fotorama__wrap .fotorama__pointer {
  cursor: pointer;
}
.fotorama__wrap--slide .fotorama__stage__frame {
  opacity: 1 !important;
}
.fotorama__stage__frame {
  overflow: hidden;
}
.fotorama__stage__frame.fotorama__active {
  z-index: 8;
}
.fotorama__wrap--fade .fotorama__stage__frame {
  display: none;
}
.fotorama__wrap--fade .fotorama__fade-front,
.fotorama__wrap--fade .fotorama__fade-rear,
.fotorama__wrap--fade .fotorama__stage__frame.fotorama__active {
  display: block;
  left: 0;
  top: 0;
}
.fotorama__wrap--fade .fotorama__fade-front {
  z-index: 8;
}
.fotorama__wrap--fade .fotorama__fade-rear {
  z-index: 7;
}
.fotorama__wrap--fade .fotorama__fade-rear.fotorama__active {
  z-index: 9;
}
.fotorama__wrap--fade .fotorama__stage .fotorama__shadow {
  display: none;
}
.fotorama__img {
  opacity: 0;
  border: none !important;
}
.fotorama__error .fotorama__img,
.fotorama__loaded .fotorama__img {
  opacity: 1;
}
.fotorama--fullscreen .fotorama__loaded--full .fotorama__img,
.fotorama__img--full {
  display: none;
}
.fotorama--fullscreen .fotorama__loaded--full .fotorama__img--full {
  display: block;
}
.fotorama__wrap--only-active .fotorama__nav,
.fotorama__wrap--only-active .fotorama__stage {
  max-width: 99999px !important;
}
.fotorama__wrap--only-active .fotorama__stage__frame {
  visibility: hidden;
}
.fotorama__wrap--only-active .fotorama__stage__frame.fotorama__active {
  visibility: visible;
}
.fotorama__nav {
  font-size: 0;
  line-height: 0;
  text-align: center;
  display: none;
  white-space: nowrap;
  z-index: 5;
}
.fotorama__nav__shaft {
  position: relative;
  left: 0;
  top: 0;
  text-align: left;
}
.fotorama__nav__frame {
  position: relative;
  cursor: pointer;
}
.fotorama__nav--dots {
  display: block;
}
.fotorama__nav--dots .fotorama__nav__frame {
  width: 18px;
  height: 30px;
}
.fotorama__nav--dots .fotorama__nav__frame--thumb,
.fotorama__nav--dots .fotorama__thumb-border {
  display: none;
}
.fotorama__nav--thumbs {
  display: block;
}
.fotorama__nav--thumbs .fotorama__nav__frame {
  padding-left: 0 !important;
}
.fotorama__nav--thumbs .fotorama__nav__frame:last-child {
  padding-right: 0 !important;
}
.fotorama__nav--thumbs .fotorama__nav__frame--dot {
  display: none;
}
.fotorama__dot {
  display: block;
  width: 4px;
  height: 4px;
  position: relative;
  top: 12px;
  left: 6px;
  border-radius: 6px;
  border: 1px solid #7f7f7f;
}
.fotorama__nav__frame:focus .fotorama__dot:after {
  padding: 1px;
  top: -1px;
  left: -1px;
}
.fotorama__nav__frame.fotorama__active .fotorama__dot {
  width: 0;
  height: 0;
  border-width: 3px;
}
.fotorama__nav__frame.fotorama__active .fotorama__dot:after {
  padding: 3px;
  top: -3px;
  left: -3px;
}
.fotorama__thumb {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.fotorama__nav__frame:focus .fotorama__thumb {
  z-index: 2;
}
.fotorama__thumb-border {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  border-style: solid;
  border-color: #00afea;
  background-image: linear-gradient(to bottom right, rgba(255,255,255,0.25), rgba(64,64,64,0.1));
}
.fotorama__caption {
  position: absolute;
  z-index: 12;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}
.fotorama__caption a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid;
  border-color: rgba(0,0,0,0.5);
}
.fotorama__caption a:hover {
  color: #333;
  border-color: rgba(51,51,51,0.5);
}
.fotorama__wrap--rtl .fotorama__caption {
  left: auto;
  right: 0;
}
.fotorama__wrap--no-captions .fotorama__caption,
.fotorama__wrap--video .fotorama__caption {
  display: none;
}
.fotorama__caption__wrap {
  background-color: #fff;
  background-color: rgba(255,255,255,0.9);
  padding: 5px 10px;
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.fotorama__wrap--css3 .fotorama__spinner {
  -webkit-animation: spinner 24s infinite linear;
  animation: spinner 24s infinite linear;
}
.fotorama__wrap--css3 .fotorama__html,
.fotorama__wrap--css3 .fotorama__stage .fotorama__img {
  transition-property: opacity;
  transition-timing-function: linear;
  transition-duration: 0.3s;
}
.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html,
.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img {
  opacity: 0;
}
.fotorama__select {
  cursor: auto;
}
.fotorama__video {
  top: 32px;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 10;
}
@-moz-document url-prefix() {
  .fotorama__active {
    box-shadow: 0 0 0 transparent;
  }
}
.fotorama__arr,
.fotorama__fullscreen-icon,
.fotorama__video-close,
.fotorama__video-play {
  position: absolute;
  z-index: 11;
  cursor: pointer;
}
.fotorama__arr {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  margin-top: -16px;
  background: image-url("fotorama/arrow-right.svg") no-repeat 50% 50%;
}
.fotorama__arr--prev {
  left: 2px;
}
.fotorama__arr--next {
  right: 2px;
  background: image-url("fotorama/arrow-left.svg") no-repeat 50% 50%;
}
.fotorama__arr--disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.1;
}
.fotorama__fullscreen-icon {
  width: 32px;
  height: 32px;
  top: 2px;
  right: 2px;
  z-index: 20;
  background: image-url("fotorama/fullscreen.svg") no-repeat 50% 50%;
}
.fotorama__arr:focus,
.fotorama__fullscreen-icon:focus {
  border-radius: 50%;
}
.fotorama__video-play {
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  margin-left: -48px;
  margin-top: -48px;
  background-position: 0 -64px;
  opacity: 0;
}
.fotorama__wrap--css2 .fotorama__video-play,
.fotorama__wrap--video .fotorama__stage .fotorama__video-play {
  display: none;
}
.fotorama__error .fotorama__video-play,
.fotorama__loaded .fotorama__video-play,
.fotorama__nav__frame .fotorama__video-play {
  opacity: 1;
  display: block;
}
.fotorama__nav__frame .fotorama__video-play {
  width: 32px;
  height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  background-position: -64px -32px;
}
.fotorama__video-close {
  width: 32px;
  height: 32px;
  top: 0;
  right: 0;
  z-index: 20;
  opacity: 0;
}
.fotorama__wrap--css2 .fotorama__video-close {
  display: none;
}
.fotorama__wrap--css3 .fotorama__video-close {
  -webkit-transform: translate3d(32px, -32px, 0);
  transform: translate3d(32px, -32px, 0);
}
.fotorama__wrap--video .fotorama__video-close {
  display: block;
  opacity: 1;
}
.fotorama__wrap--css3.fotorama__wrap--video .fotorama__video-close {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon {
  opacity: 0;
}
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr:focus,
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:focus {
  opacity: 1;
}
.fotorama__wrap--video .fotorama__arr,
.fotorama__wrap--video .fotorama__fullscreen-icon {
  opacity: 0 !important;
}
.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,
.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon {
  display: none;
}
.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr:focus,
.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:focus {
  display: block;
}
.fotorama__wrap--css2.fotorama__wrap--video .fotorama__arr,
.fotorama__wrap--css2.fotorama__wrap--video .fotorama__fullscreen-icon {
  display: none !important;
}
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:not(:focus) {
  -webkit-transform: translate3d(32px, -32px, 0);
  transform: translate3d(32px, -32px, 0);
}
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev:not(:focus) {
  -webkit-transform: translate3d(-48px, 0, 0);
  transform: translate3d(-48px, 0, 0);
}
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--next:not(:focus) {
  -webkit-transform: translate3d(48px, 0, 0);
  transform: translate3d(48px, 0, 0);
}
.fotorama__wrap--css3.fotorama__wrap--video .fotorama__fullscreen-icon {
  -webkit-transform: translate3d(32px, -32px, 0) !important;
  transform: translate3d(32px, -32px, 0) !important;
}
.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--prev {
  -webkit-transform: translate3d(-48px, 0, 0) !important;
  transform: translate3d(-48px, 0, 0) !important;
}
.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--next {
  -webkit-transform: translate3d(48px, 0, 0) !important;
  transform: translate3d(48px, 0, 0) !important;
}
.fotorama__wrap--css3 .fotorama__arr:not(:focus),
.fotorama__wrap--css3 .fotorama__fullscreen-icon:not(:focus),
.fotorama__wrap--css3 .fotorama__video-close:not(:focus),
.fotorama__wrap--css3 .fotorama__video-play:not(:focus) {
  transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
  transition-duration: 0.3s;
}
.fotorama__nav:after,
.fotorama__nav:before,
.fotorama__stage:after,
.fotorama__stage:before {
  content: "";
  display: block;
  position: absolute;
  text-decoration: none;
  top: 0;
  bottom: 0;
  width: 10px;
  height: auto;
  z-index: 10;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 1px 100%, 5px 100%;
}
.fotorama__nav:before,
.fotorama__stage:before {
  background-image: linear-gradient(transparent, rgba(0,0,0,0.2) 25%, rgba(0,0,0,0.3) 75%, transparent), radial-gradient(farthest-side at 0 50%, rgba(0,0,0,0.4), transparent);
  background-position: 0 0, 0 0;
  left: -10px;
}
.fotorama__nav.fotorama__shadows--left:before,
.fotorama__stage.fotorama__shadows--left:before {
  left: 0;
}
.fotorama__nav:after,
.fotorama__stage:after {
  background-image: linear-gradient(transparent, rgba(0,0,0,0.2) 25%, rgba(0,0,0,0.3) 75%, transparent), radial-gradient(farthest-side at 100% 50%, rgba(0,0,0,0.4), transparent);
  background-position: 100% 0, 100% 0;
  right: -10px;
}
.fotorama__nav.fotorama__shadows--right:after,
.fotorama__stage.fotorama__shadows--right:after {
  right: 0;
}
.fotorama--fullscreen .fotorama__nav:after,
.fotorama--fullscreen .fotorama__nav:before,
.fotorama--fullscreen .fotorama__stage:after,
.fotorama--fullscreen .fotorama__stage:before,
.fotorama__wrap--fade .fotorama__stage:after,
.fotorama__wrap--fade .fotorama__stage:before,
.fotorama__wrap--no-shadows .fotorama__nav:after,
.fotorama__wrap--no-shadows .fotorama__nav:before,
.fotorama__wrap--no-shadows .fotorama__stage:after,
.fotorama__wrap--no-shadows .fotorama__stage:before {
  display: none;
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.icon-usd,
.icon-wallet:before,
.icon-return:before,
.icon-arrow:before,
.icon-car:before,
.icon-inform:before,
.icon-cancel:before,
.icon-check:before,
.icon-checkup,
.icon-delivery:before,
.icon-edit:before,
.icon-eye:before,
.icon-facebook:before,
.icon-gear:before,
.icon-google:before,
.icon-heart:before,
.icon-info:before,
.icon-mail:before,
.icon-pin:before,
.icon-plus:before,
.icon-remove:before,
.icon-search:before,
.icon-site:before,
.icon-tag:before,
.icon-twitter:before,
.icon-user:before,
.icon-video:before,
.icon-vk:before {
  display: inline-block;
  font-family: "Icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-usd:before {
  font-family: 'PT Sans';
  content: "$";
}

.icon-arrow:before {
   content: "\f162"
}

.icon-cancel:before {
   content: "\f138"
}

.icon-car:before {
   content: "\f163"
}

.icon-check:before {
   content: "\f15a"
}

.icon-checkup:before {
   content: "\f161"
}

.icon-delivery:before {
   content: "\f13b"
}

.icon-edit:before {
   content: "\f2bf"
}

.icon-eye:before {
   content: "\f133"
}

.icon-facebook:before {
   content: "\f13c"
}

.icon-gear:before {
   content: "\f15b"
}

.icon-google:before {
   content: "\f145"
}

.icon-heart:before {
   content: "\f141"
}

.icon-info:before {
   content: "\f160"
}

.icon-inform:before {
   content: "\f164"
}

.icon-mail:before {
   content: "\f15c"
}

.icon-pin:before {
   content: "\f2a6"
}

.icon-plus:before {
   content: "\f218"
}

.icon-remove:before {
   content: "\f14f"
}

.icon-return:before {
   content: "\f165"
}

.icon-search:before {
   content: "\f21f"
}

.icon-site:before {
   content: "\f156"
}

.icon-tag:before {
   content: "\f15d"
}

.icon-twitter:before {
   content: "\f157"
}

.icon-user:before {
   content: "\f15e"
}

.icon-video:before {
   content: "\f158"
}

.icon-vk:before {
   content: "\f15f"
}

.icon-wallet:before {
   content: "\f166"
}

.inputbox {
  height: 40px;
  position: relative;
  border-collapse: separate;
  box-sizing: border-box;
  border-radius: 2px;
  background: #fff;
}
.inputbox__input {
  color: #4d4d4d;
  font-family: "PT Sans";
  font-size: 14px;
  width: 100%;
  position: relative;
  z-index: 1;
  height: 40px;
  margin: 0;
  padding: 5px 10px;
  outline: none;
  border: 1px solid #fff;
  background: none;
  box-sizing: border-box;
  transition: all 0.3s;
  border-radius: 2px;
}
.inputbox__in {
  font-family: "PT Sans";
  font-size: 14px;
  width: 100%;
  position: relative;
  z-index: 1;
  height: 40px;
  margin: 0;
  padding: 0px 10px;
  outline: none;
  border: 1px solid #fff;
  background: none;
  box-sizing: border-box;
  transition: all 0.3s;
  border-radius: 2px;
}
.inputbox__input::-webkit-input-placeholder {
  font-family: "PT Sans";
  color: #90908d;
}
.inputbox__input::-moz-placeholder {
  font-family: "PT Sans";
  color: #90908d;
}
.inputbox__input:disabled,
.inputbox__input:disabled:hover {
  opacity: 0.6;
  cursor: default;
}
.inputbox__input:focus {
  background: #fff;
  border-color: #dcdccd;
}
.inputbox_type_textarea {
  height: 130px;
}
.inputbox_type_textarea .inputbox__input {
  height: 130px;
  resize: none;
}
.inputbox_style_dark {
  background: #efefef;
}
.inputbox_style_dark .inputbox__input {
  border-color: #efefef;
}
.inputbox_info_yes .inputbox__input {
  padding-left: 30px;
}
.inputbox_info_yes .inputbox__info {
  position: absolute;
  left: 0;
  z-index: 2;
  top: 0;
  line-height: 40px;
  height: 40px;
  width: 30px;
  color: #d8d8d7;
  text-align: center;
}
.inputbox_action_yes .inputbox__input {
  padding-right: 40px;
}
.inputbox_action_yes .inputbox__action {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 40px;
  height: 40px;
  width: 40px;
  z-index: 2;
  text-align: center;
}
.inputbox_action_yes .inputbox__action .icon-check {
  color: #0ea451;
}
.inputbox_error .inputbox__input,
.has-error .error {
  border: 2px solid #ed6250;
}

.dropdown_error .dropdown__input,
.has-error .dropdown-switch,
.dragdrop-section.has-error {
  border: 2px solid #ed6250;
}
.dragdrop-section.has-error .dragdrop__text {
  color: #ed6250;}

.inputbox_error .inputbox__error,
.has-error .form-error {
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
  background: #ed6250;
  color: #fff;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  margin-top: 18px;
  border-radius: 2px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
}
.inputbox_error .inputbox__error:before,
.has-error .form-error:before {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  margin-top: -9px;
  height: 10px;
  background: image-url("arrow/arrow-error.png") no-repeat 50% 50%;
}
.ios-check_type_vk .ios-check__checkbox:checked + .ios-check__label .ios-check__label-switch {
  background-color: #5a81ac;
}
.ios-check_type_fb .ios-check__checkbox:checked + .ios-check__label .ios-check__label-switch {
  background-color: #3c599a;
}
.ios-check_type_none {
  white-space: nowrap;
}
.ios-check_type_none .ios-check__on {
  display: none;
}
.ios-check_type_none .ios-check__checkbox:checked + .ios-check__label .ios-check__on {
  display: inline;
}
.ios-check_type_none .ios-check__checkbox:checked + .ios-check__label .ios-check__off {
  display: none;
}
.ios-check {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 30px;
  display: inline-block;
}
.ios-check__label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  padding: 0;
}
.ios-check__label-inner {
  width: 200%;
  margin-left: -100%;
  transition: margin 0.1s ease-in 0s;
}
.ios-check__label-inner:before,
.ios-check__label-inner:after {
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 22px;
  font-size: 16px;
  color: #fff;
  box-sizing: border-box;
}
.ios-check__label-inner:before {
  content: "";
  padding-left: 8px;
  background-color: #dcdcce;
  color: #fff;
}
.ios-check__label-inner:after {
  content: "";
  padding-right: 8px;
  background-color: #dcdcce;
  font-size: 26px;
  color: #fff;
  text-align: right;
}
.ios-check__label-switch {
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  width: 90px;
  height: 30px;
  border-radius: 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  color: #fff;
  background-color: #c0c0bb;
  transition: all 0.1s ease-in 0s;
  color: #fff;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
}
.ios-check__label-text {
  position: absolute;
  left: 100%;
  margin-left: 16px;
  white-space: nowrap;
  display: block;
  color: rgba(34,36,37,0.65);
}
.ios-check__checkbox {
  opacity: 0;
  display: none;
}
.ios-check__checkbox:checked + .ios-check__label .ios-check__label-text {
  color: rgba(34,36,37,0.98);
}
.ios-check__checkbox:checked + .ios-check__label .ios-check__label-inner {
  margin-left: 0;
}
.ios-check__checkbox:checked + .ios-check__label .ios-check__label-switch {
  right: -20px;
  background-color: #57b679;
}
.ios-check__checkbox:disabled + .ios-check__label {
  opacity: 0.3;
  cursor: default;
}
.layout {
  padding-top: 60px;
  min-width: 980px;
  padding-bottom: 500px;
}
.layout-filters {
  width: 220px;
  float: left;
  margin-top: 0;
}
.layout-bricks {
  width: 720px;
  float: right;
  margin-top: 31px;
}
.layout-page {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

.board_text h1{
  text-align: center;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 26px;
  color: #d37900;

}
.layout-small {
  width: 460px;
  margin: 0 auto;
  position: relative;
}
.pagination {
  width: 100%;
  text-align: center;
  margin-left: 9px;
  padding-top: 80px;
}
.pagination li {
  display: inline-block;
  margin: 0 2px;
}
.pagination li a {
  display: block;
  padding: 10px 15px;
  text-align: center;
  width: 100%;
  color: #d37900;
  font-size: 14px;
  border-radius: 2px;
  box-sizing: border-box;
  border: 1px solid #d37900;
}
.pagination li a:hover {
  background-color: #d37900;
  color: #fff;
}
.pagination .active a {
  background-color: #d37900;
  color: #fff;
  cursor: default;
}

.popover {
  position: relative;
  display: inline-block;
}
.popover_open .popover-content {
  display: block;
}
.popover_arrow_right .popover-content:before {
  right: 15px;
}
.popover-content {
  margin-top: 20px;
  width: 350px;
  display: none;
  right: 0;
  position: absolute;
  top: 100%;
  background: #fff;
  z-index: 5;
  padding: 30px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dcdccd;
  box-sizing: border-box;
}
.popover-content:before {
  position: absolute;
  top: -12px;
  width: 22px;
  height: 12px;
  content: "";
  background: image-url("arrow/arrow-dropdown.png") no-repeat 50% 50%;
}
.popover-content .radio {
  margin-bottom: 15px;
}
.popover-content .radio__label {
  color: #4d4d4d;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
}
.popover-action {
  line-height: 30px;
}
.popover-action .popover__action {
  display: inline-block;
  vertical-align: top;
  color: #90908d;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
}
.popover__head {
  color: #d47a00;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}
.body-popup_open {
  overflow: hidden;
}
.popup-overlay {
  z-index: 29;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #1f2b2d;
  background: rgba(31,43,45,0.5);
  opacity: 1;
  display: none;
}
.popup {
  display: none;
  top: 0px;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: 31;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  overflow-y: scroll;
  overflow-x: auto;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}
.popup_size_500 .popup__wrap {
  width: 500px;
}
.popup:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.popup_open {
  visibility: inherit;
  opacity: 1;
  top: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition: all 0.1s linear;
}
.popup__error {
  height: 60px;
  line-height: 60px;
  background-color: #e9644a;
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 100%;
  width: 100%;
  left: 0;
  margin-bottom: 20px;
}
.popup__error:after {
  content: "";
  background: image-url("arrow/arrow-error-2.png") no-repeat 50% 0;
  height: 8px;
  width: 16px;
  left: 0;
  right: 0;
  top: 100%;
  position: absolute;
  margin: auto;
}
.popup__wrap {
  display: inline-block;
  width: 340px;
  text-align: left;
  box-sizing: border-box;
  padding: 30px 40px;
  background: #fff;
  position: relative;
  border-radius: 2px;
  vertical-align: middle;
  margin: 100px 0;
}

.popup__wrap_sent {
  display: inline-block;
  width: 340px;
  height: 500px;
  text-align: left;
  box-sizing: border-box;
  padding: 30px 40px;
  background: #fff;
  position: relative;
  border-radius: 2px;
  vertical-align: middle;
  margin: 100px 0;
}
.popup__head_sent h4{
  color: #d47a00;
  font-family: "PT Sans";
  font-size: 24px;
  font-weight: 700;
}
.popup__head_sent {
  color: #d47a00;
  font-family: "PT Sans";
  font-size: 24px;
  padding: 200px 0 0 14px;
  font-weight: 700;
}

.popup__head {
  color: #d47a00;
  font-family: "PT Sans";
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
}
.popup__head i {
  font-weight: normal;
  font-size: 20px;
}
.popup__close {
  color: #d47a00;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 40px;
  z-index: 5;
}
.progress {
  height: 20px;
  background-color: #dcdccd;
  position: relative;
  border-radius: 2px;
}
.progress-bar {
  border-radius: 2px;
  background-color: #d47a00;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.radio {
  position: relative;
  padding-left: 25px;
}
.radio__input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
}
.radio__input:checked + .radio__label:after {
  opacity: 1;
}
.radio__input:disabled + .radio__label {
  color: #90908d;
}
.radio__label {
  color: #d47a00;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
}
.radio__label:after {
  content: "";
  background: #d77829;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 4px;
  top: 4px;
  opacity: 0;
}
.radio__label:before {
  content: "";
  border: 1px solid #d77829;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 0;
  top: 0;
}
.tab-pane {
  display: none;
}
.tab-pane.active {
  display: block;
}
.product-price{
  color: #90908D;
  font-family: PT Sans;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1;
  color: #4d4d4d;
}
.product-price span{
  font-size: 20px;
  color: #90908d;
  text-transform: uppercase;

}
.product-tabs .nav-tabs li {
  display: inline-block;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 700;
  background-color: #dcdccd;
  margin-right: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.product-tabs .nav-tabs li a {
  color: #fff;
}
.product-tabs .nav-tabs li.active {
  background: #fff;
}
.product-tabs .nav-tabs li.active a {
  color: #d47a00;
}
.product-tabs .tab-content {
  background: #fff;
  padding-left: 20px;
  padding-right: 10px;

  padding-top: 35px;
  padding-bottom: 40px;
}
.product-tabs .tab-content p {
  color: #4d4d4d;
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 25px;
}
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
  font-family: "PT Sans";
  visibility: visible;
  opacity: 0;
}
.tooltip.in {
  opacity: 0.9;
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  border-radius: 4px;
  text-align: left;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.brick-item {
  width: 220px;
  background-color: #fff;
  padding-bottom: 15px;
  float: left;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  transition: all linear 0.2s;

}
.brick-item:hover{
  background: #1e2b2d;
}
.brick-item__bottom{
  position: relative;

}
.brick-item__bottom:before{
  background: #fff;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  padding-top: 12px;
  padding-bottom: 20px;
  top: -17px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.brick-item:hover .brick-item__photo{
  opacity: .4;

}
.brick-item__photo {
  max-width: 100%;
  margin-bottom: 12px;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  transition: all linear 0.2s;
}
.brick-item__title {
  color: #4d4d4d;
  font-size: 16px;
  padding-left: 11px;
  padding-bottom: 7px;
  position: relative;
}
.brick-item__price {
  color: #d37900;
  font-size: 18px;
  font-weight: 700;
  padding-left: 11px;
  position: relative;

}
.brick-item.cap{
  padding:90px 30px 30px;
  width: 160px;
  height: 201px;
  text-align: center;
  position: relative;
  background: #efefef;
}
.brick-item.cap span{
  position: absolute;
  bottom: 50px;
  left: 30px;
  width: 160px;
  color: #90908d;
  font-size: 16px;
}
.brick-item.cap:hover span{
  color: #d98513;
}
.bricks_type_similar {
  margin-left: -20px;
}
.bricks_type_similar .brick-item {
  width: 140px;
}
.bricks_type_similar .brick-item__title {
  font-size: 14px;
  height: 32px;
  overflow: hidden;
}
.bricks_type_similar .brick-item__photo {
  margin-bottom: 0;
}
.bricks_type_similar .brick-item__price {
  font-size: 14px;
}
.filter-item {
  width: 200px;
  padding: 22px 0px 27px 20px;
  background-color: #fff;
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
}
.filter-item__header h1{
  color: #d37900;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 18px;
  padding-right: 10px;
  text-align: center;
}
.filter-item__head {
  color: #d37900;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 18px;
  display: inline-block;
  padding-right: 10px;
}
.filter-list {
  color: #8f8f8d;
}
.filter-list ul{
  padding-left: 20px;
  padding-top: 5px;
  margin-bottom: -5px;
}
.filter-list li a{
  display: inline-block;
}
.filter-list li {
  padding-bottom: 6px;
  display: inline-block;
}
.filter-list li.hover{
  background: #f1f1ea;
}
.filter-list li .filter-list_category_subcategory.hover{
  display: block;
}

.filter-list li .link-grey {
  color: #8f8f8d;
}
.filter-list_category>li a{
  width: 195px;
  display: inline-block;
  font-size: 14px;
  overflow: hidden;
  position: relative;
}


.filter-list_category{
  margin-left: -10px;
}
.filter-list_category li{
  height: 26px;
  float: left;
  width: 100%;
  padding-left: 10px;
  line-height: 26px;
  padding-bottom: 0;
}

.filter-list li .link-grey:hover {
  color: #d37900;
}
.wraper_subcategory{
  position: absolute;
  left: 220px;
  display: none;
  top: 0;
  width: 740px;
  z-index: 1;
  height: 100%;
  background: none;
}
.wraper_subcategory.hover{
  display: block;
}

.filter-list_category_subcategory{
  float: left;
  vertical-align: top;
  z-index: 1;
  background-color: #fff;
  width: 450px;
  padding: 0 !important;
  border-left: 1px solid #f1f1ea;
  height: 100%;
}

.filter-list_category_subcategory.other{
  width: 284px;
}
.filter-list_category_subcategory .wraper_icon_category{
  background: #f4f4f3;
  margin: 30px;
  position: relative;
}
.filter-list_category_subcategory .wraper_icon_category img{
  width: 110px;
  height: 110px;
  margin: 20px;
  display: inline-block;
}

.filter-list_category_subcategory .filter-subcategory__head{
  color: #d47a00;
  font-weight: bold;
  font-size: 18px;
  padding: 28px 0 20px 30px;
}
.filter-list_category_subcategory .wraper_icon_category .filter-subcategory__head{
  color: #90908d;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 230px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}
.filter-list_category_subcategory .wraper_icon_category .filter-subcategory__head a:before{
  display: none;
}
.filter-list_category_subcategory .filter-list__title{
  font-size: 14px;
  //width: 410px;
  height: 16px;
}
.filter-list_category_subcategory.other .filter-list__title{
  //width: 230px
}
.filter-list_category_subcategory li{
  padding-left: 30px;
  padding-bottom: 10px;
  width: 190px;
  height: 14px;
  line-height: 14px;
  display: inline-block;
}
.filter-list_category_subcategory li:nth-child(5){
  display: inline-block;
}
.filter-list_category_subcategory li:last-child{
  padding-bottom: 40px
}
.filter-list__title {
  font-size: 14px;
  float: left;
  width: 150px;
  padding-right: 4px
}
.filter-list__count {
  float: right;
  width: 10px;
  font-size: 14px;
  margin-right: 8px;
  text-align: right;
  color: #8f8f8d;
  direction:rtl;
}
.filter-list .checkbox {
  width: 155px;
  float: left;
  box-sizing: border-box;
}
.filter-more__link {
  color: #d37900;
  font-size: 16px;
  margin-left: 26px;
}
.add {
  outline: 1px solid #d37900;
  background: none;
}
.add-title:before {
  width: 35px;
  height: 24px;
  display: block;
  content: '';
  background-image: image-url("icon/fire_title.png");
  float: left;
  background-repeat: no-repeat;
  background-position: 2px 5px;
}
.add-item {
  position: relative;
  width: 180px;
  height: 140px;
  border-radius: 2px;
  margin-bottom: 20px;
}
.add-item:hover .hide-box {
  opacity: 1;

}
.add-pic {
  width: 100%;
}
.add-link {
  border-radius: 2px;
  background-color: #d98513;
  color: #fff;
  font-size: 14px;
  width: 95px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  vertical-align: baseline;
  line-height: 40px;
}
.add-link:hover {
  color: #fff;
}
.add .hide-box {
  opacity: 0;
  transition: all linear 0.2s;


  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  background-color: rgba(31,43,54,0.4);
}
.footer {
  margin-top: -420px;
  min-width: 980px;
  min-height: 290px;
}
.seo_category{
  color: #b0b0a7;
  font-size: 12px;
  line-height: 18px;
  width: 700px;
  float: right;
  margin-bottom: 50px;
}

.footer_layout{
  background-color: #1f2b2d;
  padding: 80px 0 50px;
  min-height: 290px;
}
.footer-logo {
  float: left;
  margin-right: 50px;
  margin-top: 10px
}

.footer-logo>img {
  vertical-align: middle
}
.btn-currency {
  display: inline-block;
  width: 80px;
  margin-left: 40px;
  border: 1px solid #d47a00;
  border-radius: 2px;
}
.footer-logo .btn-currency:hover {
  background: #d47a00;
}
.filtering__currency .btn-currency {
  margin-left: 20px
}
.btn-currency:hover a {
  color: #fff;
  cursor: pointer;
}
.btn-currency:hover {
  background: #d47a00;
}
.btn-currency a {
  display: block;
  text-align: center;
  line-height: 38px;
}

.btn-currency-top{
  display: inline-block;
  line-height: 39px;
  position: relative;
  top: 40px;
  z-index: 2;
  border: 1px solid #d47a00;
  border-radius: 2px;
  width: 80px;
  margin-left: 25px;
  text-align: center;

}
.btn-currency-top:hover a{
  color: #fff;
}
.btn-currency-top:hover {
  background: #d47a00;
  cursor: pointer;
}
.footer-sign {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding-top: 8px;
  float: left;
  margin-right: 49px;
}
.footer .inputbox {
  width: 350px;
  float: left;
  margin-right: 10px;
}
.footer .button {
  padding: 0 10px;
}
.footer-col {
  width: 25%;
  padding-top: 71px;
  float: left;
}
.footer-title {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 20px;
}
.footer-list li {
  padding-bottom: 10px;
  color: #d98513;
}
.footer-list a {
  color: #90908d;
}
.footer-list a:hover {
  color: #d98513;
}
.footer-social{
  margin-bottom: 18px
}
.footer-social:after{
  content: "";
  clear: both;
  display: block;
}
.footer-social li {
  float: left;
  margin-right: 10px;
}
.footer-social i {
  font-size: 32px;
}

.footer-list li.made_by {
  color: rgb(144, 144, 141);
}

.footer-list .made_by a{
  position: relative;
}
.footer-list .made_by a:after{
  content: "";
  width: 100%;
  left: 0;
  position: absolute;
  bottom: 0;
  border-bottom: 2px solid #90908d;
}
.footer-list .made_by a:hover:after{
  border-color: #d47a00;
}

.header-top {
  background-image: image-url("bg/bg_header.jpg");
  height: 300px;
  padding-top: 33px;
  box-sizing: border-box;
}
.header-top__title {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 8px;
}
.header-top__link {
  color: #d37900;
  font-size: 14px;
  margin-right: 25px;
}
.header-top__link i {
  font-size: 18px;
  margin-right: 7px;
}
.header-bottom {
  margin-top: -150px;
  margin-bottom: 60px;
}
.header-bottom__item {
  position: absolute;
  right: 54px;
  top: 18px;
  font-size: 20px;
  color: #fff;
  opacity: 0.5;
}
.header-bottom__remove {
  right: 19px;
}
.header-bottom .layout-page {
  background-color: #fff;
  padding-bottom: 35px;
  min-height: 265px;
}
.header-bottom__edit {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #8f8f8d;
}
.header-bottom__title {
  color: #8f8f8d;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-left: 21px;
}
.header-bottom__text {
  color: #4d4d4d;
  font-size: 16px;
  padding-left: 21px;
  padding-right: 21px;
}
.header-bottom__text .icon-edit {
  color: #dcdccd;
}
.header-bottom .pre-text {
  color: #d7d7d7;
}
.header-bottom .pre-text .icon-edit {
  color: #efefef;
}
.header-bottom__btn {
  float: right;
  margin: -5px 20px 0 0;
}
.header-bottom__btn a {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}
.main-pic {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  overflow: hidden;
  display: inline-block;
  content: '';
  box-sizing: border-box;
  clear: both;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.no_product {
  text-align: center;
  margin-bottom: 100px;
}
.no_product-icon {
  font-size: 130px;
  color: #dcdccd;
  display: inline-block;
  padding-bottom: 8px;
}
.no_product-text {
  color: #dbdbcc;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 33px;
}
.good-top_wrap {
  margin: 40px 0 20px 0;
}
.good-top_wrap .good-search {
  width: 220px;
  float: left;
}
.good-top_wrap .grid-item {
  width: 220px;
  float: right;
}
.good-item {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
}
.good-item > a{
  width: 110px;
  height: 110px;
  display: block;
  float: left;
}
 .good-item > a:hover{
    background: #1e2b2d;
}
 .good-item > a:hover img{ opacity: .4;
 }
.good-item__img {
  width: 110px;
  height: 110px;
  float: left;
}

.good-item__info {
  margin-left: 20px;
  float: left;
  width: 420px;
  padding-top: 6px;
}
.good-item__info .info-head {
  color: #4d4d4d;
  font-size: 16px;
  padding-bottom: 15px;
}
.good-item__info .info-line {
  color: #8f8f8d;
  font-size: 14px;
}
.good-item__info .info-head:hover,
.good-item__info .info-head a:hover{
   text-decoration: none;
   color: #e38e1c;
 }
.good-item__data {
  float: left;
  padding-top: 6px;
}
.good-item__data .data-amount {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
}
.good-item__data .data-state {
  padding-bottom: 5px;
}
.good-item__data .data-state .ios-check__label-switch {
  color: #fff;
}
.good-item__data .data-line {
  padding: 1px 0;
  color: #8f8f8d;
  font-size: 14px;
}
.good-item__action {
  float: right;
}
.good-item__action .action-delete,
.good-item__action .action-edit,
.good-item__action .popover {
  float: right;
  clear: both;
  font-size: 18px;
  padding: 1px;
  padding-bottom: 15px;
  color: #d8d8d7;
}
.good-item__action .action-delete:hover,
.good-item__action .action-edit:hover{
  color: #e38e1c;
}
.good-item__action .popover {
  padding: 0;
}
.good-item__action .dropdown-switch {
  background-color: #d47a00;
  color: #fff;
  line-height: 30px;
  height: 30px;
}
.good-item__action .dropdown-switch:before {
  background-image: image-url("arrow/arrow-bottom_white.png");
}
.goods__wrap .pagination {
  text-align: center;
}
.favorite-item {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
}
.favorite-item > a{
  width: 110px;
  height: 110px;
  display: block;
  float: left;
}
.favorite-item > a:hover{
    background: #1e2b2d;
}
.favorite-item > a:hover img{ opacity: .4;
}
// .favorite-item__photo{
//   width: 110px;
//   height: 110px;
//   float: left;
// }

.favorite-item__img {
  width: 110px;
  height: 110px;
  float: left;
}
.favorite-item__info {
  margin-left: 20px;
  float: left;
  width: 420px;
  padding-top: 6px;
}
.favorite-item__info .info-head {
  color: #4d4d4d;
  font-size: 16px;
  padding-bottom: 15px;
}
.favorite-item__info .info-head:hover,
.favorite-item__info .info-head a:hover{
  text-decoration: none;
  color: #e38e1c;
}
.favorite-item__info .info-line {
  color: #8f8f8d;
  font-size: 14px;
}
.favorite-item__data {
  float: left;
  padding-top: 6px;
}
.favorite-item__data .data-amount {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
}
.favorite-item__data .data-state {
  padding-bottom: 35px;
  margin-left: 20px;
}
.favorite-item__data .data-state .ios-check__label-switch {
  color: #fff;
  cursor: pointer;
}
.favorite-item__data .data-line {
  padding: 1px 0;
  color: #8f8f8d;
  font-size: 14px;
}
.favorite-item__action {
  float: right;
}
.favorite-item__action a {
  float: right;
  clear: both;
  font-size: 18px;
  padding: 1px;
  padding-bottom: 15px;
  color: #d8d8d7;
}
.favorite-item__action a:hover{
  text-decoration: none;
  color: #e38e1c;
}
.favorites__wrap .pagination {
  text-align: center;
}
.list-messages li {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 17px;
  padding-top: 15px;
  position: relative;
}
.list-messages li:last-child {
  border-bottom: none;
}
.list-messages li:hover .message__delete {
  opacity: 1;
}
.message__name {
  color: #8f8f8d;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 3px;
}
.message__text {
  color: #8f8f8d;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.message__date {
  color: #8f8f8d;
  font-size: 14px;
}
.message__delete {
  position: absolute;
  right: -28px;
  top: 50%;
  margin-top: -30px;
  font-size: 20px;
  padding: 15px 0px 15px 28px;
  opacity: 0;
}
.new_messages .message__name {
  color: #d37900;
}
.new_messages .message__text {
  color: #4d4d4d;
}
.new_messages .message__date {
  color: #8f8f8d;
}
.new_messages:before {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d47a00;
  content: "";
  position: absolute;
  left: -35px;
  top: 20px;
}
.layout-small .pagination a {
  padding: 10px;
}
.dialog__wrap {
  padding-top: 40px;
}
.dialog__back {
  padding-bottom: 30px;
}
.dialog__back span {
  font-size: 21px;
  vertical-align: baseline;
}
.dialog__head {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: bold;
  padding-left: 10px;
  padding-bottom: 35px;
}
.dialog-item {
  padding-bottom: 38px;
  position: relative;
}
.dialog-item__text {
  color: #4d4d4d;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 7px;
  padding-left: 10px;
}
.dialog-item__footer {
  padding-left: 10px;
}
.dialog-item__footer a {
  font-weight: bold;
  font-size: 14px;
}
.dialog-item__date {
  font-size: 14px;
  color: #90908d;
  display: inline-block;
}
.dialog-item_type_my {
  padding-left: 0;
}
.dialog-item_type_my .dialog-item__text {
  background-color: #e6e6db;
  padding: 0 10px;
}
.dialog-item__avatar {
  width: 65px;
  height: 65px;
  border-radius: 65px;
  position: absolute;
  top: -3px;
  left: -85px;
}
.shop-top__title {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}
.shop-top__text {
  color: #8f8f8d;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 28px;
  box-shadow: 0 1px #dcdccd;
}
.shop-top__btn {
  padding-top: 27px;
  padding-bottom: 12px;
}
.grid-about .inputbox_type_textarea {
  height: 80px;
  margin-bottom: 10px;
}
.grid-about .inputbox_type_textarea .inputbox__input {
  height: 80px;
}
.form_shop .form-section:last-child {
  box-shadow: none;
}
.form_shop .adress__wrap {
  width: 60px;
  float: left;
}
.form_shop .zip__wrap {
  width: 140px;
  float: right;
}
.grip_inside {
  margin-bottom: 12px;
}
.grip-pay .form__label {
  margin-bottom: 22px;
}
.grip-pay .checkbox {
  margin-bottom: 10px;
}
.grid-return {
  margin-top: 28px;
}
.grid-return .inputbox_type_textarea {
  height: 160px;
  margin-bottom: 10px;
}
.grid-return .inputbox_type_textarea .inputbox__input {
  height: 160px;
}
.grid-messages-top {
  text-align: right;
}
.grid-messages-top .button {
  padding: 0 15px;
}
.messages-top__wrap {
  margin-bottom: 40px;
}
.head-1 {
  margin-top: 50px;
  color: #d47a00;
  font-family: "PT Sans";
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  height: 60px;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(2,3,3,0.2);
}
.header-user {
  position: absolute;
  right: 0;
  top: 10px;
}
.header-search {
  width: 290px;
  left: 280px;
  top: 10px;
  position: absolute;
}
.header-button {
  position: absolute;
  right: 70px;
  top: 10px;
}
.header-button i {
  position: relative;
  left: -10px;
  margin-right: -5px;
}
.header-button .button__text {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.header-menu {
  position: absolute;
  right: 0;
  line-height: 40px;
  top: 10px;
}
.header-menu .header-button {
  position: static;
}
.header-menu li {
  float: left;
  padding-left: 20px;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.header-menu li > a {
  color: #4d4d4d;
  position: relative;
}
.header-menu li > a:hover {
  color: #d77829;
}
.header-menu li > a:hover:before {
  background: #d77829;
  content: "";
  height: 2px;
  position: absolute;
  bottom: -21px;
  width: 100%;
}
.header-logo {
  position: absolute;
  left: 0;
  top: 20px;
}
.header-tab__wrap {
  background: #353535;
}
.header-tab {
  height: 120px;
  margin-bottom: 40px;
  text-align: justify;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
}
.header-tab i {
  font-size: 30px;
  display: block;
}
.header-tab__item {
  display: inline-block;
  text-align: center;
  position: relative;
  height: 90px;
  padding-top: 30px;
  vertical-align: middle;
  width: 120px;
  color: #90908d;
}
.header-tab__item:before {
  position: absolute;
  width: 31px;
  height: 16px;
  right: 0;
  left: 0;
  margin: auto;
  background: image-url("arrow/arrow-header.png") no-repeat 50% 50%;
  bottom: -2px;
}
.header-tab__item:hover {
  color: #d47a00;
}
.header-tab__item._active {
  color: #d47a00;
}
.header-tab__item._active:before {
  content: "";
}
.header-tab__text {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
}
.social-login__head {
  color: #4d4d4d;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 24px;
}
.social-login__item {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding-left: 20px;
}
.social-login .clearfix {
  margin-left: -20px;
}
.social-login_popup {
  padding-top: 20px;
  box-shadow: inset 0 1px #efefef;
}
.login-dont {
  line-height: 40px;
  margin-bottom: 15px;
  padding-top: 15px;
  color: #90908d;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
}
.grid_cols_3 {
  margin-left: -20px;
}
.grid_cols_3 .grid-item {
  float: left;
  width: 220px;
  margin-left: 20px;
}
.grid_cols_3 .grid-item_col_2 {
  width: 460px;
}
.user {
  position: relative;
}
.user-notify {
  position: absolute;
  width: 18px;
  height: 18px;
  line-height: 18px;
  left: 100%;
  background-color: #d47a00;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-family: "PT Sans";
  font-size: 12px;
  font-weight: 400;
}
.user-avatar {
  width: 38px;
  height: 38px;
  opacity: 0.65;
  overflow: hidden;
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  transition: all 0.25s ease;
}
.user-avatar:hover{
  opacity: 1;
}
.control-user .arrow{
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  cursor: pointer;
  background: image-url("arrow/arrow-bottom_grey.png") no-repeat 83% 48%;
}
.user-avatar__img {
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
.user-menu {
  box-shadow: 0 0 0 1px rgba(220,220,205,0.5);
  width: 170px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  top: 65px;
  margin-top: 30px;
  right: -10px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
.user-menu.visible{
  opacity: 1;
  top: 50px;
  visibility: visible;
  transition: all 0.15s ease;
}
.user-menu:before {
  position: absolute;
  top: -12px;
  width: 22px;
  height: 12px;
  right: 15px;
  content: "";
  background: image-url("arrow/arrow-dropdown.png") no-repeat 50% 50%;
}
.user-menu__top {
  font-family: "PT Sans";
  font-size: 14px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  box-shadow: 0 1px #d8d8d7;
}
.user-menu__name {
  color: #4d4d4d;
  font-weight: 700;
  line-height: 18px;
}
.user-menu__store {
  color: #90908d;
  font-weight: 400;
}
.user-menu__count {
  color: #d47a00;
}
.user-menu li {
  display: block;
}
.user-menu__link {
  padding-left: 25px;
  position: relative;
  line-height: 36px;
  display: block;
  color: #90908d;
  font-weight: 700;
  font-size: 14px;
  transition: all linear 0.2s;
}
.user-menu__link:hover i,
.user-menu__link:hover {
  color: #d47a00;
}
.user-menu__link i {
  font-weight: normal;
  position: absolute;
  line-height: 36px;
  left: 0;
  color: #d8d8d7;
  font-size: 16px;
  transition: all linear 0.2s;

}
.user-menu_open {
  display: block;
}
.thankyou-message__wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  z-index: 4;
}
.thankyou-message__wrap .thankyou-message {
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 46px;
  margin: auto;
  color: #d47a00;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
}
.filtering {
  height: 40px;
  line-height: 40px;
  position: relative;
  margin-bottom: 40px;
}
.filtering__count {
  width: 190px;
  text-indent: 20px;
  color: #90908d;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 700;
}
.filtering__buttons {
  position: absolute;
  left: 150px;
  top: 0;
}
.filtering .button {
  padding: 0 12px;
}
.filtering__price {
  padding-left: 90px;
  position: absolute;
  top: 0;
  right: 80px;
  color: #d47a00;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 14px;
}
.filtering__price .icon-usd {
  font-size: 16px;
}
.filtering__price .filtering-text {
  position: absolute;
  left: 0;
  top: 0;
}
.filtering__price .inputbox {
  width: 70px;
}
.filtering_type_index .filtering__buttons {
  position: static;
  text-align: center;
}
.filtering_type_index .buttons-set {
  display: inline-block;
}
.buttons-set .button{
  margin-right: 5px;
}

.filtering__sort {
  width: 200px;
  position: absolute;
  left: 480px;
  top: 0;
}
.filtering__sort_by{
  width: 200px;
  position: absolute;
  left: 740px;
  top: 0;
}
.filtering__action {
  position: absolute;
  top: 0;
  right: 0;
}
.text-button {
  text-align: center;
  padding: 15px 0;
}
.text-button__text {
  color: #4d4d4d;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
  position: relative;
  top: -5px;
}
.text-button__title {
  color: #d47a00;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 25px;
}
.list-check li {
  padding-left: 25px;
  position: relative;
  line-height: 20px;
  font-size: 14px;
  color: #717170;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}
.list-check li:before {
  font-family: "Icons";
  position: absolute;
  left: 0;
  color: #d57d06;
  content: "\f161";
  display: inline-block;
}
.list-check .list-check__head {
  font-weight: 700;
}
.list-check .list-check__head:before {
  content: none;
}
.change-avatar {
  padding-left: 200px;
  position: relative;
  min-height: 140px;
}
.change-avatar__img {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 140px;
  height: 140px;


}
.change-avatar__action {
  padding-top: 30px;
  margin-bottom: 15px;
}
.change-avatar__action .button {
  margin-right: 5px;
}
.change-avatar__text {
  color: #90908d;
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
.product-right {
  float: right;
  width: 300px;
}
.product-right .product-box {
  margin-bottom: 20px;
}
.product-left {
  width: 620px;
  float: left;
}
.product__head h1 {
  color: #4d4d4d;
  font-family: "PT Sans";
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 10px;
}
.product-info {
  color: #90908d;
  font-family: "PT Sans";
  font-size: 14px;
  margin-bottom: 35px;
}
.product-info li {
  margin-left: 30px;
  float: left;
}
.product-info li:first-child {
  margin-left: 0;
}
.product-info__head {
  font-weight: 400;
}
.product-info__info {
  font-weight: 700;
}
.product-info__info i {
  margin-right: 5px;
  font-size: 16px;
  line-height: 14px;
}
.product-gallery {
  margin-bottom: 50px;
}
.product-gallery .fotorama__stage__shaft,
.product-gallery .fotorama__stage__frame {
  background: #dcdcce;
}
.product-gallery .fotorama__thumb-border {
  opacity: 0;
}
.product-gallery .fotorama__thumb {
  background: #f1f1eb;
}
.product-gallery .fotorama__nav--thumbs {
  margin-top: 10px;
}
.product-gallery img.fotorama__img {
  border-radius: 2px;
}
.product-gallery .fotorama__nav__frame--thumb .fotorama__thumb {
  opacity: 0.7;
  border-radius: 2px;
}
.product-gallery .fotorama__nav__frame--thumb.fotorama__active .fotorama__thumb {
  opacity: 1;
}
.product-about__head {
  color: #d47a00;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}
.product-about__head i {
  margin-right: 5px;
}
.product-about li {
  color: #4d4d4d;
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 30px;
}
.product-about__title {
  display: inline-block;
  width: 120px;
  vertical-align: top;
  font-weight: 700;
}
.product-video {
  margin-bottom: 40px;
}
.product-video iframe {
  display: block;
}
.product-video__head {
  color: #d47a00;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}
.product-video__head i {
  margin-right: 5px;
}
.product-delivery + .product-delivery{
  padding-top: 30px;


}
.product-delivery__head {
  color: #d47a00;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}
.product-delivery__subhead {
  color: #4D4D4D;
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 1;

  font-weight: 700;
  margin-bottom: 12px;

}
.product-delivery__head i {
  margin-right: 5px;
}
.product-delivery__text {
  color: #4d4d4d;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

}
.product-box {
  padding: 20px;
  background: #fff;
  border-radius: 2px;
}
.product-seller__head {
  color: #d47a00;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  position: relative;
  top: -6px;
}
.product-seller__date{
  font-size: 14px;
}
.product-seller__shop {
  font-family: "PT Sans";
  font-size: 16px;
  color: #90908d;
  font-weight: 700;
  line-height: 24px;
}
.product-seller__shop a:hover{
  color: #e38e1c !important;
}
.product-seller__registration,
.product-seller__location {
  line-height: 24px;
  color: #4d4d4d;
  font-weight: 400;
}
.product-seller__location {
  padding-top: 3px;
  margin-bottom: 15px;
}
.product-seller i {
  font-size: 16px;
  margin-right: 5px;
}
.product-share__head {
  color: #90908d;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  position: relative;
  top: -6px;
}
.product-share a {
  line-height: 32px;
  display: inline-block;
  width: 32px;
  height: 32px;
  color: #dcdccd;
  margin-right: 8px;
}
.product-share a i {
  font-size: 32px;
}
.product-share a:hover {
  color: #e38e1c;
}
.product-favorited {
  color: #90908d;
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  font-weight: 400;
  padding-top: 20px;
}
.product-similar {
  margin-top: 100px;
}
.product-similar__head {
  color: #d47a00;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 25px;
}
.product-banner {
  margin-bottom: 20px;
}
.product-banner img {
  display: block;
}
.article-top {
  padding: 60px 0;
  margin-bottom: 60px;
  background-color: #d47a00;
  min-height: 300px;
  box-sizing: border-box;
}
.article-top__text {
  color: #fff;
  font-size: 28px;
  text-transform: uppercase;
  font-family: Intro;
  line-height: 45px;
}
.article__title {
  color: #8f8f8d;
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  display: block;
  padding-bottom: 20px;
}
.article-sub__title {
  font-size: 18px;
  color: #90908d;
  border-bottom: 1px solid #dcdccd;
  padding-bottom: 30px;
  line-height: 29px;
  margin-bottom: 32px;
}
.article__text {
  color: #4d4d4d;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 30px;
}
.article .quote {
  background-color: #e38e1c;
  margin: 0 -60px 31px -40px;
  padding: 40px 20px 40px 40px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 29px;
}
.condition-top {
  padding: 118px 0;
  margin-bottom: 75px;
  box-sizing: border-box;
  background-color: #1f2b2d;
  min-height: 300px;
}
.condition-top__text {
  color: #fff;
  font-size: 58px;
  font-weight: bold;
  line-height: 45px;
}
.condition-sub__title {
  color: #4d4d4d;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 66px;
}
.condition__title,{
  color: #d37900;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 10px;
}
.condition__text {
  color: #4d4d4d;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 20px;
  display: block;
}
.condition-item {
  padding-bottom: 15px;
  border-bottom: 1px solid #dcdccd;
  margin-bottom: 35px;
}
.condition-item:last-child {
  border-bottom: none;
}
.condition-list li {
  list-style-position: inside;
  list-style-type: disc;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 10px;
}
.condition-list__title {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 12px;
}
.faq-top {
  padding: 23px 0;
  margin-bottom: 35px;
  box-sizing: border-box;
  background-color: #1f2b2d;
  min-height: 300px;
}
.faq-top__title {
  color: #fff;
  font-size: 120px;
  font-weight: bold;
  padding-bottom: 15px;
}
.faq-top__text {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.faq-sub__title {
  color: #4d4d4d;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 66px;
}
.faq__title {
  color: #d37900;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 10px;
}
.faq__text {
  color: #4d4d4d;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 20px;
  display: block;
}
.faq-item {
  padding-bottom: 15px;
  border-bottom: 1px solid #dcdccd;
  margin-bottom: 35px;
}
.add-wrapper {
  padding: 95px 0;
}
.add-wrapper .layout__title {
  width: 817px;
}
.add-wrapper .condition-top__text {
  line-height: 60px;
  box-sizing: border-box;
  padding-left: 179px;
  font-size: 59px;
}
.add-tariffs__wrapper {
  margin: -36px 0px 36px -20px;
  padding: 35px 0 33px 167px;
  background-color: #e38e1c;
  background-image: image-url("bg/ad-tariffs.png");
  background-repeat: no-repeat;
  background-position: 40px 41px;
}
.add-tariffs__title {
  color: #fff;
  font-size: 18px;
  padding-bottom: 11px;
}
.add-tariffs__text {
  color: #fff;
  font-size: 14px;
  padding-bottom: 8px;
}
.add-tariffs__item {
  color: #fff;
  font-size: 18px;
  padding-bottom: 8px;
}
.brands-top {
  background-image: image-url("bg/bg_brands.png");
  background-repeat: repeat-x;
  background-position: -265px 52px;
  margin-bottom: 14px;
}
.brands-top__text {
  padding-top: 33px;
  color: #dbdbcc;
  font-size: 160px;
  display: inline-block;
  background-color: #f1f1eb;
  margin-left: -15px;
}
.brands-item {
  box-shadow: 0 1px #dcdccd;
  padding: 33px 0 25px 0;
  display: inline-block;
}
.brands-item:last-child {
  box-shadow: none;
}
.brands_ins {
  padding-bottom: 12px;
}
.brands_ins>a {
  display: inline-block;
  text-transform: uppercase;
  color: #8f8f8d;
  font-size: 18px;
  font-weight: bold;
  vertical-align: -webkit-baseline-middle;
  margin-right: 8px;
}
.brands_ins>a:hover {
  color: #e38e1c;
}
.brands_ins .btn-position {
  display: inline-block;
  float: right;
}
.brands-tab {
  float: left;
  width: 178px;
  margin-right: 10px;
}
.brands-tab a {
  display: inline-block;
  clear: both;
  float: left;
  color: #8f8f8d;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
}
.brands-tab a:hover {
  color: #e38e1c;
}
.brands_location-top {
  background-image: image-url("bg/world.png");
  background-repeat: no-repeat;
  background-position: center 10px;
  margin-bottom: 14px;
  height: 327px;
}
.brands_location-top__text {
  padding-top: 110px;
  color: #4d4d4d;
  font-size: 60px;
  line-height: 62px;
  display: inline-block;
  margin-left: -6px;
}
.brands_location-dropdown {
  width: 220px;
  padding-top: 12px;
}
.brands_location-dropdown__post {
  color: #dbdbcc;
  font-size: 24px;
  padding-top: 33px;
}
.brands_location-tab {
  float: left;
  width: 220px;
  margin-right: 15px;
  padding-top: 20px;
}
.brands_location-tab a {
  display: inline-block;
  clear: both;
  float: left;
  color: #8f8f8d;
  font-size: 14px;
  font-weight: bold;
}
.brands_location-tab a:hover {
  color: #e38e1c;
}
.brands_location-tab span {
  display: inline-block;
  clear: both;
  float: left;
  color: #8f8f8d;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 27px;
}
.page-top {
  padding: 118px 0;
  margin-bottom: 40px;
  box-sizing: border-box;
  background-color: #1f2b2d;
  min-height: 300px;
}
.page-top__text {
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  font-family: Intro;
  font-weight: normal;
  line-height: 45px;
}
.page-banner {
  margin-bottom: 40px;
}
.page-filtering {
  left: 333px;
}
.bricks-premium {
  background-color: #fff;
  margin: -10px;
  margin-top: 0;
}

.bricks-premium .brick-item__title{
  min-height: 40px;
}
.bricks-premium .brick-item__title {
  height: 40px;
  overflow: hidden;
}
.bricks-premium .brick-item__bottom:before{
  background: #d98513;


}

.bricks-premium__title h2{
  color: #d37900;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 70px;
}
.bricks-premium .brick-item {
  margin-left: 10px;
  margin-right: 10px;
}
.bricks-premium .brick-item div {
  color: #fff;
}

.vertical-banners {
  width: 300px;
  height: 500px;
  float: left;
}
.horizontal-banners {
  width: 640px;
  height: 500px;
  float: left;
}
.banner {
  width: 460px;
  height: 120px;
  background-color: #1f2b2d !important;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  float: left;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
.banner:after{
  opacity: 0.7;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  //opacity: 0;
  z-index: 1;
}
.banner:hover:after{
  opacity: 0.5;
  transition: all linear 0.2s;
  background: #1e2b2d;
}
.banner > span{
  z-index: 2;
}
.banner__text {
  color: #fff;
  font-size: 16px;
  font-family: "PT Sans";
  position: absolute;
  left: 30px;
  bottom: 40px;
  right: 30px;
  font-weight: 500
}
.title-text-banner {
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.banner-pedal {
  margin-right: 20px;
}
.main-banner {
  width: 700px;
  height: 260px;
  background-color: #000;
  margin-right: 20px;
  margin-bottom: 20px;
}
.main-banner__text {
  color: #fff;
  font-size: 60px;
  text-transform: uppercase;
  font-family: Intro;
  position: absolute;
  bottom: 0;
  top: 0;
  line-height: 60px;
  height: 60px;
  margin: auto;
  text-align: center;
  width: 100%;
}
.small-banner {
  width: 300px;
  height: 240px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
  margin-left: 20px;
}
.banner-row {
  content: "";
  display: table;
  clear: both;
}
.small-banner__text {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  font-family: Intro;
  position: absolute;
  bottom: 0;
  top: 0;
  line-height: 30px;
  height: 30px;
  margin: auto;
  text-align: center;
  width: 100%;
}
.banner-equipment {
  width: 300px;
  height: 500px;
  background-position: center center !important;
}
.banner-blog {
  width: 620px;
  height: 240px;
  margin-left: 20px;
}

.error404-container {
  text-align: center;
  color: #d47a00;
  padding-top: 101px;
}
.error404-container .button i {
  vertical-align: sub;
}
.error404-title {
  font-size: 160px;
  font-weight: bold;
  line-height: 130px;
  padding-bottom: 20px;
}
.error404-title_sub {
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 13px;
}
.error404-text {
  font-size: 14px;
  padding-bottom: 31px;
}
.last {
  border-bottom: none;
}
.bg-no-repeat {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.bg-center {
  background-repeat: no-repeat;
  background-position: center;
}
.layout__title {
  width: 500px;
}

.wraper-order{
  width: 460px;
  margin: 200px auto;
  background: #fff;
  padding: 35px 40px;
  border-radius:3px;
  position: relative;
}
.wraper-order .title-order{
  font-size: 30px;
  margin-bottom: 40px;
  font-size: 36px;
  font-family: 'PT Sans';
  font-weight: bold;
  color:#353535;
}
.wraper-order .text-order{
  margin-bottom: 40px;
  font-family: 'PT Sans';
  font-size: 16px;
  line-height: 26px;
  color:#353535;
}
.wraper-order .after-text-order{
  position: absolute;
  bottom: -100px;
  width: 460px;
  color:#90908d;
  font-size: 14px;
  line-height: 24px;
}
.wraper-order a.button{
  background: #d47a00;
  color: #fff;
  border: 1px solid #d47a00;
  line-height: 38px;
}
.wraper-order a.button:hover{
  background: #fff;
  color: #d47a00;
  border: 1px solid #d47a00;
}

body .ui-menu .ui-menu-item a {
  line-height: 30px;
  height: 30px;
  padding: 0 10px;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  color: #90908d;
  cursor: pointer;
}
body .ui-menu .ui-menu-item a.ui-state-focus {
  border: 0 none;
  background: #fff;
  color: #d47a00;
  padding: 0 10px;
}

body .ui-widget-content{
  border: 0 none;
  background: #fff;
}
body .ui-autocomplete{
  margin-top: 20px !important;
  box-shadow: 0 0 0 1px rgba(220,220,205,0.5);
}
body .ui-menu .ui-menu-item a.ui-state-focus,
body.ui-menu .ui-menu-item a.ui-state-active{
  margin: 0;

}
.dragdrop-item_active:before {
  content: 'Обложка';
  line-height: 24px;
  height: 24px;
  color: #fff;
  background: rgba(212, 122,0 ,.9);
  position: absolute;
  bottom: 30px;
  width: 100%;
  left: 0;
}

.nosearch{
  text-align: center;
  background: image-url("icon/nosearch_result.png") no-repeat center top;
  padding-top: 160px;
  color: #dcdccd;
  font-size: 24px;
  font-weight: bold;
  width: 520px;
}

.result_name{
  text-align: center;
  color: #90908d;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 40px;
}
#delet_popup .popup__wrap{
  text-align: center;
  width: 450px;
}
#delet_popup .text_del{
  font-size: 18px;
  font-weight: bold;
  color: #d47a00;
  margin: 15px;
}

#delet_popup .button_dell{
  box-shadow: inset 0 0 0 1px #d47a00;
  color: #d47a00;
  background-color: none;
  width: 110px;
  margin: 10px;
  text-align: center;
}
#delet_popup .button_dell:hover{
  background-color: #d47a00;
  color: #fff;
}


.license .bg_block{
  background: image-url("bg/bg-license.jpg") repeat-x left top;
  padding: 100px 0;
  color: #fff;
  font-size: 40px;
  line-height: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

.list_style_license{
  counter-reset: counter_1 0;
  color: #4d4d4d;
  font-size: 14px;
}
.list_style_license li{
  margin: 10px 0
}

.list_style_license>li>ol{
  counter-reset: counter_2 0;
}
.list_style_license>li>ol>li>ol{
  counter-reset: counter_3 0;
}
.list_style_license>li .condition__title{
  margin-top: 40px;
  padding-bottom: 0
}
.list_style_license>li .condition__title:before{
  content: counter(counter_1)". ";
  counter-increment: counter_1;
}
.list_style_license>li>ol>li{
  margin-bottom: 20px;
}
.list_style_license>li>ol>li:before{
  content: counter(counter_1)"."counter(counter_2)". ";
  counter-increment: counter_2;
  font-weight: bold;
}
.list_style_license>li>ol>li>ol>li:before{
  content: counter(counter_1)"."counter(counter_2)"."counter(counter_3)". ";
  counter-increment: counter_3;
  font-weight: bold;
}
.list_style_license ul>li{
  position: relative;
  padding-left: 29px;
  margin: 10px 0;
}

.list_style_license ul>li:before{
  content: "";
  background: image-url("icon/list-orange-marker.png") no-repeat center center;
  width: 4px;
  height: 4px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.license_title2{
  font-weight: bold;
}

.filter_by_category {
  padding: 20px 20px 30px;
  background: #fff;
  margin-top: -60px;
  margin-bottom: 30px;
}

.page-top_filter{
  height: 220px;
  background: image-url("bg/bg_filter.jpg") no-repeat center center;
  background-size: cover !important;
}

.filter_by_category:after{
  content: "";
  display: block;
  clear: both;
}

.filter_by_category a{
  font-size: 11px;
  float: left;
  height: 20px;
  line-height: 18px;
  border-radius: 2px;
  margin: 0 10px 10px 0px;
  box-sizing: border-box;
  position: relative;
  transition: ease 0.25s;
}
.filter_by_category a.category{
  float: left;
  padding: 0 30px 0 5px;
  border-radius: 2px;
  border: 1px solid #d47a00;
  color: #d47a00;
}

.filter_by_category a.category:hover{
  background: #d47a00;
  color: #fff;
}


.filter_by_category a.category:after{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 1px;
  right: 4px;
  background: image-url('icon/close-filter-orange.png') no-repeat center center;
  transition: ease 0.15s;
}

.filter_by_category a.category:hover:after{
  border-radius: 50%;
  background-color: #fff;
}

.filter_by_category a.sub_params{
  float: left;
  height: 20px;
  line-height: 20px;
  padding: 0 30px 0 5px;
  border-radius: 2px;
  background: #f4f4f3;
  color: #90908d;
}

.filter_by_category a.sub_params:after{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 5px;
  right: 5px;
  background: image-url('icon/close-filter-grey.png') no-repeat;
}

.filter_by_category a.sub_params:hover:after{
  background: image-url('icon/close-filter-orange.png') no-repeat;
}

.filter_by_category a.reset_category{
  padding: 0 5px;
  border: 1px solid #90908d;
  color: #90908d;
  transition: ease 0.25s
}

.filter_by_category a.reset_cities{
  padding: 0 5px;
  border: 1px solid #90908d;
  color: #90908d;
  transition: ease 0.25s;
  float: none;
  vertical-align: text-top;
  display: inline-block;
}

.filter_by_category a.reset_category:hover{
  border-color: #d47a00;
}
.filter_by_category .description_filter:before{
  display: block;
  content: "";
  clear: both;
}
.filter_by_category .description_filter{
  color: #90908d;
  font-size: 14px;
  line-height: 20px;
}

.countries_list .countries_item{
  display: inline-block;
  text-align: left;
  width: 21%;
  padding-right: 4%;
  margin-bottom: 30px;
  vertical-align: top;
}
.countries_list .countries_title{
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  color: #4d4d4d;
}
.countries_list .countries_text{
  color: #90908d;
}

.file-errors {
  background: #ed6250;
  border-radius: 5px;
  color: white;
  margin-bottom: 10px;
  padding: 0 10px;

  & > div {
    padding: 5px 0;
    display: none;}

  .file-errors-list {
    display: inline;

    span {
      color: darkRed;

      &:not(:last-child)::after {
        content: ', ';}

      &:first-child::before {
        content: ' ';}
    }
  }
}

.cke_top.cke_top {
  background: none;
  border-color: transparent;
  box-shadow: none;}

.cke_toolgroup.cke_toolgroup {
  background: none;
  border-color: transparent;}

.int_popup__wrap {
  background: #fff none repeat scroll 0 0;
  border-radius: 2px;
  box-sizing: border-box;
  display: inline-block;
  margin: 100px 0;
  padding: 30px 40px;
  position: relative;
  text-align: left;
  vertical-align: middle;
  width: 810px;}

.int_popup_title {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 700;
  padding-left: 10px;}

.block_int_button .button.button_type_default {
  margin: 30px 10px 0;}

.reason-button input {
  display: none;}
.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
.guillotine-window{
  padding-top: 0 !important;
}
.guillotine-canvas{
  height: 100% !important;
  width: 100% !important;
}
.photo{
  height: 100% !important;
  width: 100% !important;
}

.choose-text {
  font-family: "PT Sans";
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #d27a1e;
}

.choose-form {
  padding-top: 20px;
}

.choose-form > input {
  width: auto;
  height: auto;
  font-size: auto;
  margin: 0;
}

.choose-form > input[type=radio]:checked + label {
  color: #fff;
}

.choose-form > input[type=radio] {
  display: none;
}

.choose-form > label {
  display: block;
  cursor: pointer;
  position: relative;
  width: 238px;
  height: 40px;
  margin: 20px 0;
  padding-left: 20px;
  border-radius: 2px;
  font-size: 14px;
  font-family: "PT Sans";
  font-weight: bold;
  color: #d27a1e;
  line-height: 40px;
  z-index: 2;
  border: 1px solid #d27a1e;
}

.choose-form > label:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: #fff;
}

.choose-form > input[type=radio]:checked + label:before {
  background-color: #d27a1e;
}
.active_currency{
  color: #fff !important;
  background-color: #d27a1e;
}
.choose-form > input[type=submit] {
  width: 100%;
  margin-top: 30px;
  border: 0;
  background-color: #d27a1e;
  font-size: 14px;
  font-family: "PT Sans";
  color: #fff;
  line-height: 40px;
  cursor: pointer;
}
.ui-autocomplete{
  max-height: 200px !important;
  overflow-y: auto !important;
}

//.pagination li.disabled {
//  display:none;
//}