doctype html
html
  head
    title
      |Muztochka - Ошибка 404. Страница не найдена
    meta charset="utf-8"
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = Gon::Base.render_data({})
    = csrf_meta_tags
    = favicon_link_tag 'muspoint.ico', type: 'image/png'
  body
    - unless user_signed_in?
      = render 'shared/login'
      = render 'shared/register'
      = render 'shared/new_password'
      = render 'shared/password_recovery'
    = render 'shared/subscribe'
    = render 'shared/feedback'
    .layout
      = render 'shared/header'

      = yield

    footer.footer.clearfix
      .layout-page
        .footer-top.clearfix
          .footer-logo
            = image_tag "logo/logo.svg"
          .footer-sign Подписаться на новости
          = render :partial => "subscribers/form", locals: { subscriber: @footer_subscriber }
        .footer-col
          .footer-title
            | Помощь
          ul.footer-list
            li
              = link_to "Почему Музточка?", why_muzpoint_path, :class => "footer-link"
            li
              = link_to "FAQ", faq_path, :class => "footer-link"
            li
              | © Музточка, 2015
        .footer-col
          .footer-title
            | О нас
          ul.footer-list
            li
              = link_to "О нас", about_path, :class => "footer-link"
            li
              a.footer-link href="" Партнеры
            li
              a.footer-link id="feedback_button_alt" href="" Наши контакты
        .footer-col
          .footer-title
            | Навигация
          ul.footer-list
            li
              a.footer-link href=""  Смотреть по городу
            li
              a.footer-link href=""  Смотреть по региону
            li
              a.footer-link href=""  Смотреть по бренду
        .footer-col
          .footer-title
            | Мы в социальных сетях
          ul.footer-social
            li
              a href="https://twitter.com/Muztochka" target="_blank" rel="nofollow"
                i.icon-twitter
            li
              a href="https://www.facebook.com/muztochka?_rdr" target="_blank" rel="nofollow"
                i.icon-facebook
            li
              a href="https://plus.google.com/+Muztochka/posts" target="_blank" rel="nofollow"
                i.icon-google
            li
              a href="http://vk.com/muztochkacom" target="_blank" rel="nofollow"
                i.icon-vk

