doctype html
html
  head
    = display_meta_tags
    meta http-equiv="content-type" content="text/html; charset=utf-8"
    meta name='yandex-verification' content='6931f3c03ff07d8e'
    meta content='width=device-width' name='viewport'

    = yield :head

    - if @products.blank? or params[:main_filter] or params[:search]
      meta name="robots" content="noindex, nofollow"

    - if params[:page]
      meta name="robots" content="noindex,follow"

    = stylesheet_link_tag 'mobile', media: 'all'
    = javascript_include_tag 'mobile'
    = Gon::Base.render_data({})
    = csrf_meta_tags
    = render "layouts/favicons"


  body
    .wraper
      = render 'layouts/mobile/header'
      .layout
        - unless params[:error].blank?
          .flash-message id="flash__open"
            .flash-message__inner
              = "Аккаунт с таким email уже зарегистрирован"
              a.flash-message__close id="flash__close"
                i.icon-cancel
        = yield

    = render partial: 'layouts/mobile/footer'

    = render 'layouts/google_analytics'
    /= render 'layouts/yandex_metrics'

    noscript
      div
        img [
          src="//mc.yandex.ru/watch/30700073"
          style="position:absolute; left:-9999px;"
          alt=""
        ]
    /- unless user_signed_in?
      /= render 'shared/new_password'
      /= render 'shared/password_recovery'
    /= render 'shared/subscribe'
    = render 'm/feedbacks/feedback_popup'
    /- if user_signed_in?
      /= render 'shared/email_blank'
